<ons-page id="detailEventPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>뒤로가기</ons-back-button></div>
        <div class="center algnCenter"><span class="hTitle"></span></div>
        <div class="right">
            <!-- <ons-toolbar-button class="btnSearchAll">
                <ons-icon fixed-width="false" size="1x">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="search_1_" x="0px" y="0px" viewBox="0 0 105.1 104.7" style="enable-background:new 0 0 105.1 104.7;" xml:space="preserve">
                        <path id="search" class="st0" d="M103.7,96.8L74.2,67.8c-1.7-1.8-4.6-1.8-6.3,0c0,0,0,0,0,0c-0.9,1-1.8,1.9-2.8,2.7  c-6.5,5.2-14.7,7.9-23,7.5C24.5,77.1,10.4,63.3,9.1,45.9c-1.3-19,13-35.5,32.1-36.8s35.5,13,36.8,32.1c0.2,3.4,0,6.9-0.8,10.3  c-0.4,1.6,0.1,3.2,1.3,4.3c1.2,1.1,2.8,1.5,4.3,1c1.6-0.5,2.8-1.7,3.1-3.3c5.5-23.4-9-46.8-32.3-52.3s-46.8,9-52.3,32.3  s9,46.8,32.3,52.3c13,3.1,26.7,0,37.1-8.3l0.3-0.3l26.5,26.2c0.8,0.8,2,1.3,3.2,1.3h0.2c1.2,0,2.4-0.6,3.2-1.5  C105.6,101.2,105.4,98.5,103.7,96.8z"></path>
                    </svg>
                </ons-icon>
            </ons-toolbar-button> -->
        </div>
    </ons-toolbar>
    <div class="card container">
        <ul>
            <li >
                <div class="title"><p class="pTit"></p></div>
                <div class="date">2018년 12월 13일 ~ 2018년 12월 31일</div>
            </li>
        </ul>
        <div class="content">
            <div class="iCt"></div>
            <div class="mCt"></div>
        </div>
    </div>
    <style>

        

        #detailEventPage .container.card {
            position: relative;
            width: 100%;
            border: 1px solid #f2ebe4;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }


        #detailEventPage ul {
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 0;
            margin: 0;
        }

        #detailEventPage ul > li {
            border-bottom: 1px solid #ccc;
            list-style: none;
            padding: 18px 16px 16px 16px;
        }

        #detailEventPage ul > li:last-child {
            border-bottom: none;
        }

        #detailEventPage .title {
            color: #333;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.6;
        }

        .title > p {
            width: 95%;
            height: 22px;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            overflow: hidden;
            margin: 0;
        }

        .date {
            color: #999;
            font-size: 12px;
            margin-top: -2px;
        }
        
        .mCt{
            font-size: 15px;
            padding: 5px;
        }
    </style>

    </ons-page>