<ons-page id="eventListPage">
    <div class="card dataList"></div>
    <div class="after-list"><img src="img\button\ajax-loader.gif" /></div>
    <style>


        #eventListPage .container.card {
            position: relative;
            width: 100%;
            border: 1px solid #f2ebe4;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }

        #eventListPage .card.listItem {
            margin: 0;
            padding:0;
            margin-top: 0.5em;
        }

        #eventListPage .listData p {
            margin:0;
        }

        #eventListPage .notification {
            vertical-align: top;
            font-size: 12px;
            /* left: -10px; */
            top: 0px;
        }

        #eventListPage .list-item__title{
            display:block;
            font-size: 15px;
            margin-bottom: 0.2em;
        }

        #eventListPage .cnts {
            line-height: 20px;
            padding-bottom:1em;
            font-size: 13.5px;
        }
    </style>
</ons-page>