<ons-page id="noticePage">
    
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-i18n="LEFTMENU:EVT_NOTICE">이벤트/공지</div>
        <div class="right"></div>
    </ons-toolbar>

    <ons-tabbar id="noticeTabbar"  modifier="autogrow" position="top" animation="none">
        <ons-tab label="이벤트" page="html/notice/event.html" active class='tab_event'>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.13 85.97">
                <g id="event">
                    <path d="M60.32,36.6l13.62,39L36.2,61.54,60.32,36.6m.82-10.83a6.77,6.77,0,0,0-4.92,2.13L28,57.11A7.34,7.34,0,0,0,30.54,69l44.2,16.49a6.71,6.71,0,0,0,2.41.45,7.23,7.23,0,0,0,6.55-9.71l-16-45.7a7,7,0,0,0-6.61-4.79Z"/>
                    <path d="M43.51,21.07a4.5,4.5,0,0,1-4.32-3.25L35.75,6A4.66,4.66,0,0,1,38.38.31a4.5,4.5,0,0,1,5.95,2.94l3.44,11.84a4.66,4.66,0,0,1-2.61,5.66A4.4,4.4,0,0,1,43.51,21.07Z"/>
                    <path d="M16,49.62a4.51,4.51,0,0,1-1.48-.25l-11.36-4A4.64,4.64,0,0,1,.12,40,4.5,4.5,0,0,1,6,36.84l11.33,4a4.64,4.64,0,0,1,3.05,5.55A4.5,4.5,0,0,1,16,49.62Z"/>
                    <path d="M26,30.72a4.46,4.46,0,0,1-3.23-1.38L7.75,13.8a4.63,4.63,0,0,1-.33-6.18,4.49,4.49,0,0,1,6.66-.21l15,15.5A4.68,4.68,0,0,1,29,29.57,4.49,4.49,0,0,1,26,30.72Z"/>
                </g>
            </svg>
        </ons-tab>
        <ons-tab label="공지사항" page="html/notice/notice.html" class='tab_notice'>
            <svg version="1.1" id="megaphone" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92.5 104" style="enable-background:new 0 0 92.5 104;" xml:space="preserve">
                <path id="event" class="st0" d="M88,0H74c-2.5,0-4.5,2-4.5,4.5c0,0,0,0,0,0v4.2L30.6,25.5H4.5C2,25.5,0,27.5,0,30c0,0,0,0,0,0v26
                c0,2.5,2,4.5,4.5,4.5c0,0,0,0,0,0h10.3l8.2,39.9c0.4,2.1,2.3,3.6,4.4,3.6h17c2.5,0,4.5-2,4.5-4.5c0-0.3,0-0.6-0.1-0.9L42,65.5
                l27.5,11.9v4.2c0,2.5,2,4.5,4.5,4.5c0,0,0,0,0,0h14c2.5,0,4.5-2,4.5-4.5c0,0,0,0,0,0v-77C92.5,2,90.5,0,88,0C88,0,88,0,88,0z
                M10,34.5h16c0.6,0,1,0.4,1,1v15c0,0.6-0.4,1-1,1H10c-0.6,0-1-0.4-1-1v-15C9,34.9,9.4,34.5,10,34.5z M37.8,95H32
                c-0.5,0-0.9-0.3-1-0.8l-6.7-32.5c-0.1-0.5,0.2-1.1,0.8-1.2c0.1,0,0.1,0,0.2,0H31c0.5,0,0.9,0.3,1,0.8l6.7,32.5
                c0.1,0.5-0.2,1.1-0.8,1.2C37.9,95,37.8,95,37.8,95z M36,52.4V33.6c0-0.4,0.2-0.8,0.6-0.9l31.5-13.6c0.5-0.2,1.1,0,1.3,0.5
                c0.1,0.1,0.1,0.3,0.1,0.4v46c0,0.6-0.4,1-1,1c-0.1,0-0.3,0-0.4-0.1L36.6,53.3C36.2,53.1,36,52.8,36,52.4z M82.5,77h-3
                c-0.6,0-1-0.4-1-1V10c0-0.6,0.4-1,1-1h3c0.6,0,1,0.4,1,1v66C83.5,76.6,83.1,77,82.5,77z"/>
            </svg>
        </ons-tab>
    </ons-tabbar>
    <style>
        #noticeTabbar .tabbar__content {
            bottom: 1em;
        }

        #noticeTabbar .list-item__title{
            display:block;
            font-size: 16px;
            margin-top:1em;
            margin-bottom: 0.2em;
        }

        #noticeTabbar span.blue{
            font-size:13px;
        }

        #noticeTabbar img.ytbIco {
            position: absolute;
            right: 1em;
            top: 1em;
            /* width: 9%; */
        }
    </style>
</ons-page>