<ons-page id="noticeListPage" >
    <div class="card dataList"></div>
    <div class="after-list"><img src="img\button\ajax-loader.gif" /></div>
    <style>

        #noticeListPage .container.card {
            position: relative;
            width: 100%;
            border: 1px solid #f2ebe4;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }

        #noticeListPage .card.listItem {
            margin: 0;
            padding:0;
            margin-top: 0.5em;
        }

        #noticeListPage .listData p {
            margin:0;
        }

        #noticeListPage .notification {
            vertical-align: top;
            font-size: 12px;
            /* left: -10px; */
            top: 0px;
        }

        #noticeListPage .list-item__title{
            display:block;
            font-size: 16px;
            margin-top:1em;
            margin-bottom: 0.2em;
        }

        #noticeListPage span.blue{
            font-size:13px;
        }

        #noticeListPage .cnts {
            line-height: 20px;
            padding-bottom:1em;
            font-size: 13.5px;
        }
    </style>
</ons-page>