<ons-page id="configAddrMapPage">
    <div class="card" style="margin-bottom: 10px;margin-top:0.5em;">
        <ons-search-input class="searchAddr" placeholder="주소를 검색하세요" input-id="searchAddrMap"></ons-search-input>
        <ons-button modifier="outline" class="search btnSearchAddr">
            <svg version="1.1" id="search_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 105.1 104.7" style="enable-background:new 0 0 105.1 104.7;" xml:space="preserve">
            <path id="search" class="st0" d="M103.7,96.8L74.2,67.8c-1.7-1.8-4.6-1.8-6.3,0c0,0,0,0,0,0c-0.9,1-1.8,1.9-2.8,2.7
                c-6.5,5.2-14.7,7.9-23,7.5C24.5,77.1,10.4,63.3,9.1,45.9c-1.3-19,13-35.5,32.1-36.8s35.5,13,36.8,32.1c0.2,3.4,0,6.9-0.8,10.3
                c-0.4,1.6,0.1,3.2,1.3,4.3c1.2,1.1,2.8,1.5,4.3,1c1.6-0.5,2.8-1.7,3.1-3.3c5.5-23.4-9-46.8-32.3-52.3s-46.8,9-52.3,32.3
                s9,46.8,32.3,52.3c13,3.1,26.7,0,37.1-8.3l0.3-0.3l26.5,26.2c0.8,0.8,2,1.3,3.2,1.3h0.2c1.2,0,2.4-0.6,3.2-1.5
                C105.6,101.2,105.4,98.5,103.7,96.8z"/>
            </svg>
        </ons-button>
        <ons-button class="btnNowLocation button button--large--cta" modifier="large--cta">
            <i class="fa fa-map-marker"></i>&nbsp;<span data-i18n="LOCATION:NOW_POSTION">현재위치로 설정</span>
        </ons-button>
    </div>
    <div class="card mapArea">
        <span class="watingMsg">
            <span data-i18n="LOCATION:NOW_LOADING">위치정보를 수신중입니다</span>
            <img src="img\button\ajax-loader.gif" />
        </span>
        <div id="addrMap" class="map_canvas" ></div>
        <ons-list class="inList">
            <ons-list-item>
                <ons-input class="addr1" id="mapAddr1" placeholder="현재위치를 지도의 포인트로 선택하여 지정" readonly="readonly" ></ons-input>
            </ons-list-item>
            <ons-list-item>
                <ons-input class="addr2" id="mapAddr2" placeholder="자동입력된 주소를 제외한 나머지상세주소를 정확히 기입"></ons-input>
            </ons-list-item>
            <ons-list-item>
                <span class="example green" data-i18n="LOCATION:SEARCH_RMK1">1. 상단 검색창에서 주소를 검색 후 상세주소를 입력해주세요</span>
                <span class="example green" data-i18n="LOCATION:SEARCH_RMK2">2. 현재위치일 경우 상단 있는 '현재위치로 설정' 버튼을 클릭 후 상세주소를 입력해주세요</span>
            </ons-list-item>
        </ons-list>
    </div>
    
    <ons-bottom-toolbar>
        <ons-button modifier="large" class="btnGoIndexPage"><span data-i18n="COMM:ok">확인</span></ons-button>
    </ons-bottom-toolbar>
    <style>

        ons-progress-circular{
            display:block;
            margin:0 auto;
            text-align:center;
        }

        /* 구글맵은 구글맵객체의 div의 상단 높이 영향을 받음 */
        #configAddrMapPage .mapArea{
            height: calc(100% - 180px);
            margin-bottom: 10px;
        }

        #configAddrMapPage .map_canvas{
            width: 100%;
            /* 최소 높이는 Gallaxy 5S  기준임 */
            min-height: 250px;
            height: 80%;
            margin-top: 0.5em;
        }

        .example{
            font-size: 12px;
            text-align: left;
            padding-left: 14px;
            text-indent: -14px;
            margin: 5px;
            line-height: 15px;
        }

        .watingMsg{
            text-align: center;
            display: block;
            font-size: 13px;
        }

        #configAddrMapPage .card ons-search-input {
            display: block;
            width:60%;
        }

        #configAddrMapPage .card ons-button {
            background: none;
            border: none;
            position: absolute;
            top: 0;
            right: calc(40% + 9px);
        }

        #configAddrMapPage .card ons-button.btnNowLocation{
            right: 0;
            position: absolute;
            width: 38%;
            background: #fff;
            border-color: #FF5E00;
            color: #FF5E00;
            fill: #FF5E00;
            border: 1px solid;
            height: 40px;
            font-size:13px;
        }

        #configAddrMapPage .inList{
            height:200px;
        }

        #configAddrMapPage .addrText{
            font-family: hana_air;
            font-size: 13px;
            display: inline-block;
        }

        #configAddrMapPage .orderHistoryAddr {
            border-bottom: 1px dashed;
            padding:0.2em;
        }
    </style>
</ons-page>