<ons-page id="cfAddrPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-i18n="LOCATION:CONF_ADDR">주소설정</div>
        <div class="right"></div>
    </ons-toolbar>
    <ons-tabbar id="addrTabbar"  modifier="autogrow" position="top" >
        <ons-tab label="지도검색" page="html/config/config_addr_map.html" active class="mapAddr">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 105 106" style="enable-background:new 0 0 105 106;" xml:space="preserve">
                <path id="map" class="st0" d="M102.7,18.6l-32-18l-0.2-0.1l-0.3-0.1c-0.1,0-0.1-0.1-0.2-0.1l-0.3-0.1l-0.3-0.1c-0.1,0-0.2,0-0.3-0.1  h-0.2h-0.3h-0.2h-0.3h-0.2c-0.1,0-0.2,0-0.3,0.1l-0.3,0.1l-0.3,0.1l-0.3,0.1l-0.2,0.1L36.5,17.3L6.7,0.6C4.5-0.6,1.8,0.1,0.6,2.3  C0.2,3,0,3.7,0,4.5v79c0,1.6,0.9,3.1,2.3,3.9l32,18l0.3,0.1c0.2,0.1,0.4,0.2,0.6,0.2l0.2,0.1l0.4,0.1h0.2c0.4,0.1,0.8,0.1,1.2,0h0.2  l0.4-0.1l0.2-0.1c0.2-0.1,0.4-0.1,0.6-0.2l0.3-0.1l29.8-16.8l29.8,16.8c2.2,1.2,4.9,0.5,6.1-1.7c0.4-0.7,0.6-1.4,0.6-2.2v-79  C105,20.9,104.1,19.4,102.7,18.6z M9,12.2l23,12.9v68.7L9,80.9V12.2z M41,25.1l23-12.9v68.7L41,93.8V25.1z M96,93.8L73,80.9V12.2  l23,12.9V93.8z"/>
            </svg>
        </ons-tab>
        <ons-tab label="건물선택" page="html/config/config_addr_hand.html" class="selectAddr">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="building" x="0px" y="0px" viewBox="0 0 87 105" style="enable-background:new 0 0 87 105;" xml:space="preserve">
                <path id="structure" class="st0" d="M72.5,0h-58C6.5,0,0,6.5,0,14.5v76c0,8,6.5,14.5,14.5,14.5h58c8,0,14.5-6.5,14.5-14.5v-76  C87,6.5,80.5,0,72.5,0z M35,96v-9h17v9H35z M78,90.5c0,3-2.5,5.5-5.5,5.5H61V82.5c0-2.5-2-4.5-4.5-4.5c0,0,0,0,0,0h-26  C28,78,26,80,26,82.5c0,0,0,0,0,0V96H14.5c-3,0-5.5-2.5-5.5-5.5v-76c0-3,2.5-5.5,5.5-5.5h58c3,0,5.5,2.5,5.5,5.5V90.5z"/>
                <path id="window4" class="st0" d="M35.5,15h-16C17,15,15,17,15,19.5c0,0,0,0,0,0v16c0,2.5,2,4.5,4.5,4.5c0,0,0,0,0,0h16  c2.5,0,4.5-2,4.5-4.5c0,0,0,0,0,0v-16C40,17,38,15,35.5,15C35.5,15,35.5,15,35.5,15z M31,31h-7v-7h7V31z"/>
                <path id="window3" class="st0" d="M67.5,15h-16C49,15,47,17,47,19.5c0,0,0,0,0,0v16c0,2.5,2,4.5,4.5,4.5c0,0,0,0,0,0h16  c2.5,0,4.5-2,4.5-4.5c0,0,0,0,0,0v-16C72,17,70,15,67.5,15C67.5,15,67.5,15,67.5,15z M63,31h-7v-7h7V31z"/>
                <path id="window2" class="st0" d="M35.5,46h-16C17,46,15,48,15,50.5c0,0,0,0,0,0v16c0,2.5,2,4.5,4.5,4.5c0,0,0,0,0,0h16  c2.5,0,4.5-2,4.5-4.5c0,0,0,0,0,0v-16C40,48,38,46,35.5,46C35.5,46,35.5,46,35.5,46z M31,62h-7v-7h7V62z"/>
                <path id="window1" class="st0" d="M67.5,46h-16C49,46,47,48,47,50.5c0,0,0,0,0,0v16c0,2.5,2,4.5,4.5,4.5c0,0,0,0,0,0h16  c2.5,0,4.5-2,4.5-4.5c0,0,0,0,0,0v-16C72,48,70,46,67.5,46C67.5,46,67.5,46,67.5,46z M63,62h-7v-7h7V62z"/>
            </svg>
        </ons-tab>
    </ons-tabbar>

</ons-page>