<ons-page id="configPage" class="translation">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-i18n="LEFTMENU:MY_CONFIG">환경설정</div>
        <div class="right"></div>
    </ons-toolbar>
    
    <div class="card">
		<ons-list>
			<ons-list-title>App Version <span class="version green" > Checking ... </span></ons-list-title>
				
			<ons-list-title>Language(언어)</ons-list-title>
			<ons-list-item tappable>
				<label class="left">
					<ons-radio name="lang" id="lang_1" input-id="radio-1" value="ko-KR" checked ></ons-radio>
				</label>
				<label class="txtSp" for="radio-1"><img class="flag" src="img/flag/South_Korea.png" /> <span>한국어</span></label>
			</ons-list-item>

			<ons-list-item tappable>
				<label class="left">
					<ons-radio name="lang" id="lang_2" input-id="radio-2" value="vn-VN"  ></ons-radio>
				</label>
				<label class="txtSp" for="radio-2"><img class="flag" src="img/flag/VietNam.png" /> <span>việt nam</span></label>
			</ons-list-item>
			<ons-list-item tappable>
				<label class="left">
					<ons-radio name="lang" id="lang_3" input-id="radio-3" value="en-EN"  ></ons-radio>
				</label>
				<label class="txtSp" for="radio-3"><img class="flag" src="img/flag/UK.png" /> <span>English</span></label>
			</ons-list-item>
		</ons-list>
    </div>
    <div class="card">
		<ons-list>
			<ons-list-title data-i18n="CONF:PUSH_SET" >알림설정</ons-list-title>
			<ons-list-item tappable>    
				<label class="left" for="switchAgreeFCM">
					<ons-switch id="switchAgreeFCM" input-id="switch_fcm"></ons-switch>
				</label>
				<div class="center">
					<label class="txtSp" for="switch_fcm" data-i18n="CONF:PUSH_AGREE"></label>
				</div>
			</ons-list-item>
	    </ons-list>
	</div>
</ons-page>