<ons-page id="configAddrMapHand">
    <div class="card">
        <ons-list>
            <ons-list-item>
                <div class="left">
                    <label data-i18n="LOCATION:CITY">도시명</label>
                </div>
                <div class="center" id="city">
                    <ons-select disabled="disabled">
                        <option value=""><span data-i18n="LOCATION:CITY_MSG">도시를 선택하세요</span></option>
                    </ons-select>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="left">
                    <label data-i18n="LOCATION:LOCAL">지역</label>
                </div>
                <div class="center" id="district">
                    <ons-select disabled="disabled">
                        <option value=""><span data-i18n="LOCATION:LOCAL_MSG">지역을 선택하세요</span></option>
                    </ons-select>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="left">
                    <label data-i18n="LOCATION:BUILDING">건물선택</label>
                </div>
                <div class="center" id="building">
                    <ons-select  disabled="disabled">
                        <option value=""><span data-i18n="LOCATION:BUILDING_MSG">건물을 선택하세요</span></option>
                    </ons-select>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="left">
                    <label data-i18n="LOCATION:STORE">매장</label>
                </div>
                <div class="center" id="branch" >
                    <ons-select disabled="disabled">
                        <option value=""><span data-i18n="LOCATION:STORE_MSG">매장을 선택하세요</span></option>
                    </ons-select>
                </div>
            </ons-list-item>

            <ons-list-item>
                <div class="left">
                    <label data-i18n="CONF:addr1">배달받을 주소</label>
                </div>
                <div class="center">
                    <ons-input class="addr" id="addr1"  readonly="readonly" placeholder="주소는 건물을 선택시 자동으로 입력됩니다" ></ons-input>
                </div>
            </ons-list-item>

            <ons-list-item>
                <div class="left">
                    <label data-i18n="CONF:addr2">배달받을 상세주소</label>
                </div>
                <div class="center">
                    <ons-input class="addr" id="addr2" placeholder="배달받을 상세주소를 입력하세요" ></ons-input>
                </div>
            </ons-list-item>

            <ons-list-item style="height:auto;">
                <div class="left">
                    <label data-i18n="LOCATION:REMARK">지점 특이사항</label>
                </div>
                <div class="center">
                    <textarea class="addr" id="message" placeholder="특이사항" readonly></textarea>
                </div>
            </ons-list-item>
        </ons-list>
    </div>


    <ons-bottom-toolbar>
        <ons-button modifier="large" class="btnGoIndexPage"><span data-i18n="COMM:ok">확인</span></ons-button>
    </ons-bottom-toolbar>
    <style>
        #configAddrMapHand .orderHistoryAddr {
            border-bottom: 1px dashed;
        }

        #configAddrMapHand .recentAddrList .addrText {
            font-family: hana_air;
            font-size: 13px;
        }

        #configAddrMapHand .recentAddrList .orderHistoryAddr{
            padding: 0.2em;
        }

    </style>
</ons-page>