<ons-page id="recentAddrPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center algnCenter"><span data-i18n="LEFTMENU:RCT_ADDR">최근 주문 주소</span></div>
        <div class="right"></div>
    </ons-toolbar>

    <div class="card recentAddrList">
        <ons-list id="list-node" on-infinite-scroll="fn.loadMore"></ons-list>
        <div class="after-list"><img src="img\button\ajax-loader.gif" /></div>
        
    </div>
    
    <style>

#recentAddrPage #list-node {
            padding: 1rem;
        }

        #recentAddrPage #list-node .left{
            width: 80%;
        }
        #recentAddrPage #list-node .center{
            width: 0%;
        }

        #recentAddrPage #list-node .right{
            width: 20%;
        }

        #recentAddrPage #list-node .right ons-button{
            width: 90%;
        }

        #recentAddrPage #list-node .right ons-button {
            width: 70%;
            height: 90%;
            background: #fff;
            border-color: #FF5E00;
            color: #FF5E00;
            fill: #FF5E00;
        }

        #recentAddrPage span.tit {
            margin: 7px 0;
            display: inline-block;
            font-size: 13px;
            font-weight: bold;
        }

        #recentAddrPage .addrText {
            font-size: 13px;
            display: inline-block;
            width: calc(100% - 10px);
            line-height: 18px;
            margin-left: 1em;
            text-indent: -5px;
        }

        #recentAddrPage .addrText.addr2 {
            height: 20px;
        }

        #recentAddrPage .left > ons-label {
            width: 100%;
            text-align: left;
            height: 20px;
        }

        #recentAddrPage .orderHistoryAddr {
            border-bottom: 1px dashed;
            padding:0.2em;
        }

        #recentAddrPage ons-button span {
            font-size: 13px;
        }

    </style>
</ons-page>