<ons-page id="airWeatherPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-i18n="LEFTMENU:NOW_AIR">실시간 미세먼지 현황</div>
        <div class="right"></div>
    </ons-toolbar>

    <div class="card dataList">
        <iframe src="https://www.airvisual.com/earth" width="100%" height="100%" style="position:absolute; left: 0;right: 0;bottom: 0;" frameborder="0"></iframe>
    </div>
</ons-page>