<ons-page id="inQuiryPage">
   
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-i18n="LEFTMENU:REQUEST">입점문의</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="card">
        <ons-list>
            <!--<ons-list-title>문의 정보</ons-list-title>-->
            <ons-list-item class="listItem">
                <label for="name" class="left" data-i18n="INQUERY:INQ_TYPE">문의구분</label>
                <div class="center check radio" data-label="문의종류" data-length="100" data-class="TEXT" >
                    <ons-radio name="inqInquiry" input-id="inqInquiry-1" checked float value='입점문의'></ons-radio>
                    <label for="inqInquiry-1" data-i18n="LEFTMENU:REQUEST">입점문의</label>
                    <ons-radio name="inqInquiry" input-id="inqInquiry-2" float value='기타문의'></ons-radio>
                    <label for="inqInquiry-2" data-i18n="LEFTMENU:CONTACK_INQURY">기타문의</label>
                </div>
            </ons-list-item>
            <ons-list-item class="listItem">
                <label for="name" class="left" data-i18n="INQUERY:INQ_NM">문의자명</label>
                <div class="center">
                    <ons-input class="check" id="name" data-label="문의자명" data-class="TEXT" data-length="35" max-length="35" required  ></ons-input>
                </div>    
            </ons-list-item>

            <ons-list-item class="listItem">
                <label for="name" class="left">KakaoTalk ID</label>
                <div class="center">
                    <ons-input class="check" id="kakao_id" data-label="KakaoTalk ID" data-class="TEXT" data-length="35" max-length="35" required  ></ons-input>
                </div>    
            </ons-list-item>

            <ons-list-item class="listItem">
                <label for="tel" class="left" data-i18n="INQUERY:INQ_TEL">연락처</label>
                <div class="center">
                    <ons-input class="check" id="tel" data-label="연락처" data-class="TEL" data-length="35" max-length="14" type="tel" required ></ons-input>
                </div>    
            </ons-list-item>

            <!-- <ons-list-item class="listItem">
                <label for="inqJobCatetory" class="left" data-i18n="INQUERY:BIZ_TYPE">업종</label>
                <div class="center">
                    <ons-select class="check selectBox" id="inqJobCatetory" data-label="업종" data-class="TEXT" data-length="100" required >
                        <option value="" data-i18n="INQUERY:INP_BIZ_TYPE">업종을 선택하세요</option>
                        <option value="유통" data-i18n="INQUERY:CIRCULATION">유통</option>
                        <option value="판매" data-i18n="INQUERY:SALE">판매</option>
						<option value="기타" data-i18n="INQUERY:ETC">기타</option>
                    </ons-select>
                </div>    
            </ons-list-item>

            <ons-list-item class="listItem">
                <label for="addr1" class="left" data-i18n="INQUERY:ADDR1">주소</label>
                <div class="center">
                    <ons-input class="check" id="addr1" data-label="주소(8자 이상)" data-class="ADDRESS" data-length="100" min-length="8"  max-length="50"  required></ons-input>
                </div>    
            </ons-list-item>
            <ons-list-item class="listItem">
                <label for="addr2" class="left" data-i18n="INQUERY:ADDR2">상세주소</label>
                <div class="center">
                    <ons-input class="check" id="addr2" data-label="상세주소" data-class="ADDRESS" data-length="100" ></ons-input>
                </div>    
            </ons-list-item> -->

            <ons-list-item class="listItem">
                <label for="inqContent" class="left" data-i18n="INQUERY:INQ_CNTN">문의내용</label>
                <div class="center listItemTextArea">
                    <textarea class="check" data-class="TEXT" data-label="문의 내용" data-length="500" min-length="2"  max-length="250"  id="inqContent" ></textarea>
                </div>    
            </ons-list-item>
        </ons-list>
    </div>
    <hr/>
    <div class="card">
		<div class="center" style="margin-top: 20px;">
            <label for="#agreePrivite">
                <ons-checkbox id="agree_privacy" target-id="agreePrivite"> </ons-checkbox> 
                <span data-i18n="INQUERY:AGREE">개인정보 수집 동의</span> 
            </label>
            <p class='green' style="font-size: 11px; text-indent:20px;" data-i18n="INQUERY:AGREE_REMARK">원활한 문의를 위해 문의자명, 연락처, 카카오톡아아디를 보관합니다.</p>
		</div>    
    </div>
    
    <ons-bottom-toolbar class="card buttonArea">
        <ons-button class="btnInquiry" modifier="large" ><span data-i18n="INQUERY:REQUEST_SAVE"></span></ons-button>
    </ons-bottom-toolbar>

</ons-page>