<ons-page id="newsPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-i18n="LEFTMENU:KOR_INFO">한인 소식</div>
        <div class="right"></div>
    </ons-toolbar>

    <div class="card dataList">
        
    </div>
    
	<style>
		#newsPage .flag{
			width:25px;
			vertical-align:middle;
		}

		#newsPage .txtSp span {
			display:inline-block;
			vertical-align:middle;
		}

		#newsPage .listContent{
			width: auto;
			vertical-align: text-bottom;
			display: inline-block;
		} 


		#newsPage .listItem div.left {
			width: 92%;
		}

		#newsPage .notification {
			top:0px;
		}
	</style>
</ons-page>
