<ons-list>
    <ons-list-header>Điều khoản sử dụng thông tin cá nhân </ons-list-header>
    <ons-list-item class="input-items">
        <div id="tab-5" class="tab-content" style="display: block;">
            <div class="stit">Điều 1 [Mục đích]</div>
            <div class="item">
                <div>Điều khoản này nhằm mục đích xác định quyền, nghĩa vụ và trách nhiệm của công ty và người dùng (Sau đây gọi là "người dùng" đề cập đến tất cả người dùng sử dụng dịch vụ WithU) sử dụng dịch vụ WithU (Sau đây gọi là “Dịch vụ”) do WithU và Orukon (Sau đây gọi là “ Công ty hoặc WithU” cung cấp.</div>
            </div>

            <div class="stit">Điều 2 [Hiệu lực và thay đổi điều khoản sử dụng]</div>
            <div class="item">
                <div>Công ty có thể tự do truy cập hầu hết các nội dung mà không cần thông qua quy trình gia nhập thành viên riêng biệt. Tuy nhiên, công ty thu thập thông tin người dùng thông qua dịch vụ thành viên và các chi nhánh để cung cấp các dịch vụ tùy chỉnh. Nếu bạn muốn sử dụng dịch vụ thành viên của công ty, bạn phải nhập các thông tin sau và không hạn chế sử dụng dịch vụ vì bạn không nhập bất kỳ mục tùy chọn nào.
                    Tuy nhiên, công ty có thể thu thập và sử dụng thông tin cá nhân của người dùng mà không cần bất kỳ sự đồng ý nào theo luật pháp và quy định trong các trường hợp sau đây.
                </div>
                <ul>
                    <li>① Điều khoản sử dụng này có hiệu lực bằng cách đồng ý với các hạng mục nêu trong Điều khoản này thông qua dịch vụ WIthU trực tuyến.</li>
                    <li>② Nếu người dùng nhấn vào nút “Đồng ý” của Điều khoản sử dụng này trên trực tuyến, đồng nghĩa với việc bạn đã đọc tất cả nội dung, hiểu đầy đủ về nó và đồng ý áp dụng các điều khoản đó</li>
                    <li>③ Công ty có thể sửa đổi Điều khoản sử dụng này trong phạm vi cho phép mà không vi phạm các luật có liên quan như Luật bảo vệ và sử dụng thông tin vị trí, Luật xúc tiến công nghiệp, Luật bảo vệ người tiêu dùng trong thương mại điện tử, Luật tiêu dùng cơ bản.</li>
                    <li>④ Khi công ty sửa đổi điều khoản, thì điều khoản cũ và điều khoản sửa đổi sẽ được thông báo cùng với ngày hiệu lực của điều khoản sửa đổi và lý do sửa đổi điều khoản 10 ngày trước khi điều khoản mới có hiệu lực. Trong trường hợp điều khoản mới có bất lợi đối với người dùng thì thông báo sẽ được đăng trên trang website của dịch vụ hoặc gửi cho người dùng dưới dạng điện tử (e-mail, SMS, v.v.) 30 ngày trước ngày điều khoản mới có hiệu lực.</li>
                    <li>⑤ Nếu công ty thông báo cho người dùng mà 7 ngày sau ngày điều khoản mới có hiệu lực mà không có sự từ chối nào từ phía người dùng thì điều đó được coi là đã được phê duyệt trong điều khoản sử dụng. Nếu người dùng không đồng ý với các điều khoản sửa đổi, người dùng có thể hủy hợp đồng sử dụng</li>
                </ul>
            </div>

            <div class="stit">Điều 3 (Áp dụng các luật liên quan) </div>
            <div class="item">
                <div>Điều khoản sử dụng này được áp dụng một cách công bằng theo các nguyên tắc thiện chí. Những hạng mục không được quy định trong Điều khoản này sẽ tuân theo luật pháp hoặc phong tục liên quan.</div>
            </div>

            <div class="stit">Điều 4 (Nội dung dịch vụ)</div>
            <div class="item">
                <div>Các dịch vụ được cung cấp bởi công ty như sau.</div>
                <ol class="sitem">
                    <li class="sitem">Tên dịch vụ: WithU</li>
                    <li class="sitem">Nội dung dịch vụ: Đặt hàng trực tuyến / dịch vụ thanh toán để giao đồ ăn
                        <ol class="sitem1">
                            <li class="sitem1">- Kiểm tra vị trí thời gian thực của mục tiêu thu thập thông tin vị trí</li>
                            <li class="sitem1">- Cung cấp thông tin về các cơ sở thực phẩm giao hàng gần với địa điểm của người dùng</li>
                            <li class="sitem1">- Thu thập số điện thoại của người dùng và cung cấp sản phẩm đặt hàng</li>
                        </ol>
                    </li>
                </ol>
            </div>

            <div class="stit">Điều 5 (Phí sử dụng dịch vụ)</div>
            <div class="item">
                <ul>
                    <li>① Dịch vụ do công ty cung cấp về cơ bản là miễn phí. Tuy nhiên, trong trường hợp dịch vụ có tính phí riêng, thì người dùng phải trả phí đó để có thể sử dụng dịch vụ</li>
                    <li>② Công ty có thể tính phí sử dụng dịch vụ thanh toán theo phương thức do công ty thanh toán điện tử đã ký hợp đồng với công ty hoặc bằng cách thêm nó vào hóa đơn thanh toán.</li>
                    <li>③ Việc hủy bỏ và hoàn tiền cho các khoản thanh toán đối với dịch vụ có phí sẽ tuân theo chính sách thanh toán của công ty và các luật liên quan.</li>
                    <li>④ Yêu cầu hoàn lại tiền do người dùng bị đánh cắp thông tin và thanh toán gian lận hoặc yêu cầu thông tin cá nhân của người trả tiền có thể bị từ chối nếu không thuộc phạm vi được pháp luật quy định</li>
                    <li>⑤ Phí truyền thông dữ liệu phát sinh khi sử dụng dịch vụ không dây là riêng biệt và tuân theo chính sách của từng nhà cung cấp dịch vụ di động. Các khoản phí phát sinh khi đăng ký một bài đăng bằng MMS, v.v ... phải tuân theo chính sách của nhà cung cấp dịch vụ di động</li>
                </ul>
            </div>

            <div class="stit">Điều 6 (Thông báo thay đổi nội dung dịch vụ)</div>
            <div class="item">
                <ul>
                    <li>① Khi công ty thay đổi hoặc chấm dứt nội dung dịch vụ, công ty có thể thông báo cho người dùng qua địa chỉ email đã đăng ký về việc thay đổi hoặc chấm dứt nội dung dịch vụ đó</li>
                    <li>② Trong trường hợp thông báo một số lượng lớn người không xác định, người dùng có thể được thông báo qua trang web hoặc thông báo khác của công ty.</li>
                </ul>
            </div>

            <div class="stit">Điều 7 (Hạn chế và đình chỉ sử dụng dịch vụ)</div>
            <div class="item">
                <div>Công ty có thể hạn chế hoặc đình chỉ việc sử dụng dịch vụ của người dùng khi xảy ra bất kỳ trường hợp nào sau đây</div>
                <ul>
                    <li>① Trong trường hợp người dùng cố tình hoặc nghiêm trọng can thiệp vào hoạt động dịch vụ của công ty.</li>
                    <li>② Trường hợp phải kiểm tra, sửa chữa hoặc xây dựng cơ sở thiết bị dịch vụ.</li>
                    <li>③ Khi nhà cung cấp dịch vụ viễn thông được quy định trong luật kinh doanh viễn thông dừng dịch vụ viễn thông.</li>
                    <li>④ Khi có vấn đề với việc sử dụng dịch vụ do tình trạng khẩn cấp quốc gia hoặc sự cố của thiết bị dịch vụ </li>
                    <li>⑤ Nếu Công ty cho rằng việc tiếp tục cung cấp dịch vụ là không phù hợp vì những lý do nghiêm trọng khác, Công ty sẽ thông báo cho người dùng về lý do và thời gian hạn chế dịch vụ</li>
                </ul>
            </div>

            <div class="stit">Điều 8 (Sử dụng hoặc cung cấp thông tin cá nhân)</div>
            <div class="item">
                <ul>
                    <li>① Công ty thu thập và cung cấp thông tin số điện thoại cá nhân của người dùng cho bên thứ ba để tạo điều kiện giao hàng như sau.
                        <table class="section" border="1" cellpadding="1" cellboarder="1">
                            <caption>Thông tin thu thập</caption>
                            <thead>
                            <tr>
                                <th scope="col">Người nhận cung cấp</th>
                                <th scope="col">Mục đích cung cấp</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">Công ty phát triển hệ thống hiện tại</td>
                                <td rowspan="3">Mục đích phát triển và vận hành hệ thống </td>
                            </tr>
                            <!-- <tr>
                                <td scope="row">Delivery Hero </td>
                            </tr>
                            <tr>
                                <td scope="row">이디야</td>
                            </tr> -->
                            </tbody>
                        </table>
                    </li>
                    <li>② Quyền của người dùng và người đại diện theo pháp luật và phương thức thực hiện chúng tùy thuộc vào địa chỉ của người sử dụng tại thời điểm khiếu nại, và nếu không có địa chỉ, tòa án quận, nơi có thẩm quyền đối với nơi cư trú, sẽ là quyền tài phán độc quyền. Tuy nhiên, nếu địa chỉ hoặc nơi cư trú của người dùng không rõ ràng tại thời điểm nộp đơn, hoặc nếu người đó là cư dân nước ngoài, nó sẽ được đệ trình lên tòa án có thẩm quyền theo Luật Tố tụng Dân sự</li>
                    <li>③ Công ty sử dụng thông tin vị trí để tự động giải quyết các khoản phí và xử lý khiếu nại với các doanh nghiệp hoặc khách hàng và tự động ghi lại dữ liệu xác nhận. Dữ liệu được bảo quản và lưu giữ trong 1 năm.</li>
                    <li>④ Khi cung cấp thông tin số điện thoại cho bên thứ ba do người dùng chỉ định, công ty sẽ thông báo ngay cho người dùng thông tin về người nhận, ngày giờ và mục đích cung cấp thông qua thiết bị đầu cuối liên lạc thu thập thông tin số điện thoại cá nhân. Tuy nhiên, trong trường hợp 1 trong mỗi mục sau đây, người dùng sẽ được thông báo bởi thiết bị đầu cuối liên lạc hoặc địa chỉ e-mail được chỉ định trước.
                        <ol>
                            <li class="sitem">Khi thiết bị đầu cuối giao tiếp thu thập thông tin số điện thoại cá nhân không có chức năng nhận văn bản, giọng nói hoặc video</li>
                            <li class="sitem">Khi người dùng đã yêu cầu trước để thông báo bằng cách đăng trực tuyến.</li>
                        </ol>
                    </li>
                </ul>
            </div>

            <div class="stit">Điều 9 (Sử dụng hoặc cung cấp thông tin vị trí cá nhân)</div>
            <div class="item">
                <ul>
                    <li>① Công ty cung cấp thông tin vị trí cá nhân của người dùng cho bên thứ ba để giao hàng như sau.
                        <table class="section" border="1" cellpadding="1" cellboarder="1">
                            <caption>Thông tin cung cấp</caption>
                            <thead>
                            <tr>
                                <th scope="col">Người nhận cung cấp</th>
                                <th scope="col">Mục đích cung cấp</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">Công ty phát triển hệ thống hiện tại</td>
                                <td rowspan="3">Mục đích phát triển và vận hành hệ thống</td>
                            </tr>
                            <!-- <tr>
                                <td scope="row">Delivery Hero </td>
                            </tr>
                            <tr>
                                <td scope="row">이디야</td>
                            </tr> -->
                            </tbody>
                        </table>
                    </li>
                    <li>② Quyền của người dùng và người đại diện theo pháp luật và phương thức thực hiện chúng tùy thuộc vào địa chỉ của người sử dụng tại thời điểm khiếu nại, và nếu không có địa chỉ, tòa án quận, nơi có thẩm quyền đối với nơi cư trú, sẽ là quyền tài phán độc quyền. Tuy nhiên, nếu địa chỉ hoặc nơi cư trú của người dùng không rõ ràng tại thời điểm nộp đơn, hoặc nếu người đó là cư dân nước ngoài, nó sẽ được đệ trình lên tòa án có thẩm quyền theo Luật Tố tụng Dân sự.</li>
                    <li>③ Công ty sử dụng thông tin vị trí để tự động giải quyết các khoản phí và xử lý khiếu nại với các doanh nghiệp hoặc khách hàng và tự động ghi lại dữ liệu xác nhận. Dữ liệu được bảo quản và lưu giữ trong 1 năm.</li>
                    <li>④ Khi cung cấp thông tin số điện thoại cho bên thứ ba do người dùng chỉ định, công ty sẽ thông báo ngay cho người dùng thông tin về người nhận, ngày giờ và mục đích cung cấp thông qua thiết bị đầu cuối liên lạc thu thập thông tin số điện thoại cá nhân. Tuy nhiên, trong trường hợp 1 trong mỗi mục sau đây, người dùng sẽ được thông báo bởi thiết bị đầu cuối liên lạc hoặc địa chỉ e-mail được chỉ định trước.
                        <ol>
                            <li class="sitem">Khi thiết bị đầu cuối giao tiếp thu thập thông tin số điện thoại cá nhân không có chức năng nhận văn bản, giọng nói hoặc video</li>
                            <li class="sitem">Khi người dùng đã yêu cầu trước để thông báo bằng cách đăng trực tuyến.</li>
                        </ol>
                    </li>
                </ul>
            </div>

            <div class="stit">Điều 10 (Quyền của chủ thể thông tin vị trí cá nhân)  </div>
            <div class="item">
                <ul>
                    <li>① Người dùng có thể rút toàn bộ hoặc một phần sự đồng ý cung cấp dịch vụ dựa trên vị trí bằng thông tin vị trí cá nhân và cung cấp thông tin vị trí cá nhân của bên thứ ba cho công ty bất cứ lúc nào. Trong trường hợp này, công ty phá hủy thông tin vị trí cá nhân được thu thập, sử dụng thông tin vị trí và xác nhận sự thật.</li>
                    <li>② Người dùng có thể yêu cầu công ty tạm thời thu thập, sử dụng hoặc cung cấp thông tin vị trí cá nhân bất cứ lúc nào và công ty không thể từ chối việc này và có phương tiện kỹ thuật cho việc này.</li>
                    <li>③ Người dùng có thể yêu cầu công ty xem hoặc thông báo dữ liệu trong từng mục sau đây và nếu có lỗi trong dữ liệu, người dùng có thể yêu cầu sửa. Trong trường hợp này, công ty không thể từ chối yêu cầu của người dùng mà không có lý do chính đáng
                        <ol class="sitem">
                            <li class="sitem">Dữ liệu xác nhận việc thu thập, sử dụng và cung cấp thông tin vị trí về bản thân bạn</li>
                            <li class="sitem">Lý do và nội dung của thông tin vị trí cá nhân được cung cấp cho bên thứ ba theo luật pháp hoặc các quy định pháp lý khác liên quan đến việc bảo vệ và sử dụng thông tin vị trí</li>
                        </ol>
                    </li>
                    <li>④ Người dùng có thể yêu cầu thông qua các quy trình theo quy định của công ty để thực hiện các quyền của Số 1 đến 3.</li>
                </ul>
            </div>

            <div class="stit">Điều 11 (Quyền của người đại diện theo pháp luật)</div>
            <div class="item">
                <ul>
                    <li>① Công ty phải được sự đồng ý của người dùng và đại diện hợp pháp của người dùng để đồng ý cung cấp dịch vụ dựa trên vị trí sử dụng thông tin vị trí cá nhân và cung cấp thông tin vị trí cá nhân của bên thứ ba cho người dùng dưới 14 tuổi. Trong trường hợp này, người đại diện theo pháp luật có tất cả các quyền của người dùng theo Điều 7.</li>
                    <li>② Nếu công ty dự định sử dụng thông tin vị trí cá nhân hoặc thông tin vị trí của trẻ em dưới 14 tuổi vượt quá phạm vi được chỉ định hoặc thông báo trong Điều khoản sử dụng hoặc cung cấp cho bên thứ ba thì phải có được sự đồng ý của trẻ em dưới 14 tuổi và người đại diện theo pháp luật của trẻ em đó. Tuy nhiên, các trường hợp sau được loại trừ.
                        <ol>
                            <li class="sitem">Nếu thông tin vị trí và dữ liệu xác nhận vị trí là cần thiết để giải quyết phí cung cấp thông tin vị trí và dịch vụ dựa trên vị trí</li>
                            <li class="sitem">Trong trường hợp xử lý một nghiên cứu thống kê, nghiên cứu học thuật hoặc nghiên cứu thị trường ở dạng không thể xác định được bởi một cá nhân cụ thể.</li>
                        </ol>
                    </li>
                </ul>
            </div>

            <div class="stit">Điều 12 (Quyền của nghĩa vụ bảo vệ trẻ em dưới 8 tuổi)</div>
            <div class="item">
                <ul>
                    <li>① Công ty đồng ý sử dụng hoặc cung cấp thông tin vị trí cá nhân để bảo vệ tính mạng hoặc cơ thể của trẻ em dưới 8 tuổi theo nghĩa vụ bảo vệ đối với các trường hợp sau đây.
                        <ol>
                            <li class="sitem">Trẻ em dưới 8 tuổi</li>
                            <li class="sitem">Người giám hộ trưởng thành</li>
                            <li class="sitem">Người khuyết tật tâm thần </li>
                        </ol>
                    </li>
                    <li>② Để bảo vệ tính mạng hoặc cơ thể của trẻ em dưới 8 tuổi, một thỏa thuận bằng văn bản chứng minh rằng đó là nghĩa vụ bảo vệ phải nộp cho công ty đồng ý sử dụng hoặc cung cấp thông tin vị trí cá nhân, khi đó có thể sử dụng, cung cấp và thực hiện tất cả các quyền của chủ thể thông tin vị trí cá nhân.</li>
                </ul>
            </div>

            <div class="stit">Điều 13 (Chỉ định người quản lý thông tin vị trí)</div>
            <div class="item">
                <ul>
                    <li>① Công ty quản lý và bảo vệ thông tin vị trí một cách thích hợp và xử lý các khiếu nại của chủ đề thông tin vị trí cá nhân một cách trôi chảy.</li>
                    <li>② Người quản lý thông tin vị trí là người đứng đầu bộ phận cung cấp dịch vụ dựa trên vị trí.</li>
                </ul>
            </div>

            <div class="stit">Điều 14 (Phương thức thanh toán của người dùng)</div>
            <div class="item">
                <ul>
                    <li>① Trong trường hợp công ty đã vi phạm các quy định của Đạo luật về Bảo vệ và Sử dụng Thông tin Vị trí, người dùng có thể yêu cầu bồi thường thiệt hại đối với công ty. Trong trường hợp này, công ty sẽ không chịu trách nhiệm nếu không thể chứng minh rằng không có ý định hoặc sơ suất.</li>
                    <li>② Trong trường hợp người dùng đã chịu thiệt hại cho công ty vi phạm các quy định của Thỏa thuận này, công ty có thể yêu cầu bồi thường thiệt hại đối với người dùng. Trong trường hợp này, người dùng sẽ không chịu trách nhiệm về việc không chứng minh được rằng không có ý định hoặc sơ suất.</li>
                    <li>③ Yêu cầu bồi thường thiệt hại phải được lập thành văn bản với lý do khiếu nại, số tiền yêu cầu và cơ sở để tính toán.</li>
                </ul>
            </div>

            <div class="stit">Điều 15 (Tuyên bố miễn trừ trách nhiệm) </div>
            <div class="item">
                <ul>
                    <li>① Công ty sẽ không chịu trách nhiệm cho bất kỳ thiệt hại nào phát sinh cho người dùng do dịch vụ không thể được cung cấp trong các trường hợp sau đây:
                        <ul class="sitem2">
                            <li class="sitem">Nếu có thảm họa tự nhiên hoặc điều kiện bất khả kháng tương đương</li>
                            <li class="sitem">Trong trường hợp cố ý gián đoạn dịch vụ bởi bên thứ ba đã ký kết thỏa thuận liên minh dịch vụ với công ty để cung cấp dịch vụ</li>
                            <li class="sitem">Khi có sự cố sử dụng dịch vụ do lỗi của người dùng</li>
                            <li class="sitem">Trong trường hợp không cố ý hoặc sơ suất của công ty </li>
                        </ul>
                    </li>
                    <li>② Công ty không đảm bảo độ tin cậy, độ chính xác của thông tin, dữ liệu và sự kiện được đăng trên dịch vụ và không chịu trách nhiệm cho bất kỳ thiệt hại nào cho người dùng nếu xảy ra.</li>
                </ul>
            </div>

            <div class="stit">Điều 16 (Quy định áp dụng)</div>
            <div class="item">
                <ul>
                    <li>① Điều khoản sử dụng này được quy định và thực hiện theo luật pháp của nước sở tại.</li>
                    <li>② Các mục không được quy định trong Điều khoản sử dụng này sẽ tuân theo luật pháp hoặc phong tục liên quan</li>
                </ul>
            </div>
            

            <div class="stit">Điều 17 (Hòa giải tranh chấp)</div>
            <div class="item">
                <ul>
                    <li>① Công ty có thể nộp đơn xin tài chính cho Ủy ban Truyền thông theo Điều 40-2 của Đạo luật Khung về Viễn thông nếu không có sự tham vấn nào giữa các bên hoặc không thể hòa giải về các tranh chấp liên quan đến thông tin địa điểm.</li>
                    <li>② ② Nếu công ty hoặc khách hàng không thể đàm phán hoặc hòa giải tranh chấp về thông tin địa điểm thì có thể nộp đơn xin hòa giải tới Ủy ban Hòa giải tranh chấp thông tin cá nhân theo Điều 33 của Đạo luật khuyến khích sử dụng mạng thông tin và truyền thông</li>
                </ul>
            </div>

            <div class="stit">Điều 18 (Mua thuốc lá và rượu của trẻ vị thành niên)</div>
            <div class="item">
                <ul>
                    <li>Công ty có thể không chấp nhận đơn đăng ký mua hàng đối với các trường hợp sau đây:</li>
                    <li>① Khi trẻ vị thành niên mua thực phẩm và dịch vụ bị cấm theo Đạo luật Bảo vệ Thanh thiếu niên, chẳng hạn như thuốc lá và rượu</li>
                    <li>② ② Khi trẻ vị thành niên áp dụng cho việc mua hàng, người đại diện theo pháp luật xem xét việc xử lý số tiền mua theo thỏa thuận trước và đánh giá đó là một yêu cầu mua hợp lệ. Tuy nhiên, ngoại trừ các trường hợp thực phẩm đã được nấu hoặc giao, nếu người đại diện hợp pháp không đồng ý với yêu cầu mua, người vị thành niên hoặc người đại diện hợp pháp có thể hủy yêu cầu mua</li>
                </ul>
            </div>

            <div class="stit">Điều 19 (Thông tin liên hệ của công ty)</div>
            <div class="item">
                <div>Tên công ty và địa chỉ như sau.</div>
                <ul class="sitem2">
                    <li class="sitem">Tên giao dịch: WithU</li>
                    <li class="sitem">Người đại diện: Jung Ho Jae</li>
                    <li class="sitem">Địa chỉ: 2Q9H + 57 Mỹ Đình 1, Hà Nội</li>
                    <li class="sitem">Điện thoại: 0773-017-288 </li>
                </ul>
            </div>

            <div class="stit">Điều khoản bổ sung</div>
            <div class="item">
                <div style="display: block">Điều 1 (Ngày có hiệu lực): Điều khoản này sẽ có hiệu lực từ ngày 13 tháng 6 năm 2019.</div>
                <div style="display: block">Điều 2: Người quản lý thông tin vị trí được chỉ định kể từ ngày 13 tháng 6 năm 2019 như sau.</div>
                <ul class="sitem2">
                    <li class="sitem">Tên: Jung Ho Jae</li>
                    <li class="sitem">Tel: 0773-017-288</li>
                </ul>
            </div>
        </div>
    </ons-list-item>
</ons-list>
