<ons-page id="policyPage">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center" data-i18n="LEFTMENU:POLICY">개인정보 활용 약관</div>
    </ons-toolbar>

    <div class="card policyData">
       
    </div>
    <style>
        #policyPage {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        #policyPage {
            background: #fff !important;
        }
        /* #policyPage > .page__content > .card {
            padding: 0 1rem;
        } */

        #policyPage .stit{
            font-size: 15px;;
        }

        #policyPage ul {
            padding-left: 10px;
            list-style: none;
        }

        #policyPage ol {
            padding-left: 10px;
            list-style: none;
        }

        #policyPage li {
            margin-bottom: 10px;
        }

        #policyPage ons-list-item.list-item{
            height:auto;
        }

        #policyPage .list-item__left {
            min-width: auto;
        }
        #policyPage .txtT {
            display: block;
            text-align:left;
            font-size:13px !important;
            margin-top: 3px;
            white-space: normal;
            word-break: keep-all;
            font-weight: 400;
            color: #4e4e4e;
        }
        #policyPage #tab-5{
            display: block;
            margin: 15px 5px;
            font-size: 13px;
        }

        #policyPage .item{
            margin-bottom:10px;
        }

        #policyPage .txtT strong {
            font-size: 13px !important;
        }
        #policyPage .txtSp{
            text-align:left;
            font-size: 15px;
        }
        #policyPage .content-tit {
            padding-top: 10px;
        }
        #policyPage .content-tit ons-list-item * {
            font-size: 15px;
            color: #000;
        }
        #policyPage .btnShowViewPop {
            line-height:44px;
            border: 0;
            background: none;
            color: #b8b8b8;
            font-size: 26px;
            text-align: right;
            padding: 0;
        }
        #policyPage .agreeContentPop {
            height: 100%;
        }
        #policyPage .agreeContentPop .list-header {
            background-color: #fff;
            padding: 1rem;
            color: #ff5e00;
            font-size: 18px;
            border-bottom: 1px solid #f2ebe4;
            margin: 0;
        }
        #policyPage .agreeContentPop ons-list-item {
            height: 100%;
            padding: 0 1rem;
            position: absolute;
            bottom: 44px;
            top: 58px;
            overflow-y: scroll;
            font-size:12px;
            background: #fff;
        }
        #policyPage .agreeContentPop ons-list-item .list-item__center  {
            padding: 0;
        }
        #policyPage .agreeContentPop ons-list-item .list-item__center .tab-content {
            padding-bottom: 57px;
            margin-bottom: 44px;
        }
        #policyPage .agreeContentPop ul, #policyPage .agreeContentPop li {
            font-size: 13px;
            line-height: 1.3;
            margin-bottom: 5px;
        }

        #policyPage .agreeContentPop .stit {
            color: #ff5e00;
            font-size: 13px;
            border-bottom: 1px solid #ff5e00;
            margin: 20px 0 10px;
            padding-bottom: 5px;
        }

        #policyPage .agreeContentPop .item {
            color: #31313a;
            margin: 0 0 0.7rem;
            word-break: keep-all;
        }
        #policyPage .agreeContentPop .item div {
            line-height: 1.5;
            font-size: 13px;
        }
        #policyPage .agreeContentPop .item ul {
            list-style-type: hangul;
        }
        #policyPage .agreeContentPop .item ol {
            list-style-type: disc;
        }
        #policyPage .agreeContentPop .item .sitem1 {
            list-style: none;
        }
        #policyPage .agreeContentPop .item .sitem2 {
            list-style: decimal;
        }

        #policyPage table {
            width: 100%;
            border: 1px solid;
        }

        #policyPage table caption {
            border: 1px solid black;
            background: beige;
        }

        #policyPage table th, #policyPage table td{
            text-align: center;
            
        }
    </style>
</ons-page>