<ons-page id="telPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-18n="LEFTMENU:TEL_LIST">전화번호 조회</div>
        <div class="right"></div>
    </ons-toolbar>
    
    <div class="card search_input">
        <ons-search-input class="searchItem" id="searchItem" placeholder="검색어 입력" ></ons-search-input>
        <ons-button modifier="outline" class="btnSearchCc">취소</ons-button>
    </div>
    <div class="keyword_list">
        <!--<div class="card cookieDiv">-->
            <!--<ons-list-item tappable>-->
                <!--<span class="left">최근검색어</span>-->
                <!--<div class="right"><ons-button class="btnDelCookieAll" modifier="outline">전체삭제</ons-button></div>-->
            <!--</ons-list-item>-->
        <!--</div>-->

        <div class="card cookieDiv searchItemCookie">
            <ons-list class="searchItemCookie"></ons-list>
        </div>
    </div>

    <div class="card"></div>
        <ons-list id="list-node" on-infinite-scroll="fn.loadMore" class="dataList">
        </ons-list>
    </div>
    
    <ons-modal direction="up" id="modalMap" >
        <div style="margin:0 10px;">
            <input type="hidden" name="option" />
            <ons-list class="" >
                <ons-list-header>구글맵</ons-list-header>
                <ons-list-item class="input-items">
                    <div class="center">

                    </div>
                </ons-list-item>
            </ons-list>
            <div id="listMan">
            </div>
        </div>
        <p style="text-align: center">
            <ons-button class="btnCloseMan">닫기</ons-button>
        </p>
    </ons-modal>
</ons-page>