<ons-page id="telListPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-18n="LEFTMENU:TEL_LIST">전화번호 조회</div>
        <div class="right"></div>
    </ons-toolbar>
    
    <div class="card search_input">
        <ons-search-input class="searchItem" id="searchItem" placeholder="검색어 입력" ></ons-search-input>
        <ons-button modifier="outline" class="btnSearchCc">취소</ons-button>
    </div>
    <div class="keyword_list">
        <!--<div class="card cookieDiv">-->
            <!--<ons-list-item tappable>-->
                <!--<span class="left">최근검색어</span>-->
                <!--<div class="right"><ons-button class="btnDelCookieAll" modifier="outline">전체삭제</ons-button></div>-->
            <!--</ons-list-item>-->
        <!--</div>-->

        <div class="card cookieDiv searchItemCookie">
            <ons-list class="searchItemCookie"></ons-list>
        </div>
    </div>

    <!-- <div class="card">
        <ons-search-input class="searchItem" id="searchItem" placeholder="검색어 입력" ></ons-search-input>
        <ons-button modifier="outline" class="btnSearchCc">취소</ons-button>
    </div>
    
    <div class="card cookieDiv">
        <ons-list-item tappable>
            <span class="left">최근검색어</span>
            <div class="right">
                <ons-button class="btnDelCookieAll" modifier="outline">전체삭제</ons-button>
            </div>
        </ons-list-item>
    </div>

    <div class="card cookieDiv searchItemCookie">
        <ons-list class="searchItemCookie"></ons-list>
    </div> -->

    <div class="card"></div>
        <ons-list id="list-node" on-infinite-scroll="fn.loadMore" class="dataList">
            <!-- -->
        </ons-list>
    </div>

</ons-page>