<ons-page id="menuPage">
  <ons-list>
    <ons-list-title>
        <img class="tabbarLogo" src="img/logo/logo.svg" width="120px">
    </ons-list-title>	
  <ons-list-item class="userProfile">
    <div class="center profile">
      <img src="img/svg/user.svg" class="user-image" alt="User Image">
      <a href="#"><i class="fa fa-circle text-success"></i> <span class="userName"></span> </a>
    </div>
  </ons-list-item>
  <ons-list-item class="userPhoneNumber" >
      <div><span><i class="fa fa-mobile-phone"></i>&nbsp;</span> <div class='myTel'></div></div>
  </ons-list-item>
  <ons-list-item class="linkLoginPage">
      <div class="center">
          <ons-button class="btnLogin">
            <img src="img/svg/login.svg" />
            <span data-i18n="AUTH:LOGIN">로그인</span>
          </ons-button>
          <ons-button class="btnJoin">
              <img src="img/svg/join.svg" />
              <span data-i18n="AUTH:JOIN">회원가입</span>
          </ons-button>
      </div>
    </ons-list-item>
  </ons-list>

  <ons-list id="links" class="leftMenuList">
    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron">
      <div class="center goAddr"><span data-i18n="LEFTMENU:MY_ADDR">나의 주소</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron">
      <div class="center goRecent"><span data-i18n="LEFTMENU:RCT_ADDR">최근주문주소</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron">
      <div class="center goFavorite"><span data-i18n="LEFTMENU:FOVORITE">즐겨찾기</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron">
        <div class="center goMessage"><span data-i18n="LEFTMENU:FCM_MSG">수신메시지</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron" >
      <div class="center goNotice"><span data-i18n="LEFTMENU:EVT_NOTICE">이벤트/공지사항</span></div>
    </ons-list-item>
    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron" >
      <div class="center goConfig"><span data-i18n="LEFTMENU:MY_CONFIG">환경설정</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron" >
      <div class="center goTel"><span data-i18n="LEFTMENU:TEL_LIST">전화번호부</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron" >
        <div class="center goNews"><span data-i18n="LEFTMENU:KOR_INFO">한인소식</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron" >
        <div class="center goAir"><span data-i18n="LEFTMENU:NOW_AIR">실시간 미세먼지</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron" >
      <div class="center goRequest"><span data-i18n="LEFTMENU:CONTACK_INQURY">입점 및 제휴문의</span></div>
    </ons-list-item>

    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron" >
      <div class="center goPolicy"><span data-i18n="LEFTMENU:POLICY">개인정보처리방침</span></div>
    </ons-list-item>
  </ons-list>
</ons-page>
