<ons-page id="tabbarPage" class="translation">
    <script>

        // 비로그인일때는 로그인페이지로 변경
        var user_id = localStorage.getItem("USER_ID");    
        if( isNull( user_id )){
            $("#appTabbar").find(".profileTab .tabbar__label").attr("data-i18n", "AUTH:LOGIN");
            content = document.querySelector('.profileTab');
            content.page = 'html/auth/login.html';
            $("#appTabbar").i18n();
        }

    </script>
    <!-- <ons-fab position="bottom right">
        <ons-icon>
            <a href="#" data-url='http://pf.kakao.com/_xbChLj/chat' class='exLink'>
                <img src="img/main/kakooplus.png" data-url='http://pf.kakao.com/_xbChLj/chat' />
                <span data-url='http://pf.kakao.com/_xbChLj/chat' data-i18n="SYS:KAKAO_INQUIRY">실시간<br>상담</span>
            </a>
        </ons-icon>
    </ons-fab> -->
    <ons-if platform="android">
        <ons-fab position="bottom right" style="bottom:140px;display:none;" id="share">
            <ons-icon icon="md-share"> </ons-icon>
        </ons-fab>
    </ons-if>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button component="button/menu" class="menuButton">
                <ons-icon icon="ion-navicon, material:md-menu" size="32px, material:32px"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            <ons-search-input class="searchItem" id="btnSearchTop" placeholder="찾으시는 상품을 검색하세요" input-id="searchTopInput" autocomplete="off" ></ons-search-input>
            <ons-button modifier="outline" class="search btnSearch">
                <svg version="1.1" id="search_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 105.1 104.7" style="enable-background:new 0 0 105.1 104.7;" xml:space="preserve">
                <path id="search" class="st0" d="M103.7,96.8L74.2,67.8c-1.7-1.8-4.6-1.8-6.3,0c0,0,0,0,0,0c-0.9,1-1.8,1.9-2.8,2.7
                    c-6.5,5.2-14.7,7.9-23,7.5C24.5,77.1,10.4,63.3,9.1,45.9c-1.3-19,13-35.5,32.1-36.8s35.5,13,36.8,32.1c0.2,3.4,0,6.9-0.8,10.3
                    c-0.4,1.6,0.1,3.2,1.3,4.3c1.2,1.1,2.8,1.5,4.3,1c1.6-0.5,2.8-1.7,3.1-3.3c5.5-23.4-9-46.8-32.3-52.3s-46.8,9-52.3,32.3
                    s9,46.8,32.3,52.3c13,3.1,26.7,0,37.1-8.3l0.3-0.3l26.5,26.2c0.8,0.8,2,1.3,3.2,1.3h0.2c1.2,0,2.4-0.6,3.2-1.5
                    C105.6,101.2,105.4,98.5,103.7,96.8z"/>
                </svg>
            </ons-button>
        </div>
        <div class="right">
            <ons-toolbar-button  class="goAddr">
                <ons-icon fixed-width="false" size="2x">
       
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="marker" x="0px" y="0px" viewBox="0 0 89 104.5" style="enable-background:new 0 0 89 104.5;fill: red; width: 25px;height: 22px;stroke: #fff;" xml:space="preserve">
                        <path id="map" class="st0" d="M102.7,18.6l-32-18l-0.2-0.1l-0.3-0.1c-0.1,0-0.1-0.1-0.2-0.1l-0.3-0.1l-0.3-0.1c-0.1,0-0.2,0-0.3-0.1
                        h-0.2h-0.3h-0.2h-0.3h-0.2c-0.1,0-0.2,0-0.3,0.1l-0.3,0.1l-0.3,0.1l-0.3,0.1l-0.2,0.1L36.5,17.3L6.7,0.6C4.5-0.6,1.8,0.1,0.6,2.3
                        C0.2,3,0,3.7,0,4.5v79c0,1.6,0.9,3.1,2.3,3.9l32,18l0.3,0.1c0.2,0.1,0.4,0.2,0.6,0.2l0.2,0.1l0.4,0.1h0.2c0.4,0.1,0.8,0.1,1.2,0h0.2
                        l0.4-0.1l0.2-0.1c0.2-0.1,0.4-0.1,0.6-0.2l0.3-0.1l29.8-16.8l29.8,16.8c2.2,1.2,4.9,0.5,6.1-1.7c0.4-0.7,0.6-1.4,0.6-2.2v-79
                        C105,20.9,104.1,19.4,102.7,18.6z M9,12.2l23,12.9v68.7L9,80.9V12.2z M41,25.1l23-12.9v68.7L41,93.8V25.1z M96,93.8L73,80.9V12.2
                        l23,12.9V93.8z"/>
                    </svg>

                    </svg>
                </ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-tabbar id="appTabbar" position="bottom" animation="none">
        <ons-tab label="HOME" page="home.html" class="homeTabbar" active >
            <svg version="1.1" id="home_x5F_ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 108 92" style="enable-background:new 0 0 108 92;" xml:space="preserve">
                <path id="home-ico" d="M106,33.77l-49-33c-1.51-1.02-3.49-1.02-5,0l-50,33c-2.07,1.38-2.64,4.18-1.25,6.25
                C2.13,42.1,4.93,42.66,7,41.28l6.77-4.47V76.5c0.01,8.55,6.93,15.48,15.48,15.5h50c8.56-0.01,15.49-6.94,15.5-15.5V37l6.24,4.2
                c2.13,1.28,4.9,0.59,6.17-1.54c1.19-1.98,0.68-4.55-1.17-5.93L106,33.77z M61.25,60v23h-14V60H61.25z M63.75,51h-19
                c-3.59,0.01-6.49,2.91-6.5,6.5V83h-9c-3.59,0-6.5-2.91-6.5-6.5l0,0V30.85L54.46,9.92l0,0L85.75,31v45.5
                c-0.01,3.59-2.91,6.49-6.5,6.5h-9V57.5C70.24,53.91,67.34,51.01,63.75,51z"/>
            </svg>
        </ons-tab>
        <ons-tab label="" page="html/product/category_index.html" class="cateTabbar"   >
            <svg version="1.1" id="productlist" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 105.5 104" style="enable-background:new 0 0 105.5 104;" xml:space="preserve">
            <g id="list">
                <path class="st0" d="M14.5,9c3,0,5.5,2.5,5.5,5.5S17.5,20,14.5,20S9,17.5,9,14.5C9,11.5,11.5,9,14.5,9 M14.5,0C6.5,0,0,6.5,0,14.5
                    S6.5,29,14.5,29S29,22.5,29,14.5S22.5,0,14.5,0z"/>
                <path class="st0" d="M14.5,46c3,0,5.5,2.5,5.5,5.5S17.5,57,14.5,57S9,54.5,9,51.5C9,48.5,11.5,46,14.5,46 M14.5,37
                    C6.5,37,0,43.5,0,51.5S6.5,66,14.5,66S29,59.5,29,51.5S22.5,37,14.5,37L14.5,37z"/>
                <path class="st0" d="M14.5,84c3,0,5.5,2.5,5.5,5.5S17.5,95,14.5,95S9,92.5,9,89.5C9,86.5,11.5,84,14.5,84 M14.5,75
                    C6.5,75,0,81.5,0,89.5S6.5,104,14.5,104S29,97.5,29,89.5l0,0C29,81.5,22.5,75,14.5,75z"/>
                <path class="st0" d="M101,18.5H43c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5h58c2.5,0,4.5,2,4.5,4.5S103.5,18.5,101,18.5z"/>
                <path class="st0" d="M101,56.5H43c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5h58c2.5,0,4.5,2,4.5,4.5S103.5,56.5,101,56.5z"/>
                <path class="st0" d="M101,94.5H43c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5h58c2.5,0,4.5,2,4.5,4.5S103.5,94.5,101,94.5z"/>
            </g>
            </svg>
        </ons-tab>

        
        <ons-tab label="" page="html/grp/grp_product_list.html" class="grpTabbar font_color_wave"  badge="0"  >
            <svg version="1.1" id="flag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 74 106" style="enable-background:new 0 0 74 106;" xml:space="preserve">
            
                <path id="franchise" class="st0" d="M73.1,54.8L59,35.4l14.2-20.4c1.4-2,0.9-4.8-1.1-6.3C71.3,8.3,70.4,8,69.5,8H9V4.5
                    C9,2,7,0,4.5,0S0,2,0,4.5v97c0,2.5,2,4.5,4.5,4.5s4.5-2,4.5-4.5V62h60.5c2.5,0,4.5-2,4.5-4.5C74,56.5,73.7,55.6,73.1,54.8z M9,53V17
                    h51.9L49.8,32.9c-1.1,1.6-1.1,3.7,0,5.2L60.7,53H9z"/>
            </svg>
        </ons-tab>

        <ons-tab label="" page="html/product/basket.html" class="myBasket" badge="0">
            <svg version="1.1" id="cart_x5F_ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 97.97 104.25" style="enable-background:new 0 0 97.97 104.25;" xml:space="preserve">
                <path id="wheel2" d="M38.68,77.25c-7.46,0-13.5,6.04-13.5,13.5s6.04,13.5,13.5,13.5s13.5-6.04,13.5-13.5
                C52.17,83.3,46.13,77.26,38.68,77.25z M38.68,95.25c-2.49,0-4.5-2.01-4.5-4.5s2.01-4.5,4.5-4.5s4.5,2.01,4.5,4.5
                C43.17,93.23,41.16,95.24,38.68,95.25z"/>
                <path id="wheel1" d="M76.26,77.25c-7.46,0-13.5,6.04-13.5,13.5s6.04,13.5,13.5,13.5s13.5-6.04,13.5-13.5
                C89.75,83.3,83.71,77.26,76.26,77.25z M76.26,95.25c-2.49,0-4.5-2.01-4.5-4.5s2.01-4.5,4.5-4.5s4.5,2.01,4.5,4.5
                C80.75,93.23,78.74,95.24,76.26,95.25z"/>
                <path id="cart_x5F_body" d="M96.37,25.91c-1.18-1.37-2.89-2.15-4.69-2.16h-67L20.92,3.67C20.52,1.54,18.66,0,16.5,0h-12
                C2.01,0,0,2.01,0,4.5S2.01,9,4.5,9h8.26l5.66,30.19l5,29.1c0.45,3.09,3.08,5.41,6.21,5.46H85.3c3.12-0.05,5.75-2.36,6.21-5.45
                l6.39-37.14C98.17,29.27,97.62,27.36,96.37,25.91z M83,64.75H32L27.68,40c0-0.09,0-0.15,0-0.21c0-0.05,0-0.1,0-0.15l-0.4-2.17
                l-0.81-4.68H88.5L83,64.75z"/>
            </svg>
        </ons-tab>
        <ons-tab label="" page="html/product/order_index.html" class="myOrder" badge="0">
            <svg version="1.1" id="order_x5F_list" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 106 97" style="enable-background:new 0 0 106 97;" xml:space="preserve">
                <path id="text-line1" d="M56.75,29h25c2.49,0,4.5-2.01,4.5-4.5s-2.01-4.5-4.5-4.5h-25c-2.49,0-4.5,2.01-4.5,4.5S54.26,29,56.75,29z"
                    />
                <path id="text-line2" d="M56.5,46h25c2.49,0,4.5-2.01,4.5-4.5S83.99,37,81.5,37h-25c-2.49,0-4.5,2.01-4.5,4.5S54.01,46,56.5,46z"/>
                <path id="text-line3" d="M56.5,63h25c2.49,0,4.5-2.01,4.5-4.5S83.99,54,81.5,54h-25c-2.49,0-4.5,2.01-4.5,4.5S54.01,63,56.5,63z"/>
                <path id="list_x5F_body" d="M99.5,0h-60c-3.59,0.01-6.49,2.91-6.5,6.5V76c0,6.63-5.37,12-12,12S9,82.63,9,76V38.5
                C9,36.01,6.99,34,4.5,34S0,36.01,0,38.5V76c0,11.6,9.4,21,21,21l0,0h62.5c12.42-0.01,22.49-10.08,22.5-22.5v-68
                C105.99,2.91,103.09,0.01,99.5,0z M97,74.5c-0.01,7.45-6.05,13.49-13.5,13.5H38.21C40.68,84.48,42,80.29,42,76V9h55V74.5z"/>
                <path id="heng" d="M20.5,73c0.17,0.01,0.33,0.01,0.5,0c2.27-0.25,4-2.16,4-4.45v-51c0-2.29-1.73-4.2-4-4.45
                c-0.17-0.03-0.33-0.04-0.5-0.05c-2.47-0.01-4.48,1.98-4.5,4.45v51c-0.01,2.48,2,4.49,4.48,4.5C20.49,73,20.49,73,20.5,73z"/>
            </svg>
        </ons-tab>
        <ons-tab label="" class="profileTab" page="html/auth/profile.html" >
            <svg version="1.1" id="user_x5F_ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 94.83 107" style="enable-background:new 0 0 94.83 107;" xml:space="preserve">
                <path id="header" d="M47.42,62c17.12,0,31-13.88,31-31s-13.88-31-31-31s-31,13.88-31,31S30.3,62,47.42,62z M47.42,10
                c11.6,0,21,9.4,21,21s-9.4,21-21,21s-21-9.4-21-21S35.82,10,47.42,10z"/>
                <path id="body" d="M94.5,100.19C87.58,82,69.09,69,47.42,69S7.26,82,0.34,100.19c-1,2.57,0.28,5.47,2.85,6.47
                C3.77,106.88,4.38,107,5,107c2.05,0.01,3.9-1.24,4.64-3.16C15.09,89.39,30,79,47.42,79s32.32,10.39,37.77,24.84
                c0.74,1.92,2.59,3.17,4.64,3.16c2.76,0.01,5-2.23,5.01-4.99C94.84,101.39,94.73,100.77,94.5,100.19z"/>
            </svg>       
        </ons-tab>
    </ons-tabbar>
    <style>
        #tabbarPage .btnSearchAll svg{
            fill: #ff5e00;
        }        
    </style>
   
</ons-page>
