<ons-page id="coinPage">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center" data-i18n="COIN:BONUS_HISTORY">적립금 입출금 내역</div>
    </ons-toolbar>
	<div class="card">
        <div class="card summaryCard">
            <ons-input id="allQTY" class="aRight" input-id="all_qty" name="ALL_QTY" placeholder="보유 적립금 수량"  float  readonly="readonly" ></ons-input>
        </div>    
        <div class="card searchCard">        
            <label><ons-radio name="radCoins" id="all" input-id="radio-coinAll" checked value="all"></ons-radio><span data-i18n="COIN:ALL">전체</span></label>
            <label><ons-radio name="radCoins" id="withdraw" input-id="radio-withdraw" value="in"></ons-radio><span data-i18n="COIN:IN">입금</span></label>
            <label><ons-radio name="radCoins" id="deposit" input-id="radio-deposit" value="out"></ons-radio><span data-i18n="COIN:OUT">출금</span></label>
        </div>
        <div class="card dataList"></div>
        <div class="after-list"><img src="img\button\ajax-loader.gif" /></div>
	 </div>
</ons-page>