<ons-page id="findPwPage">
    <style>
        
        #findIdPage .left{
            width:30%;
            text-align:right;
        }
        #findIdPage label{
            width:100%;
            text-align:right;
        }
        #findIdPage ons-select{
            width:90%;
        }
    </style>
    <div class="card">
		<form id="findPwForm" name="findIdForm">
			<ons-list>
				<ons-list-title><i class="fa fa-user-md"></i>&nbsp;<span data-i18n="AUTH:FIND_PASS">비밀번호 찾기</span></ons-list-title>
				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="email" input-id="email" name="email" placeholder="회원가입시 입력하신 이메일을 입력하세요" type="email" ></ons-input>
					</div>    
				</ons-list-item>
				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="user_id" input-id="userid" name="userid" placeholder="ID" ></ons-input>
					</div>    
                </ons-list-item>
                <ons-list-item class="listItem">
                    <div class="center">
                        <ons-input id="phone_number" input-id="phonenumber" name="phonenumber" placeholder="Phone Number" ></ons-input>
                    </div>    
                </ons-list-item>

			</ons-list>
		</form>

		<div class="error_box success_box">
			<ul>
				<li class="success warning email" data-i18n="AUTH:TXT_3"> 이메일, 아이디, 전화번호를 입력한 후 이메일 전송 버튼을 클릭하세요</li>
                <li class="success warning emailChk" data-i18n="AUTH:TXT_4"> 입력하신 이메일 계정으로 새 비밀번호를 보내드립니다</li>
			</ul>
		</div>
		
	</div>
    <div class="card">
        <ons-button modifier="large" class="btnSendEmail">
            <i class="fa fa-paper-plane"></i>&nbsp;
			<span data-i18n="AUTH:SENDEMAIL">이메일 전송</span>
		</ons-button>
    </div>
	<style>
		#findPwPage ons-list-item .center{
            height: 35px;
            /* line-height: 50px; */
            /* padding-top: 10px;
            margin-left: 10px; */
        }

		#findPwPage ons-input {
            width: 100%;
            display: inline-block;
        }

        #findPwPage ons-input input{
            text-align: left;
        }

		#findPwPage .error_box {
            background: #FAD3C4;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            color: #444444;
            display: block;
            font-size: 13px;
            margin: 5px;
			padding: 2px 2px 8px 0;
			/* margin-left:18px; */
        }

        #findPwPage .error_box ul {
            padding: 0 0 0 5px;
			margin: 5px;
			font-size: 12px;
			list-style: none;
			line-height:18px;
        }

        #findPwPage .success_box {
            background: #E2F1BB;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            color: #000000;
            font-size: 13px;
        }
	</style>
</ons-page>