<ons-page id="findIdPage">
    <style>
        
        #findIdPage .left{
            width:30%;
            text-align:right;
        }
        #findIdPage label{
            width:100%;
            text-align:right;
        }
        #findIdPage ons-select{
            width:90%;
        }
    </style>
    <div class="card">
		<form id="findIdForm" name="findIdForm">
			<ons-list>
				<ons-list-title><i class="fa fa-envelope"></i>&nbsp;<span data-i18n="AUTH:FIND_BY_EMAIL">이메일로 찾기</span></ons-list-title>
				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="findIdEmail" input-id="find_Id_Email" name="email" placeholder="회원가입시 입력하신 이메일을 입력하세요" type="email" ></ons-input>
					</div>    
				</ons-list-item>
			</ons-list>
		</form>

		<div class="error_box success_box">
			<ul>
				<li class="success warning email" data-i18n="AUTH:TXT_1"> 이메일 주소를 입력한 후 확인 버튼을 클릭하세요</li>
				<li class="success warning emailChk" data-i18n="AUTH:TXT_2"> 입력하신 이메일 계정에 접속하면 아이디를 알려드립니다</li>
			</ul>
		</div>
		
	</div>
    <div class="card">
        <ons-button modifier="large" class="btnSendEmail" >
			<i class="fa fa-paper-plane"></i>&nbsp;<span data-i18n="AUTH:SENDEMAIL">이메일 전송</span>
		</ons-button>
    </div>

	<style>
		#findIdPage ons-list-item .center{
            height: 35px;
            /* line-height: 50px; */
            /* padding-top: 10px;
            margin-left: 10px; */
        }

		#findIdPage ons-input {
            width: 100%;
            display: inline-block;
        }

        #findIdPage ons-input input{
            text-align: left;
        }

		#findIdPage .error_box {
            background: #FAD3C4;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            color: #444444;
            display: block;
            font-size: 13px;
            margin: 5px;
			padding: 2px 2px 8px 0;
			/* margin-left:18px; */
        }

        #findIdPage .error_box ul {
            padding: 0 0 0 5px;
			margin: 5px;
			font-size: 12px;
			list-style: none;
			line-height:18px;
        }

        #findIdPage .success_box {
            background: #E2F1BB;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            color: #000000;
            font-size: 13px;
        }
	</style>
</ons-page>