<ons-page id="findIdPwTabbarPage">
    <ons-toolbar >
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center"><span data-i18n="AUTH:FIND_ID">아이디 찾기</span> / <span data-i18n="AUTH:RESET_PW">비밀번호 재설정</span></div>
        <div class="right"></div>
    </ons-toolbar>
    <ons-tabbar id="findIdPwTabbar" position="top">
        <ons-tab label="아이디 찾기" page="html/auth/find_id.html" active class="tab_findid"></ons-tab>
        <ons-tab label="비밀번호 재설정" page="html/auth/find_password.html" class="tab_findpw"></ons-tab>
    </ons-tabbar>
</ons-page>