<ons-page id="joinPage">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center" data-i18n="AUTH:JOIN">회원가입</div>
    </ons-toolbar>
	<div class="card">
		<form id="joinForm" name="joinForm">
			<ons-list>
				<ons-list-title data-i18n="AUTH:JOIN_INFO">회원가입 정보</ons-list-title>
				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="userid" input-id="user_id" name="USER_ID" placeholder="ID" type="text" ></ons-input>
					</div>
					<div class="right">
						<ons-button id="btnCheckId"><i class="fa fa-user"></i>&nbsp;
							<span class='txtBtnId' data-i18n="AUTH:ID_CHK" value="">아이디 중복체크</span>
						</ons-button>
					</div>    
				</ons-list-item>

				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="email" input-id="e_mail" name="EMAIL" placeholder="EMAIL"" type="text" ></ons-input>
					</div>    
					<div class="right">
						<ons-button id="btnCheckEmail"><i class="fa fa-envelope"></i>&nbsp;
							<span class='txtBtnEmail' data-i18n="AUTH:EMAIL_CHK" value="">이메일 중복체크</span>
						</ons-button>
					</div>    
				</ons-list-item>
				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="password" input-id="pass_word" name="PASS_WD" type="password" placeholder="비밀번호(영문+숫자 조합 6자리 이상)" value=""></ons-input>
					</div>    
				</ons-list-item>
				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="passwordconfirm" input-id="password_confirm" name="passwordconfirm" type="password" placeholder="비밀번호 확인" ></ons-input>
					</div>    
				</ons-list-item>
				
				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="name" input-id="_name" name="USER_NM" placeholder="닉네임" value="" ></ons-input>
					</div>    
				</ons-list-item>

				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="refferor" input-id="_refferor" name="REF_ID" placeholder="추천인아이디" float readonly="readonly" value=""></ons-input>
					</div>    
				</ons-list-item>

				<ons-list-item class="listItem">
					<div class="center">
						<ons-input id="phone_number" input-id="tel" name="TEL" placeholder="전화번호(임시:삭제예정)" readonly="readonly" > </ons-input>
					</div>    
				</ons-list-item>
			</ons-list>
			<div class="error_box">
				<ul>
					<li class="success warning userId" data-i18n="AUTH:VAL_ID">아이디는 최소 2자이상 입력</li>
					<li class="success warning userIdChk" data-i18n="AUTH:VAL_ID_CHK">아이디 중복 체크</li>
					<li class="success warning email" data-i18n="AUTH:VAL_EMAIL">이메일형식으로 입력</li>
					<li class="success warning emailChk" data-i18n="AUTH:VAL_EMAIL_CHK">이메일 중복 체크</li>
					<li class="success warning password" data-i18n="AUTH:VAL_PW">비밀번호는 숫자, 영문을 포함</li>
					<li class="success warning length" data-i18n="AUTH:VAL_PW6">비밀번호는 최소 6자리 이상</li>
					<li class="success warning success confirm" data-i18n="AUTH:VAL_PW_CHK">비밀번호와 비밀번호 확인을 동일입력</li>
					<li class="success warning name" data-i18n="AUTH:VAL_NICK">닉네임은 최소 2자 이상 입력</li>
				</ul>
			</div>
	   
			<ons-list>
				<ons-list-title data-i18n="AUTH:PLY_AGREE">약관 및 동의</ons-list-title>
				<ons-list-item class="listItem" tappable>
					<div class="center">
						<ons-checkbox id="agreeAll" input-id="agree_All" name="agreeAll" class="mainCheck" ></ons-checkbox> 
						<label for="agree_All" data-i18n="CONF:agreeAll">전체 동의</label>
					</div>    
					
				</ons-list-item>
				<ons-list-item class="listItem" tappable>
					<div class="center">
						<ons-checkbox id="agreeUse" input-id="agree_Use" name="agreeUse" class="subCheck" required></ons-checkbox> 
						<label for="agree_Use" data-i18n="AUTH:AGREE_USE_RQR"> 이용약관 동의(필수)</label>
					</div>    
					<div class="right">
						<ons-button modifier="quiet" class="btnbNone goPolicy"><span data-i18n="AUTH:VW_CNTT">내용보기</span></ons-button>
					</div>
				</ons-list-item>

				<ons-list-item class="listItem" tappable>
					<div class="center">
						<ons-checkbox id="agreePrivate" input-id="agree_Private" name="agreePrivate" class="subCheck" required></ons-checkbox> 
						<label for="agree_Private" data-i18n="AUTH:AGREE_PRI_RQR">개인정보 수집 및 이용동의(필수)</label>
					</div>
					<div class="right">
						<ons-button modifier="quiet" class="btnbNone goPolicy" ><span data-i18n="AUTH:VW_CNTT">내용보기</span></ons-button>
					</div>
				</ons-list-item>

				<ons-list-item class="listItem" tappable>
					<div class="center">
						<ons-checkbox id="agreeAlram" input-id="agree_Alram" name="agreeAlram" class="subCheck" ></ons-checkbox> 
						<label for="agree_Alram" data-i18n="AUTH:AGREE_ALRAM">위드유 혜택 알림 동의(선택)</label>
					</div>    
				</ons-list-item>
			</ons-list>
			
			<ons-bottom-toolbar class="bottom-bar">
				<ons-button class="btnJoin" type="submit" modifier="large" data-i18n="AUTH:JOIN" disabled>가입하기</ons-button>
			</div>        
		</form>
	 </div>
	 
</ons-page>