<ons-page id="loginPage">
    <div class="login_form">
        
         
         <p>
             <ons-input id="user_id" type="text" name="USER_ID" placeholder="ID"  required></ons-input>
         </p>
         <p>
             <ons-input id="pass_wd" name="PASS_WD" type="password" placeholder="Password" required></ons-input>
         </p>
         <ons-button class="btnLogin" modifier="large">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="login" x="0px" y="0px" viewBox="0 0 79.5 105" style="fill: #fff;enable-background:new 0 0 79.5 105;" xml:space="preserve">
                 <path id="in" class="st0" d="M58,105H37c-11.9,0-21.5-9.6-21.5-21.5c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5C24.5,90.4,30.1,96,37,96h21  c6.9,0,12.5-5.6,12.5-12.5v-62C70.5,14.6,64.9,9,58,9H37c-6.9,0-12.5,5.6-12.5,12.5c0,2.5-2,4.5-4.5,4.5s-4.5-2-4.5-4.5l0,0  C15.5,9.6,25.1,0,37,0h21c11.9,0,21.5,9.6,21.5,21.5v62C79.5,95.4,69.9,105,58,105z"/>
                 <path id="arrow" class="st0" d="M51.3,55c0.1-0.1,0.2-0.3,0.2-0.4c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.2,0.1-0.3,0.2-0.5s0.1-0.2,0.1-0.3  c0.1-0.6,0.1-1.2,0-1.7c0-0.1-0.1-0.2-0.1-0.3s-0.1-0.3-0.2-0.5c-0.1-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.1-0.3-0.2-0.4S51.1,50.1,51,50  s-0.1-0.2-0.2-0.3L36.3,34c-1.7-1.8-4.6-1.9-6.4-0.2s-1.9,4.5-0.2,6.3l7.4,7.9H4.5C2,48,0,50,0,52.5S2,57,4.5,57h32.6l-7.4,7.9  c-1.7,1.8-1.6,4.7,0.2,6.4c1.8,1.7,4.7,1.6,6.4-0.2l0,0l14.5-15.5c0.1-0.1,0.1-0.2,0.2-0.3S51.2,55.1,51.3,55z"/>
             </svg>
             <span data-i18n="AUTH:LOGIN">로그인</span>
         </ons-button>
         
         <div class="find_btn">
             <ons-button modifier="quiet" id="btnFindId"><span data-i18n="AUTH:FIND_ID">아이디 찾기</span></ons-button>
             <ons-button modifier="quiet" id="btnFindPw"><span data-i18n="AUTH:FIND_PASS">비밀번호 찾기</span></ons-button>
         </div>
 
         <ons-button class="btnJoin button" modifier="large--cta">
             <img src="img/svg/join.svg">
             <span data-i18n="AUTH:JOIN">간편 회원가입</span> 
         </ons-button>
 
         <div class="sns_btn">
             <a id="kakao-login-btn" class="btnSnsWeb"></a>
             <ons-button class="btnLoginKakao btnSns" >
                 <img src="img/button/kakao_login_btn_large_narrow_en.png" />
             </ons-button>
             <ons-button class="btnLoginNaver btnSns" >
                 <img src="img/button/_naver_login_button3_en.png" />
             </ons-button>
         </div>

         <div class="platform_btn">
            <ons-button class="btnLoginApple"><img src="img/button/apple-id-sign-in-with.png" /></ons-button>
        </div>
          
         <div class="center hide">
             <hr class="lineHr">
             <ons-input id="phone_number" input-id="tel" name="TEL" placeholder="전화번호를 수정하세요" float ></ons-input>
             <ons-button id="btnCheckTelNumber">
                 <i class="fa fa-phone"></i>&nbsp;
                 <span class='btnTelMod' data-i18n="COMM:MOD">수정</span>
             </ons-button>
         </div>
     </div>

     <ons-fab position="bottom left" id="fabTel" class="fabLeftBottom">
         <i class="fa fa-phone"></i>&nbsp;<i class="fa fa-exchange"></i>
     </ons-fab>
 
     <ons-dialog id="phonenumber-dialog" cancelable>
         <div style="text-align: center; padding: 1rem;">
             <p>
                 <span class='changeTelNum blue'></span> <span data-i18n="DIAG:CHANGE_NUMBER">로 전화번호를 변경 하시겠습니까?</span>
                 <div class='blue' data-i18n="DIAG:CONFIRM_AGAIN">신중히 확인 후 변경바랍니다</div>
             </p>
             <hr/>
             <ons-button modifier="button" class="button btnPop diagTelCancel"><span data-i18n="COMM:cancel">취소</span></ons-button>
             <ons-button modifier="button" class="button btnPop diagTelOk"><span data-i18n="COMM:ok">확인</span></ons-button>
         </div>
     </ons-dialog>
     <style>
         #loginPage .btnJoin img{
             width: auto;
             height: 1rem;
             margin-right: 5px;
         }
 
         .btnSnsWeb {
             margin-top: 10px;
             display: inline-block;
         }
 
         #loginPage .hide{
             display: none;
             margin-top: 1em;
         }
         #loginPage #btnCheckTelNumber{
             position: absolute;
             right: 1em;
             width: 100px;
         }
 
         #loginPage ons-fab#fabTel{
             transform: translate3d(0px, 0px, 0px) scale(1);
             background: #ff5e00;
             color: white;
             bottom: 13px;
         }
 
         #loginPage ons-fab#fabTel .fa-phone{
             vertical-align: middle;
         }
 
         #loginPage ons-fab#fabTel span{
             font-size: 15px;
             vertical-align: middle;
         }
 
         #loginPage .lineHr{
             margin-bottom:2em;
         }

         #loginPage .platform_btn{
            text-align: center;
        }

        #loginPage .platform_btn ons-button {
            border: none;
            width: 100%;
            display: inline-block;
            height: auto;
            background: none;
        }
     </style>
 </ons-page>