<ons-page id="locationMapPage">
    
	<ons-toolbar>
		<div class="left">
			<ons-back-button>Back</ons-back-button>
		</div>
		<div class="center">코인 내역</div>
	</ons-toolbar>

	<div class="card">
		<h4><ons-icon icon="fa-map" modifier="material" class="ons-icon"></ons-icon> 배달원 위치 </h4>
	</div>

	<div class="card">
		<div id="locationMap" ></div>
	</div>

    <style>
        #locationMapPage .card{
            padding:0 5px 0 5px ;
            border-radius:0;
            margin-top:10px;
        }

        #locationMapPage ons-search-input {

            display: inline-block;
            position: relative;
            height: 30px;
            vertical-align: middle;
            display: inline-block;
            margin: 2px;
            width:70%;
        }

        #locationMapPage ons-search-input input{
           height: 30px;
        }
         
        #locationMapPage .card ons-button.search{
            width:25%;
        }

        #locationMapPage ons-select{
            width:90%;
        }

        #locationMapPage .center ons-input{
            margin-left:10px;
            width:90%;
        }

         
    </style>
    
</ons-page>
