<ons-page id="profilePage">
	<h4 class="title">
		<span data-i18n="TABMENU:PORFILE" class="titleTab">나의정보</span>
	</h4>
	<div class="card">
		<form id="joinForm" name="joinForm">
			<ons-list>
				<ons-list-item tappable class="listItem goLocSetting" modifier="longdivider chevron">
					<div class="left"><ons-label data-i18n="LOCATION:MY_AREA">배달구역 설정</ons-label></div>
					<div class="center"><i class="fa fa-map-marker red" ></i> <span class="lspan cityName">하노이</span></div>    
				</ons-list-item>

				<ons-list-item class="listItem btnCoinList" modifier="longdivider chevron">
					<div class="left"><ons-label data-i18n="COIN:BONUS_QTY">적립금 수량</ons-label></div>
					<div class="center"><i class="fa fa-ticket green" ></i> <span class="lspan coinQty">하노이</span></div> 
				</ons-list-item>
				<ons-list-item class="listItem">
					<div class="left"><ons-label data-i18n="AUTH:ID">아이디</ons-label></div>
					<div class="center">
						<ons-input id="user_id" input-id="_user_id" name="user_id" ></ons-input>
					</div>
				</ons-list-item>
				<ons-list-item class="listItem">
					<div class="left"><ons-label data-i18n="PROFILE:EMAIL">이메일</ons-label></div>
					<div class="center">
						<ons-input id="email" input-id="e_mail" name="email" type="email"  readonly="readonly" ></ons-input>
					</div>    
				</ons-list-item>
				<ons-list-item class="listItem">
					<div class="left"><ons-label data-i18n="PROFILE:NICK">닉네임</ons-label></div>
					<div class="center">
						<ons-input id="name" input-id="_name" name="name"  placeholder="2자 이상" ></ons-input>
					</div>
					<div class="right">
						<ons-button id="btnSave"><i class="fa fa-user"></i>&nbsp;<span data-i18n="PROFILE:SAVE">저장</span></ons-button>
					</div>
				</ons-list-item>
				<ons-list-item class="listItem">
					<div class="left"><ons-label data-i18n="PROFILE:REF_ID">추천인아이디</ons-label></div>
					<div class="center">
						<ons-input id="refferor" input-id="_refferor" name="refferor" placeholder="저장 후 수정 불가능" ></ons-input>
					</div>
					<div class="right">
						<ons-button id="btnReferer"><i class="fa fa-tag"></i>&nbsp;<span data-i18n="PROFILE:SAVE">저장</span></ons-button>
					</div>
				</ons-list-item>
				<ons-list-item class="listItem">
					<div class="left"><ons-label data-i18n="PROFILE:TEL">전화번호</ons-label></div>
					<div class="center">
						<ons-input id="phone_number" input-id="tel" name="TEL" ></ons-input>
					</div>
					<div class="right">
						<ons-button id="btnCheckTelNumber" ><i class="fa fa-phone"></i>&nbsp;<span data-i18n="COMM:MOD">수정</span></ons-button>
					</div>
				</ons-list-item>
				<ons-list-item class="error_box item_sns_none">
					<ul>
						<li class="success warning password" data-i18n="PROFILE:PW_VALI_1">비밀번호는 숫자, 영문을 포함해야 합니다</li>
						<li class="success warning length" data-i18n="PROFILE:PW_VALI_2">비밀번호는 최소 6자리 이상입니다</li>
						<li class="success warning confirm" data-i18n="PROFILE:PW_VALI_3">비밀번호와 비밀번호 확인을 동일하게 입력하세요</li>
					</ul>
				</ons-list-item>
				<ons-list-item class="listItem item_sns_none">
					<div class="left"><ons-label data-i18n="AUTH:PW">비밀번호</ons-label></div>
					<div class="center">
						<ons-input id="password" input-id="pass_word" name="password" type="password" placeholder="비밀번호(영문+숫자 조합 6자리 이상)" ></ons-input>
					</div>    
				</ons-list-item>
				<ons-list-item class="listItem item_sns_none">
					<div class="left"><ons-label data-i18n="AUTH:PW1">비밀번호 확인</ons-label></div>
					<div class="center">
						<ons-input id="passwordconfirm" input-id="password_confirm" name="passwordconfirm" type="password" placeholder="비밀번호 확인" ></ons-input>
					</div>    
				</ons-list-item>
			</ons-list>

			<div class="card buttonArea">
				<ons-button class="btnChangePw noBg" modifier="large" disabled><span data-i18n="COMM:changePassword">비밀번호 변경</span></ons-button>
			</div>

			<div class="card buttonArea">
				<ons-button id="btnLogout" class="btnLogout" modifier="large">
					<span data-i18n="AUTH:LOGOUT">로그아웃</span>
					&nbsp;
					<i class="fa fa-sign-out"></i>
				</ons-button>
			</div>

			<div class="card buttonArea cordovaButton">
				<ons-button id="btnOffService" class="btnOffService" modifier="large">
					<span data-i18n="PROFILE:SVC_OUT">서비스 연결 끊기</span>&nbsp; <i class="fa fa-unlink"></i>
				</ons-button>
			</div>
		</form>
	 </div>

	<ons-dialog id="ref-dialog" cancelable>
		<div style="text-align: center; padding: 1rem;">
			<ons-button class="refDiagClose"><i class="orange fa fa-remove"></i></ons-button>
			<p>
				추천인을 <span class='refid'></span> 로 저장하시겠습니까?
			</p>
			<p class="warning">
				한번 저장 후 변경 불가능 합니다.
			</p>
			<ons-button class="refDialogOK"><span data-i18n="COMM:ok"></span></ons-button>
		</div>
	</ons-dialog>

	<ons-dialog id="phonenumber-dialog" cancelable>
		<div style="text-align: center; padding: 1rem;">
			<p>
				<span class='changeTelNum blue'></span> 로 전화번호를 변경 하시겠습니까?
				<div class='blue'>신중히 확인 후 변경바랍니다</div>
			</p>
			<hr/>
			<ons-button modifier="button" class="button btnPop diagTelCancel">취소</ons-button>
			<ons-button modifier="button" class="button btnPop diagTelOk">확인</ons-button>
		</div>
	</ons-dialog>

	<ons-dialog id="service-dialog" cancelable>
		<div style="text-align: center; padding: 1rem;">
			<p>
				서비스와 연결을 해제하시겠습니까?
			</p>
			<hr/>
			<ons-button modifier="button" class="button diagServicecCancel">취소</ons-button>
			<ons-button modifier="button" class="button diagServiceOffOk">확인</ons-button>
		</div>
	</ons-dialog>

	<style>

		#profilePage .page__content {
			padding: 0rem;
		}
		#profilePage > .page__content h4.title {
			margin: 0.5rem 1rem;
		}

		#profilePage form[name='joinForm']{
			padding: 1rem;
			padding-top: 0.5em;
		}
		
		span.txtBtnCoin {
			width: 75%;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline-block;
			white-space: nowrap;
			font-size: 12px;
		}

		#profilePage .listItem .center > .lspan{
			line-height: 28px;
			font-size: 14px;
			font-weight: bold;
		}

		#profilePage .listItem .center i{
			width: 20px;
			text-align: center;
		}
		
	</style>
</ons-page>