<ons-page id="userLocationPage">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center" data-i18n="LOCATION:MY_AREA">거주지역</div>
    </ons-toolbar>
    
	<div class="card">
        <form id="userLocForm" name="userLocForm">
            <ons-list>
                <ons-list-item class="listItem">
                    <div class="left"><ons-label data-i18n="LOCATION:SEL_CNTNT">지역 선택</ons-label></div>
                    <div class="center">
                        <ons-select id="" name="sCntnt">
                            <option value="" data-i18n="LOCATION:SEL_CNTNT"></option>
                        </ons-select>
                    </div>    
                </ons-list-item>
            
                <ons-list-item class="listItem">
                    <div class="left"><ons-label data-i18n="LOCATION:SEL_NATION">국가 선택</ons-label></div>
                    <div class="center">
                        <ons-select id="" name="sNation">
                            <option value="" data-i18n="LOCATION:SEL_NATION"></option>
                        </ons-select>
                    </div>
                </ons-list-item>
            
                <ons-list-item class="listItem">
                    <div class="left"><ons-label data-i18n="LOCATION:SEL_CITY">도시 선택</ons-label></div>
                    <div class="center">
                        <ons-select id="" name="sCity">
                            <option value="" data-i18n="LOCATION:SEL_CITY"></option>
                        </ons-select>
                    </div>
                </ons-list-item>

                <ons-list-item class="listItem goAddr" tappable modifier="longdivider chevron">
                    <div class="left"><ons-label data-i18n="CONF:addr1">주소</ons-label></div>
                    <div class="center">
                        <ons-input name="addr1" readonly style="width:90%;"/>
                    </div>
                </ons-list-item>

                <ons-list-item class="listItem">
                    <div class="left"><ons-label data-i18n="CONF:addr2">상세주소</ons-label></div>
                    <div class="center">
                        <ons-input name="addr2" />
                    </div>
                </ons-list-item>
            </ons-list>

            <div class="card buttonArea">
                <ons-button class="btnSaveLoc" modifier="button">
                    <span data-i18n="COMM:save">저장</span>
                </ons-button>
            </div>

        </form>
        
    </div>
    <style>
                
        /* 나의 프로필 */
        #userLocationPage .list-item__left, #userLocationPage .list-item__right {
            min-width: 85px;
            padding: 0;
        }

        #userLocationPage > .page__content h4.title {
            margin: 0.5rem 1rem;
        }

        #userLocationPage form[name='userLocForm']{
            padding:1rem;
            padding-top:0.5em;
        }

        #userLocationPage .listItem div {
            padding: 5px 0;
            width: auto;
        }
        #userLocationPage .listItem div input {
            font-size: 14px;
            min-height: 30px;
        }

        #userLocationPage ons-select{
            max-width: unset;
        }
        #userLocationPage .listItem div ons-button {
            border-radius: 0;
            padding: 8px;
            font-size: 12px;
            min-height: 30px;
            height: 30px;
        }
        #userLocationPage ons-list-item.list-item {
            height: auto;
            border-bottom: 1px solid #e0e0e0;
            margin: 2px auto;
        }

        #userLocationPage ons-list-item.list-item ons-label {
            font-size: 13px;
            text-align: left;
            line-height: 30px;
            color: #242424;
        }


        #userLocationPage .btn_wrap .change_profile ons-button[disabled] {
            color: #000;
        }

        #userLocationPage .buttonArea.card {
            /* padding-bottom: .5rem; */
            display: flex;
            justify-content: space-between;
        }

        #userLocationPage .btnSaveLoc {
            background: #fff;
            border-color: #FF5E00;
            color: #FF5E00;
            fill: #FF5E00;
            width: 100%;
            margin-top: 1em;
        }

    </style>
</ons-page>