html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size:1rem;
	font-family: 'Noto Sans KR', sans-serif;
}

h4{
	font-size:16px;
}

.toastList{
	display: inline-block;
    padding-left: 5px;
    margin: 0px 0;
}

.pageLoading{
	text-align: center;
    margin: 10px 0;
}
.menuButton{
    height: 100%;
    position: relative;
    padding-top: 18px;
	display: inline-block;
	padding: 0 !important;
}

.notification{
	vertical-align: top;
    font-size: 12px;
	left: -10px;
    top: 8px;
}

.text-input__label{
	font-size:12px;
	top:8px;
	color: darkgray;
}

.toolbar-button{
	padding: 0 0;

}

ons-toolbar .center span {
	font-size: 1.4rem;
}

/* .toolbar-button:first-of-type{
	padding-left:10px;
}

.toolbar-button:last-of-type{
	padding-right:10px;
} */

.toolbar-button--material:last-of-type {
    margin-right: 0px;
}

.card {
	box-shadow: 0 0px 0px rgba(0, 0, 0, .12);
}

.list-item {
	border-bottom: 1px solid whitesmoke;
}

.width100p{
	width:100%;
	margin-right:5%;
}

.width50p{
	width:40%;
	margin-right:5%;
}

.font12px{
	font-size:12px;
}
.error{
	display: block;
	margin: 1px;
	font-size: 12px;
	color:red;
	padding-left:5px;
	text-align:left;
	letter-spacing:-1px;
	line-height:13.5px;
}


.error::before{
	content: '\2714  ';
}


.list-header{
	background-color: #13bde2;
	color: white;
	font-size: 16px;
	/*font-weight: bold;*/
	padding:3px 10px

}

.list-item__left {
	padding: 0px 5px 0px 0;
	font-size:13px;
}

.list-item__left ons-label{
	color:rgb(148, 168, 189);;
}

.list-item__center{
	padding-top:5px;
	padding-bottom:5px;
	background-image:none;
}

.list-item__right{
	padding: 0px 16px 0px 0;
	background-image:none;
}

ons-input .text-input, ons-search-input .search-input{
	text-align:center;
	height:30px;
	/* padding-top: 7px; */
	font-size:12px;
}

ons-search-input .search-input{
	text-align:left;
}

ons-input.center .text-input, ons-search-input.center .search-input{
	text-align:left;
}

ons-input.right .text-input, ons-search-input.right .search-input{
	text-align:right;
}

ons-button, .button {
	/* margin-left:3px; */
	text-align:center;
}

ons-select{
	min-width:100px;
	max-width:250px;
}

ons-select select{
	text-align-last:center;

}

.left > ons-label{
	width:100%;
	display:inline-block;
	text-align:right;
	letter-spacing:-1px;
}

.buttonSet{
	width:100%;
	height:55px;
	display:inline-block;
	text-align:center;
}

.buttonRed{
	background-color: transparent;
	border: 1px solid red;
	color:red;
	/*float:right;*/
}

.redBtn{
	background-color: red;
}

/* 메뉴 */

/* 목록 */

.red{color:red !important; }
.blue{color:blue !important;}
.whiteblue{color:rgb(54, 144, 243) !important;}
.green{color:green !important;}
.gray{color:rgb(148, 168, 189) !important;}
.yellow{color:rgb(247, 211, 70) !important}
.orange{color:#FF5E00 !important;}

.bOrange{ background-color:#FF5E00; opacity: 0.3; }
.bRed{background-color:red; opacity: 0.3;}
.bBlue{background-color:blue;}
.bWhiteblue{background-color:rgb(54, 144, 243);}
.bGreen{background-color:green;}
.bGray{background-color:rgb(148, 168, 189);}
.bYellow{background-color:rgb(247, 211, 70); opacity: 0.3;}

.aLeft{ text-align: left; }
.aRight{ text-align: right; }
.aCenter{ text-align: center; }

ons-toast.warning .toast{
	background-color:#f39c12 !important;
}

ons-toast.info .toast{
	background-color:#00c0ef !important;
}

ons-toast.danger .toast{
	background-color:#dd4b39 !important;
}

ons-toast.success .toast{
	background-color:#00a65a !important;
}

ons-toast.warning .toast div{
	color:white;
}

.detailUl {
	margin:0;
}

.detailUl li{
	width: 100%;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-item--material {
	padding:0 0 0 5px;
}

.list-item--material__left, .list-item--material__center, .list-item--material__right {
	min-height:40px;
}

.select-input {
	/* color:#afafaf; */
	font-size:13px;
}

.dataList{
	border-radius:0;
	padding:0;

}
.listItem{
	border-radius:0;
	border-bottom: 1px solid #e0e0e0;
}
.listItem div {
	display:inline-block;
	border-radius:0;
	
}
.listItem div.left {
	width:90%;
}

.listItem span.center.notification {
	vertical-align: middle;
	font-size:11px;
}

.listItem div.right {
	width:100%;
}

.left.title{
	font-size:13px;
}
.listContent{
	font-size:13px;
}

.txtRight{
	font-size: 12px;
    margin-top: 5px;
    color: darkgray;
}

.ellipsis{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width:100%;
}

.listCondition .left {
	width:19%;
}

.listCondition .left > ons-label{
	text-align:left;
}

.txtSearch{
	height:26px;
}

ons-input::placeholder {
	font-size:10px;
}
input::placeholder {
	font-size:10px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size:10px;
}
::-moz-placeholder { /* Firefox 19+ */
 	font-size:10px;
}
:-ms-input-placeholder { /* IE 10+ */
  	font-size:10px;
}
:-moz-placeholder { /* Firefox 18- */
  	font-size:10px;
}

/* DatePick 보이지 않기 */
input[name='_submit'] {
    border: none;
    display: none;
}


/* 목록화면 아래 선긋기 */
.pOderList .center{
	width:50%;
	background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 100%);
}


.pOderList .right{
	background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 100%);
}

.state {
	letter-spacing: -1px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	width: 100%;
}


.ListHeader .left > ons-label {
	text-align: center;
}


.algnCenter {
    text-align: center;
}

.lnb {
	height:50px;
	line-height: 50px;
}

.lnb > div {
	display: inline;
	
}

.lnb .right	{
	float:right;
	font-size: 13px;
}


.modal__content > .card {
	width: 89%;
	margin: 0 auto;
	border-radius: 0;
	color: gray;
	text-align: center;
	position: relative;
}

.modal__content .popBody{
	border-bottom: 1px solid whitesmoke;
}

.modal__content .close {
    text-align: right;
    position: absolute;
    width: 20%;
    right: 0;
}

ons-action-sheet div.action-sheet {
	left:10px;
	right:10px;
	bottom:10px;
}

ons-action-sheet .action-sheet-title {
	text-align: center;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
    height: 40px;
    line-height: 24px;
}

ons-action-sheet-button.action-sheet-button {
	line-height: 35px;
    height: 40px;
    border-bottom: 1px solid whitesmoke;
}

ons-action-sheet .action-sheet-icon {
	line-height: 40px;
	height:40px;
}

/* 언어선택 공통*/

.flag{
	width:25px;
	vertical-align: middle;
}

.sysMessage{
	margin:0 30px;
	font-size:15px;
	margin-bottom:30px;
}

ons-alert-dialog .alert-dialog-title{
	text-align: center;
	font-size:18px;
}

ons-alert-dialog .alert-dialog-content{
	text-align: center;
	font-size:15px;
	font-family: gmarketM;
}

.dialog-container p {
	margin-top: 10px;
	word-break: keep-all;
}


.agreeContentPopTel{
	margin:auto 10px;
}

.agreeContentPopTel .agreeItem .agreeCheckbox{
	padding-left:20px;padding-bottom:5px;
}

.agreeContentPopTel ons-list-item.list-item{
	height:auto;
	padding:10px;
	margin-top:0px;
	font-size:14px;
}

.agreeContentPopTel ons-list-item.list-item.agreeItem{
	height:50px;
	margin-top: 0;
    padding-top: 0;

}

.agreeContentPopTel .stit{
	font-size: 16px;
	color: blue;
	margin-bottom: 8px;
}

.agreeContentPopTel .btnAgreeTel{
	width:45px;
}
.agreeContentPopTel .btnClosePop {
	width: 140px;
	text-align: center;
	display: inline-block;
	/* position: relative; */
	height: 40px;
	margin-bottom: 10px;
}

.telAgreebuttons{
	width: 140px;
	text-align: center;
	display: inline-block;
	/* position: relative; */
	height: 40px;
	margin-bottom: 10px;
}

#homePage .CateMenu .btnCorp span.ready:after {
	display: flex;
	content: '서비스준비중';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	color: #fff;
	align-items: center;
	justify-content: center;
}

#homePage .reloadArea{
	text-align: center;
	margin: 10px 0;
	display:none;
}

#homePage .reloadArea div{
	margin:5px 0;
	color:#FF5E00;
}

/* fcm Popup */

#modalFcm .fcmContentPopTel{
	width: 90%;
	margin: 0 auto;
}
#modalFcm .btnFcm{
	width:45%;
}

#modalFcm .fcmBody{
	padding: 5px;
	line-height: 22px;
	margin: 10px;
}

#modalFcm ons-list-item{
	height:auto;
}

#modalFcm ons-list-item .center{
	padding:0;
}

.buttonMenu  > p {
	margin: 0;
    text-align: left;
    /* background: #f2f4f7; */
    margin-top: 1em;
    border-bottom: 5px solid #e4e4e4;
    /* border-width: 1px 0; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 600;
    color: #ff5e00;
    margin-bottom: 0.5em;
}

#homePage .CateMenu .card{
	margin: 1% 1% 1em 1%;
}

.btnPop{
	width:25%;
}

ons-button.button.btnMore {
	margin-left: 10px;
	height: 30px;
	padding: 0px 4px;
}

ul.toastServer {
	margin: 0;
    padding-left: 10px;
}


#detailViewPopup span.ptit {
    width: 70px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}

#detailViewPopup .swiper-pagination{
	width: 25px;
	right: 0;
	left: auto;
}

#configLangDialog .dialog-container{
	padding-bottom: 40px;
}

#configLangDialog p{
	margin: 10px 0 0 0px;
}

#configLangDialog ons-button.configLangOK {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}

.i18msg{
	word-break: break-all;
}