/* product page */
#favoritePage .page__content,
#favoritePage .page__background {
}

#favoritePage > .page__content {
    padding-top: 0;
}

#favoritePage #list-node {
    padding: 1rem;
    padding-top:0;
    margin-bottom: 60px;
}
#favoritePage ons-list-title {
    padding: 10px 0 3px 16px;
}
#favoritePage .lnb {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 5px 0;
    overflow: hidden;
    border-bottom: 1px solid #f2ebe4;
    top: 56px;
    z-index: 999;
    background: #fff;
}
#favoritePage .lnb .left {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
    padding: 10px;
}
#favoritePage .lnb .slideMenu {
    display: block;
    /* padding-left: 80px; */
}
#favoritePage .lnb .slideMenu div[class^="swiper-container"] {
    /* margin-left: 80px; */
    left: 80px;
    width: calc(100% - 80px);
    position: relative;
}

#favoritePage .lnb .btnCateMenu span{
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#favoritePage .btnCateMenu img{
    height:45px;
}

#favoritePage .popBody .btnCateMenu img{
    height:75px;
}

#favoritePage ons-fab#searchFilter {
    width: auto;
    height: 28px;
    font-size: 14px;
    padding: 0 13px;
    line-height: normal;
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid #a7a7a7;
    background-color: #fff;
    color: #000;
}
#favoritePage ons-fab#searchFilter svg {
    margin-left: 3px;
}
#favoritePage ons-fab.fab--bottom__right {
    bottom: 20px;
    background: #ff5f02;
}
#favoritePage .innerFavorite {
    position: absolute;
    width: auto;
    height: 20px;
    top: 9px;
    left: auto;
    right: 9px;
    background: #fff;
    border: 2px solid #ff5e00;
    font-size: 11px;
    color: #ff5e00;
    font-weight: bold;
    line-height: 18px;
    padding: 0;
    letter-spacing: -.5px;
}

#favoritePage .isServiceProduct{
    font-size: 11px;
    text-align: center;
    line-height: 15px;
}

#favoritePage .cooking{
    color: darkorange;
    padding-top: 1px;
    width:100%;
}

#favoritePage ons-list ons-list-title.list-title, h4.title {
    padding: 10px 0 5px;
    margin: 0.5rem 0;
    font-size: 13px;
    color: #ff5e00;
    border-bottom: 1px solid #ff5e00;
}


#favoritePage ons-button.btnRmFavorite {
    padding: 5px 5px 0 0;
    height: auto;
    top: 10px;
    background: transparent;
    border: transparent;
    color: #f00;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
}

#favoritePage ons-button.btnRemoveAll  {
    background: none;
    color: red;
    margin: -0.2em 0 0 0;
    position: absolute;
    right: 1em;
    font-size: 14px;
    top: 15px;
    font-weight: bold;
}



/*  장바구니 삭제 버튼 */
#favoriteRemove-dialog .dialog-container {
    padding: 1rem;
    position: relative;
}
#favoriteRemove-dialog ons-button.btnDialogRemoveFavoriteOk{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}
#favoriteRemove-dialog ons-button.btnDialogRemoveFavoriteCancel{
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#favoriteRemoveAll-dialog .dialog-container {
    padding: 1rem;
    position: relative;
}

#favoriteRemoveAll-dialog ons-button.btnDialogRemoveAllFavoriteOk {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}