
/* 공통 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: initial;
}

.hana_air {
    font-family:initial;
}

#mySplitter ons-tab, #mySplitter ons-button,
#mySplitter h4, #mySplitter .tabbar__label {
    font-family:initial;
}

.toolbar__center, .toolbar__title {
    font-family:initial;
}

.tabbar--top ons-tab {
    font-family:initial;
}

span.giftMessage {
    font-family:initial;
} 

.CateMenu .card.emptyOrNoData {
    font-family:initial;
}
#productListPage .lnb .btnCateMenu span{
    font-family:initial;
}

#orderDetailPage ons-list ons-list-title.list-title {
    font-family:initial;
}

#orderConfirmPopup ons-button.btnOrd {
    font-family:initial;
}

#ordrlistPage span.subtitle, 
#grporderlistPage span.subtitle{
    font-family:initial;
}

#grpOrderDetailPage ons-list ons-list-title.list-title {
    font-family:initial;
}