.page[status-bar-fill]>.toolbar:not(.toolbar--cover-content)+.page__background+.page__content,
.page[status-bar-fill]>.toolbar:not(.toolbar--transparent)+.page__background {
    top: 77px;
}

#tabbarPage ons-toolbar > .center ons-button {
    top: 0px;
}

.back-button__label {
    vertical-align:text-top;
    padding-left:5px;
    height:auto;
    padding-bottom:5px;
    display:inline-block;
}

#tabbarPage ons-toolbar > .center {
    text-align: center;
    width: 80%;
    position: relative;
}

#tabbarPage ons-toolbar > .center ons-button {
    background: none;
    border: none;
    position: absolute;

    top: 3px;
    right: 10px;
}

#tabbarPage ons-toolbar > .right {
    text-align: center;
    width: 13%;
    position: relative;
}

#tabbarPage ons-toolbar > .right  ons-toolbar-button{
    position: absolute;
    top: -12px;
    left: 0;
}

#productListPage .toolbar {
    width:100%;
    height:45px;
}

#productListPage .toolbar .searchProduct{
    width:100%;
    height:35px;
    position:relative;
}

#productListPage .showTitleProduct{
    width:100%;
    height:100%;
    position:relative;
}

#productListPage .showTitleProduct span {
    margin-top: 7px;
    display: inline-block;
    text-align: center;
    padding-right: 30px;
}

.toolbar .toolbar__right{
    width:85px;
    content: "";
}

#productListPage .lnb {
    top: 76px;
}

#productListPage .showTitleProduct ons-button.btnSearch {
    top: 22px;
}

#productListPage .showSearchProduct ons-button.btnSearch {
    top: 24px;
}

#productListPage .page__content, #productListPage .page__background {
    top: 76px;
}


#productListPage .btnMenuCategory {
    line-height: 30px;
    text-align: center;
    margin-right: 23px;
    	
}


#detailViewPopup.viewModal .card.popHeightScroll {
    max-height: 100%;
    padding-bottom: 30px;
}

#basketPage ons-button.btnOrder {
    border-radius: 0;
    position: relative;
    bottom: 0;
    margin-left:0;
}

#basketPage .totTop {
    width: calc( 100% - 80px) !important;
}

#basketPage .viewModal ons-button.btnClosePopup {
    top: 10px;
    position: relative;
    width:100%;
    bottom:unset;
}

#grpOrderDetailPage form[name='orderForm'] ons-list.list {
    margin-bottom:40px;
}

#grpOrderDetailPage > .page__content {
    bottom:0px !important;
}

html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background,
html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background+.page__content {
    top: 101px;
}


html[onsflag-iphonex-portrait] #menuViewPopup{
    top:30px;
}

html[onsflag-iphonex-portrait] #menuViewPopup{
    top:30px;
}


html[onsflag-iphonex-portrait] #tabbarPage ons-toolbar .search-input {
    min-height: 32px;
}

html[onsflag-iphonex-portrait] .page[status-bar-fill]>.toolbar:not(.toolbar--cover-content)+.page__background+.page__content,
html[onsflag-iphonex-portrait] .page[status-bar-fill]>.toolbar:not(.toolbar--transparent)+.page__background{
    top: 75px;
}

html[onsflag-iphonex-portrait] #productListPage .toolbar {
    height: 56px;
}

html[onsflag-iphonex-portrait] #productListPage .lnb {
    top: 105px;
}

html[onsflag-iphonex-portrait] .popBody.CateMenu {
    margin-bottom: 40px;
}

html[onsflag-iphonex-portrait] #productListPage .showTitleProduct ons-button.btnSearch {
    top: 53px;
}

html[onsflag-iphonex-portrait] #productListPage .showSearchProduct ons-button.btnSearch {
    top: 53px;
}

@media (orientation: portrait)
html[onsflag-iphonex-portrait] .tabbar__content:not(.tabbar--top__content) {
    bottom: 80px;
}
    
@media (orientation: portrait)
html[onsflag-iphonex-portrait] .tabbar:not(.tabbar--top):not(.tabbar--top) {
    padding-bottom: 25px;
}

html[onsflag-iphonex-portrait] #productListPage .page__content, html[onsflag-iphonex-portrait] #productListPage .page__background {
    top: 103px;
}

html[onsflag-iphonex-portrait] .page__content {
    padding-bottom: 25px;
}
html[onsflag-iphonex-portrait] .tabbar:not(.tabbar--top):not(.tabbar--top) {
    padding-bottom: 25px;
}

html[onsflag-iphonex-portrait] .fab--bottom__right {
    bottom: 80px;
}

html[onsflag-iphonex-portrait] #basketPage ons-fab.fab--bottom__right{
    bottom: 80px;
}
