ons-list ons-list-title.list-title,
h4.title {
    padding: 10px 0 5px;
    margin: 0.5rem 0;
    font-size: 13px;
    color: #ff5e00;
    border-bottom: 1px solid #ff5e00;
}
/* #list-node {
    padding: 0 1rem;
} */
.listcard.card{
    /* background: #f1f1f1; */
    background:none;
    font-size: 14px;
}

ons-list-title {
    padding-left:10px;
}
/* ons-list ons-list-title.list-title {
    font-size:16px;
} */

ons-list-item{
    padding:0 0 0 5px;
}
ons-list-item.list-item{
    padding:0 0 0 5px;
}


.list-item {
    margin-top: 5px;
    border-bottom: 1px solid whitesmoke;
}

.dataList {
    padding:5px;
}

/* .CateMenu {
    padding: 0 1rem;
} */
.popBody.CateMenu {
    max-height: unset;
    position: absolute;
    top: 48px;
    bottom: 40px;
    background: #fff;
    overflow: auto;
    text-align: left;
    padding:0.5em;
    width: calc(100% - 1em);

}
.summarycard ons-list-item.list-item {
    font-size: 14px;
    height: auto;
    padding-bottom: 2px;
    border-bottom: 1px solid #e0e0e0;
}

.summarycard ons-list-item.list-item div{
    min-height: 20px;
}

.summarycard ons-list-item.list-item ons-label {
    font-size: 13px;
    text-align: left;
    line-height: 25px;
    color: #242424;
}
.summarycard ons-list-item.list-item .list-item__right ons-label {
    color: #000;
    font-size: 15px;
    
}
/* .summarycard .coinCtrlArea {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.summarycard .coinCtrlArea ons-button {
    width: 37px;
    height: 26px;
    border-radius: 100%;
}
.summarycard .coinCtrlArea ons-input .text-input {
    background: none;
    text-align: right;
    font-size: 15px;
    border-color: transparent;
    padding: 0;
}
.summarycard .coinCtrlArea ons-button.btnMinusCoin  {
    border-color: #ccc;
    background: #fff;
    color: #787878;
}
.summarycard .coinCtrlArea ons-button.btnPlusCoin {
    background: #f00;
}
.summarycard .coinCtrlArea ons-button.btnMinusCoin:before,
.summarycard .coinCtrlArea ons-button.btnPlusCoin:before,
.summarycard .coinCtrlArea ons-button.btnPlusCoin:after {
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 25%;
}
.summarycard .coinCtrlArea ons-button.btnMinusCoin:before {
    background: #000;
}
.summarycard .coinCtrlArea ons-button.btnPlusCoin:after {
    width: 1px;
    height: 50%;
    top: 25%;
    left: 50%;
}
.imageList ons-list-item > div{
    padding:5px 6px 5px 0;
}

.imageList ons-list-item > div.left {
    min-width:75px;
    text-align: center;
    border: 1px solid #f2ebe4;
}

.brand {
    font-size:12px;
    padding-right: 0.2em;
}

.currency {
    line-height:30px;
    width: 80px;
    display: inline-block;
}

.qty{
    width:30px;
}

.qtyCtrlArea{
    float: right;
}

.btnRadius{
    border-radius: 100%;
    min-width: 37px;
    width: 37px;
	height: 37px;
	line-height: 37px;
    padding: 0;
}

.imageList ons-list-item .list-item__thumbnail{
        border-radius: 10%;
        width: auto;
        max-width: 90%;
        max-height: 90%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.imageList ons-list-item .list-item__thumbnail:hover{
    border: 2px solid #73AD21;
}

.overTitle{
    transition: .5s ease;
    position: absolute;
    top: 9px;
    /* left: 34px; */
    /* transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%);*/
    text-align: center;
    opacity: 0.7;
    width: 75px;
    border-radius: 10%;
    color: white;
}

.overTip{
    transition: .5s ease;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    opacity: 1;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 3px;
}

.endsign {
    left: 0;
    right: unset;
}


#list-node .overTip {
    display: inline-block;
    position: static;
    padding: 1px 5px;
    border-radius: 10px;
    background: #ff5e00;
    line-height: normal;
}
/* .viewModal{
    top:30%;
    height:70%;
} */

.viewModal .card{
    color: gray;
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.viewModal label{
    display: block;
}

.view_summary {
    height:50px;
}
.viewModal .qtyCtrlArea {
    display: inline-block;
}

.viewModal .view_summary{
	height:auto;
}
.viewModal .view_summary:after {
    display: table;
    clear: both;
    content:'';
}
.viewModal .view_summary .left {
    padding: 5px 0;
}
.viewModal .view_summary .left .star {
    display: inline-block;
    font-size: 30px;
    color: #ffc000;
    font-weight: bold;
    line-height: 1;
}

.viewModal .view_summary .left .star i {
    /* display: block; */
    font-size: 26px;
    color: #ffc000;
    float: left;
    padding-right: 5px;
}
.viewModal .view_summary .left .kakao_share {
    right: 40px;
    position: absolute;
    top: 13px;
}

.viewModal .view_summary .left .kakao_share img {
    width: 28px;
}

.viewModal .view_summary .left .heart, .heart {
    display: inline-block;
    font-size: 25px;
    color: red;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    right: 0;
}

#list-node .buttonArea .heart{
    left:5px;
    font-size: 20px;
    right:unset;
    margin-top:16px;
}

.viewModal .view_summary .left .dlvTime {
    float: right;
}
.container {
    position: relative;
    width: 100%;
}

.container:hover .overlay {
    opacity: 1;
}

#detailViewPopup .popHeightScroll {
    width: 100%;
    height: auto;
	position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    padding: 0 1rem;
}
#detailViewPopup .popHeightScroll .popBody {
    height: auto;
    max-height: unset;
}
#detailViewPopup .popHeightScroll .popBody .swiper-container {
    height: 260px;
}
#detailViewPopup .popHeightScroll .popBody .swiper-container img {
    width: auto;
    height: auto;
    max-height: 100%;
}

#detailViewPopup textarea {
	display: inline-block;
	width: 85%;
	height: 50px;
	text-align: left;
	vertical-align: top;
	resize: none;
	border: none;
	color: #242424;
	font-size: 14px;
    line-height: 1.1rem;
    background: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
}
#detailViewPopup textarea::placeholder {
    font-size: 13px;
}
#detailViewPopup .input_commnet .text_area ons-button {
    float: right;
    width: 15%;
    height: 50px;
    line-height: 50px;
    border-radius: 0;
    box-sizing: border-box;
}
#detailViewPop #btnAddComment{
	width: 25%;
}

/* .popBody ons-carousel-item.carousel-item {
    position: relative;
} */
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 14px;
    padding: 11px;
    text-align: left;
    margin: 0;
    right: 0px;
    left: 0px;
    bottom: 11px;
}

.overlayContent {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

/* .listcard{
    margin-top:-30px;
} */

.btnCollapseMenu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	font-size: 12px;
	min-height: 15px;
	height: 24px;
	line-height: 8px;
	z-index: 20;
}

.listcard.noTop{
    margin-top:0px;
}

.after-list {
    text-align: center;
    margin-top:20px;
}

ons-button.btnRmBasket {
    padding: 5px 5px 0 0;
    height: auto;
    top: 10px;
    background: transparent;
    border: transparent;
    color: #f00;
    font-size: 12px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
}

.center.listContent {
    margin: 0.4em;
    line-height: 20px;
}

.pd_etc .fa-star, .pd_etc .star{
    color: #ffc000 !important;
}
#categoryIndexPage .corpInfo2 > div {
    width: 50%;
}

#categoryIndexPage .corpInfo2 {
    text-align: center;
    font-size: 14px;
    padding: 8px 2px;
    color: #fff;
    background: #ff5e00;
    display: flex;
    justify-content: center;
}


#categoryIndexPage .lbl i {
    font-size: 15px;
    vertical-align: baseline;
}

#categoryIndexPage .lbl img {
    width: 22px;
    vertical-align: middle;
}

#categoryIndexPage .lblItem {
    display: inline-block; 
    font-size: 11px;
    font-weight: bold;
    margin: 0 0.5em 0 0.2em;
}

#categoryIndexPage .corpInfo2 a {
    color: #fff;
    text-decoration: none;
}

#categoryIndexPage .corpInfo2 > div a {
    font-size: 15px;
}

span.gray.corpnm {
    display: block;
    font-size: 11px;
    font-family: none;
    margin-bottom: 5px;
}
