ons-splitter-side[animation=overlay] {
    border-left: 1px solid #bbb;
}

ons-toast .toast {
	pointer-events: auto;
	margin: 0.5em;
	border-radius: 10px;
	padding: 10px;
	line-height: 27px;
}

.toast__message{
	margin: 0 0 0 5px;
	font-size:12px;
}

#homePage .page__content {
	padding: 0;
	/* padding-bottom:50px; */
}

#homePage .CateMenu .btnCorp span {
    display: flex;
	text-align: center;
	height:55px;
	justify-content: center;
	align-items: center;
}

#homePage .CateMenu .btnCorp span img {
	max-height: 100%;
	max-width: 85%;
	border-radius: 10px;
}

#homePage .CateMenu .btnCorp.btnDisabled span img:after {
    display: flex;
    content:'품절';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    align-items: center;
    justify-content: center;
}

#homePage .CateMenu .btnCorp span.new {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 998;
    font-size: 9px;
	border-radius: 10px;
	height:auto;
}

#buttonMenu {
	padding: 1px 0 0 0
}

#buttonMenu .ons-icon[fixed-width] {
	padding-top:5px;
}

#buttonMenu .card, #listBody .card {
	text-align:center;
}

#listBody .mainSubBtnSet{
	position: relative;
	height: 41px;
	line-height: 34px;
}

#listBody .mainSubBtnSet ons-button{
	height: 30px;
	line-height: 21px;
	width: 48%;
}

.buttonMenu ons-button {
	width: 32%;
    font-size: 12px;
    line-height: 14px;
    height: 75px;
    padding: 0px 0px;
    margin: 2px 0;
    font-weight: 400;
    cursor: pointer;
}
.buttonMenu ons-button label {
	display: block;
	height: 30px;
	line-height: 30px;
}
.mainLogin.card {
	/* padding-bottom: .5rem; */
	display: flex;
	justify-content: space-between;
}
.mainLogin ons-button.button {
	min-width: 40%;
	margin: 1rem;
	flex: 1;
}

.mainLogin .goRequest {
    background: #fff;
    border-color: #FF5E00;
    color: #FF5E00;
    fill: #FF5E00;
}

.mainLogin .btnInquiry {
	background: #fff;
	border-color: #FF5E00;
	color: #FF5E00;
	fill: #FF5E00;
}
.noticeList ons-list-item div, .pushList ons-list-item div{
	min-height: 35px;
	padding : 3px 10px 0px 0;
	font-size: 12px;
}

.listMain {
	width:95% !important;
	font-size: 13px;
	/* padding-left:10px; */
}
.intro {
	text-align: center;
	padding: 0 20px;
	margin-top: 40px;
}
.more {
	display: block;
	float: right;
	top: -5px;
	padding-right:10px;
	color:white;
}

#noticeModal div{
	padding: 0 10px;
	padding-top: 10px;
	vertical-align: top;
}

.emptyOrNoData {
	padding-left: 0;
    margin-top: 10px;
    text-align: center;
    color: black;
    border-radius: 0px;
    font-size: 13px;
}

.emptyOrNoData div {
    display: inline-block;
    text-align: center;
    background-color: #00c0ef !important;
    line-height: 27px;
    color: white;
}

.emptyOrNoData.card {
	padding: 2rem 0;
    text-align: center;
    color: black;
    border-radius: 0px;
    font-size: 15px;
}
.emptyOrNoData.card i {
	display: block;
	margin-bottom: .7rem;
}
.emptyOrNoData.card i img {
	width: 50px;
	margin: 0 auto;
}



/* 베트남 withU 메인  */

#map_canvas { /* Must bigger size than 100x100 pixels */
	width: 100%;
	height: 300px;
}
#tabbarPage ons-toolbar {
	height: 56px;
}
#tabbarPage ons-toolbar > .center {
	text-align: center;
	width: 100%;
}
#tabbarPage ons-toolbar > .center .mainTitle {
	display: inline-flex;
	margin: 0 0%;
	box-sizing: border-box;
	max-width: 100%;
	overflow: hidden;
	align-items: center;
}
#homePage .CateMenu {
	padding:0;
	text-align: left;
	margin-bottom: 0.5em;
}

#sideMenu p {
	margin: 0;
	text-align: left;
	background: #f2f4f7;
	border: 1px solid #e4e4e4;
	border-width: 1px 0;
	padding: .6rem 1rem;
	font-weight: 600
}

#pendingTasksPage {
	height:400px;
}
.mainBanner{
	margin:0;
	padding:0;
	height:auto !important;
}

#buttonMenu ons-button {
	border-radius:0;
}
.buttonMenu.bt_banner {
	position: relative;
	/* padding: 1.5rem 1.2rem 2.5rem;
	background: #4e4e4e url(../img/main/ft_bn.jpg) no-repeat center bottom; */
}
.buttonMenu.bt_banner .imgText {
	/* font-size: 15px;
	color: #fff;
	font-weight: 600; */

	font-size: 15px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 25px;
}

.buttonMenu.bt_banner .imgText.content{
	font-size: 12px;
    top: 33px;
}

/* 메인 검색 */


.mainTitle ons-icon[fixed-width]{
	text-align: left;
	color:rgba(244, 95, 13, 1);
}

.mainTitle .tabbarLogo {
	vertical-align: middle;
}

.mainTitle .topLocation {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	word-break: break-all;
	font-family: sans-serif;
}

.searchArea{
	display: none;
	height: 35px;
	vertical-align: middle;
}

.searchArea input{
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-pagination.swiper-pagination-fraction{
    width: auto;
    right: 10px;
    border: 1px solid #afafaf;
    left: auto;
    font-size: 10px;
    border-radius: 50px;
    color: white;
	background-color: rgba(0, 0, 0, 0.65);
	padding: .1rem .5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	letter-spacing: .1rem;
}
.swiper-pagination.swiper-pagination-fraction span {
	font-size: 10px;
	opacity: 0.5;
}
.swiper-pagination.swiper-pagination-fraction span.swiper-pagination-current {
	opacity: 0.9;
}
.swiper-button-next, .swiper-button-prev {
	display: inline-block;
}

.popBody .swiper-button-next, .popBody .swiper-button-prev {
	display:inline-block;
}

.tabbar__border {
	display: none !important;
}

.map_canvas {
	width: 100%;
	min-height:320px;

	/* height: 300px; */
}


/* ons-carousel-item.carousel-item {
    margin-top: 15px;
} */

#adPopup .list-item__right {
    padding: 0px 0px 0px 0;
    background-image: none;
}

.popHead{
	margin: 0 5%;
	position: relative;
	display: block;
	height: 50px;

	color:gray;
}
.popHead h4.title {
	margin-top: 0;
	font-size: 16px;
    padding-top: 10px;
}
.popHead > ons-list-item {
	padding-left: 0;
}

.popHead label, .popHead ons-icon {
	color:gray;
	vertical-align: middle;
}
.ons-icon.btnClosePopup {
	width: 24px;
	height: 24px;
	position: relative;
}
.btnClosePopup:before,.btnClosePopup:after {
	display: block;
	content: '';
	position: absolute;
	top: auto;
	left: auto;
	background: #8a8a8a;
	transform: rotate(45deg);
}
.btnClosePopup:before {
	width: 1px;
	height: 24px;
}
.btnClosePopup:after {
	width: 24px;
	height: 1px;
}
.popBody {
	max-height: 245px;
	position: relative;
}

/* .dots {
	text-align: center;
	font-size: 30px;
	color: #fff;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}

.dots > span {
	cursor: pointer;
} */

#homePage .overTitleMain {
	left: 0;
    bottom: 0;
    right: 0;
    top: 0px;
    background-color: gray;
    opacity: 0.5;
    position: absolute;
	transform: none;
	width:100%;
}
#homePage .modal__content > .card {
	border-radius: 5px;
	overflow: hidden;
	padding-top: 5%;
}

#homePage .location{
	padding:0.5em;
}

#homePage .location > div {
	display: inline-block;
    font-size: 13px;
    width: 100%;
	vertical-align: text-bottom;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#homePage .location .goLocSetting{
    width: calc(60% - 0.25em);
}

#homePage .location .coinArea{
    width: calc(40% - 0.25em);
}

#homePage .location .right {
    text-align: right;
}


.carousel-control {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 .5rem;
}

/* 메인팝업 스크롤 */
.carousel-control-left {
	left: 0;
}
.carousel-control-right {
	right: 0;
}

.btnAreaPop {
	text-align: center;
	padding: 0 .5rem;
}

.btnAreaPop .btnClosePopup {
	width: 50%;
    height: 50%;
    position: relative;
}

.btnAreaPop .btnClosePopup:before,
.btnAreaPop .btnClosePopup:after {
	display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #222;
    top: 9px;
    border-radius: 5px;
    position: absolute;
    transform: rotate(45deg);
}

.btnAreaPop .btnClosePopup:after {
	transform: rotate(-45deg);
}

.swiper-wrapper.topBanner img{
	/* height:90px; */
	width:auto;
	margin:0em;
}

.btndiagVersion{
	width: 40%;
}

.external{
	position: absolute;
    right: 1em;
    bottom: calc(100% - 50px);
}

.goPolicyWeb {
    padding-top: 10px;
    display: inline-block;
}

#area-dialog select[name='areaList']{
	width: 80%;
    margin: 1em;
}

#area-dialog .button{
	width: 40%;
}

.mainEmpty span{
	display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
}