/* product page */
#searchAllPage .page__content,
#searchAllPage .page__background {
}
#searchAllPage #list-node {
    padding: 1rem;
}
#searchAllPage ons-list-title {
    padding: 10px 0 3px 16px;
}
#searchAllPage .lnb {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 5px 0;
    overflow: hidden;
    border-bottom: 1px solid #f2ebe4;
    top: 56px;
    z-index: 999;
    background: #fff;
}
#searchAllPage .lnb .left {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
    padding: 10px;
}
#searchAllPage .lnb .slideMenu {
    display: block;
    /* padding-left: 80px; */
}
#searchAllPage .lnb .slideMenu div[class^="swiper-container"] {
    /* margin-left: 80px; */
    left: 80px;
    width: calc(100% - 80px);
    position: relative;
}

#searchAllPage .lnb .btnCateMenu span{
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#searchAllPage .btnMenuCategory {
    line-height: 56px;
}

#searchAllPage .btnCateMenu img{
    height:45px;
}

#searchAllPage .popBody .btnCateMenu img{
    height:75px;
}

#searchAllPage .btnMenuCategory ons-button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    width: auto;
    height: auto;
}
#searchAllPage .btnMenuCategory ons-button svg {
    margin-right: 0;
}
#searchAllPage ons-fab#searchFilter {
    width: auto;
    height: 28px;
    font-size: 14px;
    padding: 0 13px;
    line-height: normal;
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid #a7a7a7;
    background-color: #fff;
    color: #000;
}
#searchAllPage ons-fab#searchFilter svg {
    margin-left: 3px;
}
#searchAllPage ons-fab.fab--bottom__right {
    bottom: 20px;
    background: #ff5f02;
}
#searchAllPage .innerBasket {
    position: absolute;
    width: auto;
    height: 20px;
    top: 9px;
    left: auto;
    right: 9px;
    background: #fff;
    border: 2px solid #ff5e00;
    font-size: 11px;
    color: #ff5e00;
    font-weight: bold;
    line-height: 18px;
    padding: 0;
    letter-spacing: -.5px;
}

#searchAllPage .isServiceProduct{
    font-size: 11px;
    margin-top: 10px;
    text-align: center;
    line-height: 15px;
}

#searchAllPage .cooking{
    color: darkorange;
    padding-top: 1px;
    width:100%;
}