@charset "utf-8";

@font-face {
    src: url(../css/font_awesome/fonts/GmarketSansTTFBold.ttf) ;
    font-family:"gmarketB";   
}

@font-face {
    src: url(../css/font_awesome/fonts/GmarketSansTTFMedium.ttf) ;
    font-family:"gmarketM";   
}
@font-face {
    src: url(../css/font_awesome/fonts/GmarketSansTTFLight.ttf) ;
    font-family:"gmarketL";   
}

/* 공통 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: inherit;
    /* font-family: "gmarketM"; */
}

.hana_air {
    font-family:"hana_air";
}

/* onsen 추가 공통 */
#mySplitter ons-tab, #mySplitter ons-button,
#mySplitter h4, #mySplitter .tabbar__label {
    font-size: inherit;
    /* font-family: "gmarketM"; */
    /* font-weight: bold;; */
}

#mySplitter .tabbar__label {
    font-size: 12px;
}


body {
    background: #f5f5f5;
}
a {
    color: #222;
}
figure {
    margin: 0 auto;
    width: 56px;
    height: 56px;
    overflow: hidden;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.card {
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}
.back-button__icon {
    fill: #31313a;
}
.tabbar__content {
    bottom: 56px;
}
.toolbar ons-back-button svg {
    width: 10px;
    height: auto;
}
.toolbar ons-back-button.back-button--material svg {
    width: 16px;
}

.switch {
    width: 36px;
    height: 24px;
    padding: 0 10px;
    min-width: 36px;
}
:checked + .switch__toggle {
    box-shadow: inset 0 0 0 2px #ffe1c1;
    background-color: #ffe1c1;
}
.switch__handle {
    width: 20px;
    height: 20px;
    margin-top: -5px;
}
.switch__toggle {
    background-color: #b9b9b9;
    height: 14px;
    /* margin-top: 5px; */
    box-shadow: none;
}
.radio-button {
    line-height: normal;
}
.radio-button__checkmark,
.radio-button__checkmark:before {
    width: 18px;
    height: 18px;
}
.radio-button__checkmark:before {
    border: 1px solid #b9b9b9;
}
.radio-button__checkmark:after {
    border:1px solid #FF5E00;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
:checked + .radio-button__checkmark:before {
    border:1px solid #FF5E00;
}
:checked + .radio-button__checkmark:after {
    background: #FF5E00;
}
.checkbox__checkmark:before {
    border-radius: 100%;
    border: 1px solid #ccc;
    background: #ccc;
}
:checked + .checkbox__checkmark:before {
    background: #ff5e00;
    border-color: #ff5e00;
}
.checkbox__checkmark:after {
    transform: scale(1) rotate(-45deg);
    top: 3px;
    left: auto;
    right: 1px;
    opacity: 1;
}
:checked + .checkbox__checkmark:after {
    height: 5px;
    top: 3px;
    left: auto;
    right: 1px;
}
.button:disabled, .button[disabled] {
    background: #ffae80; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffae80 30%, #fa9ebe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffae80 30%,#fa9ebe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffae80 30%,#fa9ebe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: rgba(255,255,255,0.4);
    border-color: transparent;
}
.button.noBg {
    background: none;
    color: #ff5e00;
    margin-bottom: .5rem;
}
.button.noBg:disabled, .button.noBg[disabled] {
    border: none;
    color: #8c8c8c;
}
ons-input .text-input, ons-search-input .search-input {
    min-height: 40px;
    font-size: 14px;
    text-align: left;
    background-image: none;
    padding: 0 .5rem;
    /* border-radius: 5px; */
    background: #fff;
    box-shadow: none;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: none;
}
ons-input .text-input:read-only {
    color: #969696;
    border-color: transparent;
    background: #f5f5f5;
}
ons-input {
    width: 100%;
}
.text-input:invalid {
    /* height: 44px; */
    background: #f5f5f5;
}
.text-input:invalid:required {
    background: #fff;
    border: 1px solid #dcdcdc;
}
.text-input__label {
    top: 7px;
    left: 5px;
}
ons-input .text-input:focus,
ons-input .text-input:active,
ons-search-input .input[type="search"]:active,
ons-search-input .input[type="search"]:focus {
    border:1px solid #ff5e00;
    background: #fff;
    color: #000;
}
ons-input .text-input:read-only:focus,
ons-input .text-input:read-only:active {
    background: #f5f5f5;
    border-color: #dcdcdc;
}
.text-input__label[class$="active"] {
    top: -2px;
}
ons-select {
    width: 100%;
}
ons-select select,.select-input {
    background-size: auto, 100% 0px;
    background-position: 97% center;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    padding-left: 10px;
}
ons-select select:focus,.select-input:focus,
ons-select select:active,.select-input:active {
    border-color: #ff5e00;
}
ons-fab .fab__icon .ons-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
svg {
    width: auto;
    height: 100%;
    max-height: 25px;
    fill: #31313a;
}
ons-fab.fab--bottom__right {
    background: #fce500;
    bottom: 70px;
    right: 1rem;
}
ons-fab a {
    color: #3c1e1d;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.1;
    text-decoration: none;
    letter-spacing: -.5px;
}
ons-fab a img {
    display: block;
    width: 50%;
    margin: -2px auto 0;
}

ons-fab a span{
    width: 50px;
    display: inline-block;
    word-break: break-word;
    height: 22px;
    font-size: 10px;
}

.dialog-container ons-button[class^="btnDialogCancel"] {
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.dialog-container ons-button[class^="btnDialogCancel"]:before,
.dialog-container ons-button[class^="btnDialogCancel"]:after {
    display: blcok;
    content: '';
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
}
.dialog-container ons-button[class^="btnDialogCancel"]:after {
    width: 1px;
    height: 100%;
}

.dialog-container ons-button.btnDialogOk {
    width: 100%;
}
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}
.toolbar+.page__background,
.toolbar+.page__background+.page__content {
    top: 56px;
    padding: 0;
}
.page__content {
    padding: 1rem;
}
#categoryPage > .page__content {
    padding: 0;
}
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: none;
    border-bottom: 1px solid #f2ebe4;
    position: static !important;
    background: #fff;
    height: 56px;
}
.toolbar .page-tit *,
.toolbar * {
    font-size: 16px !important;
    color: inherit;
    line-height: initial;
    width: auto;
    padding: 0;
    margin: 0;
}
ons-toolbar-button.menuButton ons-icon {
    font-size: 32px !important;

}
.back-button__label {
    display: none;
}
.toolbar__center,
.toolbar__title {
    line-height:  normal;
    color: #FF5E00;
    font-size:17px;
    overflow: hidden;
    height: auto;
    text-align: center;
    font-family: "gmarketM";
}
#agreePage .toolbar__center.toolbar__title {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

#menuPage ons-list ons-list-title.list-title {
    margin: 0;
    height: 44px;
    line-height: 44px;
    padding: 0;
    text-align: center;
    border-bottom-color: transparent;
}
.toolbar__left,
.toolbar__right {
    min-width: unset;
    /* height: 100%; */
}
ons-toolbar .toolbar--material__right {
    height: auto;
}

ons-list-item.list-item {
    padding: 0;
    margin:0;
    border: none;
    height: 44px;
    margin-bottom: 5px;
}
#orderForm ons-list-item.list-item {
    height: auto;
    min-height: 44px;
    margin-bottom: 1%;
}
#orderForm ons-list-item.list-item.flex_column {
    flex-direction: column;
}
#orderForm ons-list-item.list-item.flex_column .list-item__center {
    min-height: unset;
}
#orderForm ons-list-item.list-item.flex_column ons-input[disabled] {
    height: 0;
    overflow: hidden;
}
#orderForm ons-list-item.list-item.flex_column ons-input[disabled] input {
    height: 0;
    min-height: unset;
}
#orderForm ons-list-item.list-item.flex_column ons-input input {
    background: #fff;
    border-color: #dcdcdc;
    color: #000;
}
#orderForm ons-list-item.list-item .error {
    margin-top: 10px;
}
#orderForm #dlvaddr input {
    padding-right: 5px;
}
#orderForm #dlvaddrDetail input {
    background: #fff;
    border: 1px solid #dcdcdc;
}

.btnAreaPop ons-list-item.list-item {
    margin-bottom: 0;
}
.list-item__center {
    padding: 0 0 0 0.5rem;
    background-image: none;
}
.list-item__left,
.list-item__right {
    min-width: 44px;
    padding: 0;
}
.list-item__right {
    text-align: right;
    justify-content: flex-end;
}
ons-list-item.list-item.userProfile {
    height: auto;
    padding: .5rem;
}
ons-list-item.list-item.userProfile .user-image {
    margin: 0 auto;
    width: 50%;
    border-radius: 40%;
    margin-bottom: 0.5em !important;
    margin-top: -10px;
}
ons-list-item.list-item.userProfile .user-image[src$="user.svg"] {
    width: 70%;
    margin-top: 5px;
}
ons-list-item.list-item.userProfile:after {
    clear: both;
    content: '';
    display: block;
}

ons-list-item.userPhoneNumber {
    height: 30px;
}

ons-list-item.list-item.userProfile > div {
    float: left;
    padding: 0;
    margin: 0 0px;
}

ons-list-item.userPhoneNumber span {
    width: 1.8em;
    display: inline-block;
    text-align: center;
}

ons-list-item.list-item.userProfile .left {
    width: 60px;
    height: 60px;
    border: 1px solid #949494;
    border-radius: 100%;
    overflow: hidden;
}
ons-list-item.list-item.userProfile .profile p {
    margin: 5px 0;
}
ons-list-item.list-item.userProfile .profile a {
    display: block;
    width: 100%;
    text-decoration: none;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 0.5em;
}
ons-list-item.list-item.userProfile .profile a i.text-success {
    color: #23ff23;
    font-size: 10px;
    float: left;
    margin: 5px 5px 0 0;
}
ons-bottom-toolbar {
    background: #FF5E00;
    color: #fff;
    font-size: 1.1rem;
}
ons-bottom-toolbar .button {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.tabbar--material {
    box-shadow: none;

}
.tabbar--top {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    height: auto;
}

.ons-tabbar__footer.tabbar {
    background-color: #fff;
    height: 55px;
}
.ons-tabbar__footer.tabbar.ons-swiper-tabbar {
    border-top: 1px solid #dedede;
}
.toolbar-button--material {
    display: block;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    color: #FF5E00;
    text-align: center;
}

.tabbar--material__button {
    height: auto;
    min-height: 49px;
}
.tabbar--top ons-tab {
    font-family: "gmarketM";
    text-align: center;
    padding: 0 1rem;
}
/* .tabbar--top ons-tab:first-of-type {
    padding-left: 0;
}
.tabbar--top ons-tab:last-of-type {
    padding-right: 0;
} */
.tabbar--top .tabbar__button {
    width: auto;
    height: auto;
    margin: 0 auto;
    line-height: normal;
    padding: .7rem 0;
    color: #9e9e9e;
}
.tabbar--top .tabbar__button svg {
    fill: #9e9e9e;
}
.tabbar--top :checked + .tabbar__button,
.tabbar--top :checked + .tabbar__button svg {
    color: #ff5e00;
    fill: #FF5E00;
}
.tabbar--top :checked + .tabbar__button:after {
    display: block;
    content:'';
    width: 100%;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/* ons-tabbar[position="top"] {
    padding: 0 1rem;
} */
.ons-tabbar__footer.tabbar .tabbar__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #757575;
    height: 100%;
}
.ons-tabbar__footer.tabbar :checked + .tabbar__button {
    color: #FF5E00;
}
.ons-tabbar__footer.tabbar .tabbar__button svg {
    max-height: 25px;
    fill: #949494;
    color: #949494;
}
.ons-tabbar__footer.tabbar :checked + .tabbar__button svg {
    fill: #FF5E00;
    color: #ff5e00
}
.ons-tabbar__footer.tabbar .tabbar__button .tabbar__label {
    display: block;
    font-size: 10px;
    line-height: normal;
    margin-top: 2px;
    text-transform: none;
}
.myTel{
    display: inline;
}

#cateTabbar .tabbar--top__content {
    top: 57px;
}
#cateTabbar > .tabbar__content {
    bottom: 0;
}
#cateTabbar .tabbar {
    overflow: auto;
    /* padding: 0 1rem; */
    width: auto;
}


#cateTabbar .ons-tabbar__footer.tabbar :checked + .tabbar__button,
#cateTabbar .ons-tabbar__footer.tabbar :checked + .tabbar__button .tabbar__label {
    color: #000;
    font-weight: bold;
    margin-top: 0 !important;
}
#categoryIndexPage > .page__content {
    padding: 0 1rem;
}
.tabbar--top .tabbar__label {
    font-size: 14px !important;
    margin-top: 2px !important;
}
#noticeTabbar .tabbar--top .tabbar__label {
    font-size: 10px !important;
}
.tabbar--top__content {
    top: 60px;
}
#tabbarPage .notification {
    width: 19px;
    height: 19px;
    line-height: 17px;
    border-radius: 100%;
    font-size: 10px;
    /* font-weight: bold; */
    border: 1px solid #fff;
    position: absolute;
    top: 2px;
    left: auto;
    right: 14px;
    margin: 0;
    padding: 0;
    background: #ff5e00;
    letter-spacing: -.5px;
    overflow: unset;
}

ons-button, .button {
    background: #ff5e00; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff5e00 30%, #f5357c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff5e00 30%,#f5357c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff5e00 30%,#f5357c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: none;
    padding: 8px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    height: 40px;
}
ons-button.button.button--large {
    height: 44px;
}
ons-bottom-toolbar .button {
    height: 100%;
    border-radius: 0;
}

ons-button svg, .button svg {
    width: auto;
    height: 25px;
    margin-right: 5px;
    fill: #ff5e00;
}
ons-icon[class$="menu"] {
    width: 20px;
    height: 2px;
    background: #31313a;
    border-radius: 5px;
    position: relative;
    top: 9px;
}
ons-icon[class$="menu"]:before,
ons-icon[class$="menu"]:after {
    display: block;
    content:'';
    width: 20px;
    height: 2px;
    background: inherit;
    border-radius: 5px;
    position: absolute;
    top: 6px;
}
ons-icon[class$="menu"]:after {
    top: 12px;
}

/* 에러박스 */
.error_box {
    display:none;
}

.error_box ul {
    list-style: none;
    padding: 0.2rem 0;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 0;
}
.error_box ul li {
    font-size: 13px;
    padding-left: 25px;
    margin: .2rem 0;
}

.error_box ul li:before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background: url(../img/svg/check.svg) no-repeat left center;
    float: left;
    margin-right: 5px;
    margin-left: -25px;
    transition: opacity ease-in-out .3s;
    opacity: 1;
    filter: none;
}

.error_box ul li.warning:before {
    opacity: .3;
    filter: grayscale(1);
}

/* 슬라이드 */
div[class^="swiper-container"] {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

div[class^="swiper-container"] .btnCateMenu {
    font-size: 12px;
    flex-direction: column;
    flex-basis: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btnCateMenu.slide-actived{
    border-bottom: 3px solid orange;
}

div[class^="swiper-container"] .btnCateMenu span {
    line-height: 1.1;
    word-break: keep-all;
    padding-top: 5px;
}

span.giftMessage {
    font-size: 12px;
    line-height: 15px;
    margin: 0.7em 0.3em;
    display: inline-block;
    font-family: gmarketM;
} 

/* 동의화면 */
#agreePage {
    background: #fff !important;
}
#agreePage > .page__content > .card {
    padding: 0 1rem;
}
#agreePage .toolbar.toolbar--material+.page__background,
#agreePage .toolbar.toolbar--material+.page__background+.page__content {
    position: static;
}
#agreePage .list-item__left {
    min-width: auto;
}
#agreePage .txtT {
    display: block;
    text-align:left;
    font-size:13px !important;
    margin-top: 3px;
    white-space: normal;
    word-break: keep-all;
    font-weight: 400;
    color: #4e4e4e;
}
#agreePage .txtT strong {
    font-size: 13px !important;
}
#agreePage .txtSp{
    text-align:left;
    font-size: 15px;
}
#agreePage .content-tit {
    padding-top: 10px;
}
#agreePage .content-tit ons-list-item * {
    font-size: 15px;
    color: #000;
}
#agreePage .btnShowViewPop, #agreePage .btnShowViewPop2 {
    line-height:44px;
    border: 0;
    background: none;
    color: #b8b8b8;
    font-size: 26px;
    text-align: right;
    padding: 0;
}
#agreePage .agreeContentPop {
    height: 100%;
}
#agreePage .agreeContentPop .list-header {
    background-color: #fff;
    padding: 1rem;
    color: #ff5e00;
    font-size: 18px;
    border-bottom: 1px solid #f2ebe4;
    margin: 0;
}
#agreePage .agreeContentPop ons-list-item {
    height: 100%;
    padding: 0 1rem;
    position: absolute;
    bottom: 44px;
    top: 58px;
    overflow-y: scroll;
    font-size:12px;
    background: #fff;
}
#agreePage .agreeContentPop ons-list-item .list-item__center  {
    padding: 0;
}
#agreePage .agreeContentPop ons-list-item .list-item__center .tab-content {
    padding-bottom: 57px;
    margin-bottom: 44px;
}
#agreePage .agreeContentPop ul, #agreePage .agreeContentPop li {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 5px;
}

#agreePage .agreeContentPop .stit {
    color: #ff5e00;
    font-size: 13px;
    border-bottom: 1px solid #ff5e00;
    margin: 20px 0 10px;
    padding-bottom: 5px;
}

#agreePage .agreeContentPop .item {
    color: #31313a;
    margin: 0 0 0.7rem;
    word-break: keep-all;
}
#agreePage .agreeContentPop .item div {
    line-height: 1.5;
    font-size: 13px;
}
#agreePage .agreeContentPop .item ul {
    list-style-type: hangul;
}
#agreePage .agreeContentPop .item ol {
    list-style-type: disc;
}
#agreePage .agreeContentPop .item .sitem1 {
    list-style: none;
}
#agreePage .agreeContentPop .item .sitem2 {
    list-style: decimal;
}
/* 환경설정 */
#configPage .page__content {
    padding: 0 1rem;
}
/* 주소설정 */
#configAddrMapHand > .page__content {
    padding: 0;
    background: #f5f5f5 !important;
}
#configAddrMapHand .card {
    position: relative;
    padding: 1rem;
}
/* #configAddrMapHand .card:first-of-type {
    margin-bottom: 7px;
    border-bottom: 1px solid #e4e4e4;
} */
#configAddrMapHand .card:last-of-type {
    /* border-top: 1px solid #e4e4e4; */
}
#configAddrMapHand ons-list-item {
    border: none;
    margin-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}

#configAddrMapHand .list-item__center {
    padding: 0 0 5px 0.5rem;
}

#configAddrMapHand ons-list-item ons-select {
    /* background: #f5f5f5;
    border-radius: 5px; */
    height: 40px;
    font-size: 14px;
    /* border: 1px solid #dcdcdc; */
}
#configAddrMapHand ons-list-item ons-select select {
    height: 100%;
}
#configAddrMapHand .list-item__left {
    width: 35%;
    font-size: 14px;
    color: #000;
}

#configAddrMapHand .list-item__left label{
    text-align: right;
    width: 100%;
}

#configAddrMapHand .recentAddrList {
    color: #000;
}
#configAddrMapHand .recentAddrList .orderHistoryAddr {
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}
#configAddrMapHand .recentAddrList .addrText {
    display: inline-block;
    font-size: 15px;
}
#configAddrMapHand .recentAddrList .right {
    text-align: right;
    margin-top: 5px;
}
#configAddrMapHand .recentAddrList ons-button.button {
    background: none;
    border:  none;
    color: #ff5e00;
    line-height: normal;
    height: auto;
    padding: 0;
    font-size: 14px;
}

#configAddrMapHand textarea{
    width:100%;
    min-height:80px;
    overflow-y: auto;
    padding:0.5em;
}

#configAddrMapPage .card {
    position: relative;
}
#configAddrMapPage .card ons-search-input {
    display: block;
}
#configAddrMapPage .card ons-search-input .search-input {
    padding-right: 40px;
}
#configAddrMapPage .card ons-button {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 7px;
}
#configAddrMapPage .card ons-button svg {
    fill: #2d2d2d;
    margin-right: 0;
}
#configAddrMapPage ons-list-item .list-item__center {
    padding: 0;
}

ons-tab.active button:after {
    /* display: block;
    content: '';
    width: 100%;
    height: 2px;
    margin-top: -2px; */
    background: #ff5e00; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff5e00 0%, #f5357c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff5e00 0%,#f5357c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff5e00 0%,#f5357c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#cfAddrPage .page__content {
    padding: 0.5rem;
    padding-top: 0;
}

#cfAddrPage ons-tab button .tabbar__label {
    display: block;
    font-size: 10px !important;
}
#cfAddrPage ons-tab.active button .tabbar__label {
    font-weight: bold;
}

/* #cfAddrPage .page__content {
    padding: 1rem;
} */
#cfAddrPage .tabbar--top__content {
    top: 56px;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
}


/* 카테고리 페이지 */
.CateMenu .card {
    width: 31.333%;
    /* width: 23%; */
    max-height: 100px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 1% 1%;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    text-align: center;
    word-break: keep-all;
}

.CateMenu .card.ytb:after{
    background-image: url('../img/logo/youtube_icon25x25.png');
    background-repeat: no-repeat;
    background-position: 15% 26px;
    content: " ";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background:"black";
}


.CateMenu .card.emptyOrNoData {
    width: 100%;
    margin: 10% 0;
    font-family: gmarketM;
    font-size: 15px;;
}
    .CateMenu label {
        font-size: 13px;
        /* letter-spacing: -.1em; */
        word-break: keep-all;
        /* height: auto; */
        /* padding: 0; */
        /* line-height: 1; */
        text-align: center;
        height: 36px;
        line-height: 15px;
    }
    #categoryPage .slideMenu figure {
        width: 40px;
        height:40px;
    }

    #categoryPage .slideMenu label {
        font-size: 12px;
        display: block;
        height: 20px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #categoryPage .swiper-slide {
        height: 80px;
        flex-direction: column;
    }

    #categoryPage .lnb {
        height: 80px;
        position: relative;
        border-bottom: 1px solid #f5ede4;
        box-sizing: unset;
    }

    #categoryPage .lnb > .left {
        display: inline-flex;
        width: 80px;
        height: 80px;
        text-align: center;
        position: relative;
        z-index: 20;
        justify-content: center;
        align-items: center;
        background: #fff;
    }

    #categoryPage .lnb > .left img {
        width: 60px;
    }

    #categoryPage .categoryBody img {
        /* width:56px;  */
        height:50px;
    }


    /* #categoryPage .lnb > .right {
        font-size: 13px;
        width: 550px;
        overflow: hidden;
        text-align: left;
        float:none;
    } */

    #categoryPage .slideMenu {
        width: calc(100% - 80px);
        height: 80px;
        overflow: hidden;
        float: right;
    }

    #categoryPage .btnMenuCategory {
        text-align: right;
        margin: 1% 2% 1% 0;
    }



    #categoryPage #menuViewPopup {
        top:0%;
    }

    #categoryPage #menuViewPopup .popScroll{
        position: absolute;
        left: 2%;
        right: 2%;
        top: 50px;
        overflow-y: scroll;
        bottom: 100px
    }

    #categoryPage #menuViewPopup .popHead {
        border-bottom: 1px solid darkgray;
        height:auto;
        margin-top: 10px;
    }

    #categoryPage #menuViewPopup h4 {
        margin: 0;
        text-align: left;
    }

    #categoryPage #menuViewPopup .btnPopBottomArea{
        clear:both;
        text-align: center;
        position: absolute;
        bottom: 25px;
        width: 100%;
    }

    #categoryPage #menuViewPopup .modal__content {
        vertical-align: top;
        padding-top: 70px;
    }

    #categoryPage #menuViewPopup .card {
        text-align: center;
        padding:10px 10px;
        border-radius: 0;
    }
    #categoryPage .categoryMenu {
        width: 30%;
        display: inline-block;
        margin: 10px 0;
    }

    #categoryPage .categoryMenu img {
        width:65%;
    }

    #categoryPage .categoryMenu label {
        font-size: 12px;
        display: block;

    }

    #categoryPage #menuViewPopup .center {
        margin: 12px 0;
    }

/* product page */
#productListPage .page__content,
#productListPage .page__background {
    padding-top: 80px;
}
#productListPage #list-node {
    padding: 1rem;
    padding-top: 0.3em;
}
#productListPage ons-list-title {
    padding: 10px 0 3px 16px;
}
#productListPage .lnb {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 5px 0;
    overflow: hidden;
    border-bottom: 1px solid #f2ebe4;
    top: 56px;
    z-index: 999;
    background: #fff;
}
#productListPage .lnb .left {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
    padding: 10px;
}
#productListPage .lnb .slideMenu {
    display: block;
    /* padding-left: 80px; */
}
#productListPage .lnb .slideMenu div[class^="swiper-container"] {
    /* margin-left: 80px; */
    /* left: 80px; */
    width: 100%;
    position: relative;
    overflow: hidden;
}

#productListPage .lnb .btnCateMenu span{
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    overflow: hidden;
    word-break: break-word;
    font-family: "gmarketM";
    font-size: 13px;
    font-weight: bold;
}

#productListPage .lnb .btnCateMenu img{
    height:50px;
}


#productListPage .btnMenuCategory {
    line-height: 56px;
}

#productListPage .popBody .btnCateMenu img{
    width: auto;
    height: 55px;
}

#productListPage .btnMenuCategory ons-button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    width: auto;
    height: auto;
}
#productListPage .btnMenuCategory ons-button svg {
    margin-right: 0;
}
#productListPage ons-fab#searchFilter {
    width: auto;
    height: 28px;
    font-size: 14px;
    padding: 0 5px;
    line-height: normal;
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid #a7a7a7;
    background-color: #fff;
    color: #000;
}
#productListPage ons-fab#searchFilter svg {
    margin-left: 3px;
}
#productListPage ons-fab.fab--bottom__right {
    bottom: 20px;
    background: #ff5f02;
}
#productListPage .innerBasket {
    position: absolute;
    width: auto;
    height: 20px;
    top: 9px;
    left: auto;
    right: 9px;
    background: #fff;
    border: 2px solid #ff5e00;
    font-size: 11px;
    color: #ff5e00;
    font-weight: bold;
    line-height: 18px;
    padding: 0;
    letter-spacing: -.5px;
}

#productListPage .isServiceProduct{
    font-size: 11px;
    margin-top: 6px;
    text-align: center;
    line-height: 15px;
    letter-spacing: -1px;
    color: green;
}

#productListPage .cooking{
    color: darkorange;
    padding-top: 1px;
    width:100%;
}

#detailViewPopup.viewModal .popHead {
    margin: 0;
    margin-bottom: 5px;
}
#detailViewPopup.viewModal .popHead h4 {
    margin-top: 0;
    font-weight: normal;
    text-align: left;
    font-size: 16px;
}
#detailViewPopup.viewModal .card {
    width: auto;
    height: auto;
    /* position: static; */
    margin: 0;
    color: #000;
    font-size: 14px;
}
#detailViewPopup.viewModal .star_assess.card .btnSetpointer {
    display: block;
    background: none;
    border: none;
    color: #ff5e00;
    border-bottom: 1px solid #ff5e00;
    text-align: left;
    border-radius: 0;
}
#detailViewPopup.viewModal .star_assess.card .btnSetpointer:after {
    display: block;
    content:'\f107';
    font: normal normal normal 24px/1 FontAwesome;
    float: right;
}
#detailViewPopup.viewModal .card.popHeightScroll {
    /* max-height: 80%; */
    padding-bottom: 40px;
}
#detailViewPopup.viewModal > .modal__content {
    vertical-align: bottom;
}
#detailViewPopup .popHead .close {
    top: 7px;
}
#detailViewPopup.viewModal .popBody .card {
    padding: .5rem 0;
}
#detailViewPopup.viewModal .popBody .card:after {
    clear: both;
    content: '';
    display: table;
}
#detailViewPopup .star_assess .star_list {
    padding-bottom: 1rem;
    text-align: center;
}
#detailViewPopup .star_assess .star_list ons-icon.starR {
    font-size: 22px;
    color: #e6e6e6;
    transition: color ease-in-out .3s;
    margin: 0 3px;
}
#detailViewPopup .star_assess .star_list ons-icon.starR.on {
    color: #ffc000;
}
/* #detailViewPopup .card.popHeightScroll .listcard {
    padding-bottom: 40px;
} */
#detailViewPopup ons-button.btnClosePopup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}
#detailViewPopup ons-button.btnClosePopup:before,
#detailViewPopup ons-button.btnClosePopup:after {
    content: none;
}
/* .CateMenu label {

} */


.CateMenu .btnCateMenu div {
    margin-top: 6px;
    color: #000;
    word-break: break-word;
    text-align: center;
    font-size:12.5px;
    height: 36px;
    line-height: 15px;
}

#menuViewPopup .btnPopBottomArea {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#menuViewPopup .btnPopBottomArea ons-button {
    width: 100%;
    border-radius: 0;
}
#menuPage .linkLoginPage {
    height: auto;
}
#menuPage .linkLoginPage div.center {
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menuPage .linkLoginPage div.center ons-button {
    width: 48.5%;
    flex: 1;
    padding: 5px 0;
    font-size: 14px;
}
#menuPage .linkLoginPage div.center ons-button.btnLogin {
    margin-right: 3%;
    background: transparent;
    border: 1px solid #FF5E00;
    color: #FF5E00;
}

#menuPage .linkLoginPage div.center ons-button img {
    width: auto;
    height: 1rem;
    margin-right: 5px;
    filter: brightness(0) invert(1);
}
#menuPage .linkLoginPage div.center ons-button.btnLogin img {
    filter: none;

}
#menuPage .linkLoginPage div.center ons-button.btnLogin img svg {
    fill: #FF5E00;

}

#menuPage #links > ons-list-item{ height: 35px; }
#menuPage #links ons-list-item .list-item__center{
    padding-left: 2.8rem;
    background-size: auto 1.2rem !important;
    font-size: 14px;
}

#menuPage #default-category-list ons-list-item .list-item__center {
    padding-left: 2.8rem;
    background-size: auto 1.2rem !important;
    font-size: 14px;
}

#menuPage ons-list-item  .list-item__center.goAddr {
    background: url(../img/svg/marker.svg) no-repeat .7rem center;
}
#menuPage ons-list-item .list-item__center.goRecent {
    background: url(../img/svg/naviAnchor.svg) no-repeat .7rem center;
}


#menuPage ons-list-item .list-item__center.goFavorite {
    background: url(../img/svg/Heart_Icon_Deselected.svg) no-repeat .7rem center;
}

#menuPage ons-list-item  .list-item__center.goMessage {
    background: url(../img/svg/koreanNews.svg) no-repeat .7rem center;
}
#menuPage ons-list-item  .list-item__center.gobuyHistory {
    background: url(../img/svg/orderList.svg) no-repeat .7rem center;
}
#menuPage ons-list-item  .list-item__center.goNotice {
    background: url(../img/svg/event.svg) no-repeat .7rem center;
}
#menuPage ons-list-item  .list-item__center.goConfig {
    background: url(../img/svg/setting.svg) no-repeat .7rem center;
}
#menuPage ons-list-item  .list-item__center.goTel {
    background: url(../img/svg/phonebook.svg) no-repeat .7rem center;
}
#menuPage ons-list-item  .list-item__center.goNews {
    background: url(../img/svg/qna.svg) no-repeat .7rem center;
}
#menuPage ons-list-item  .list-item__center.goAir {
    background: url(../img/svg/air.svg) no-repeat .7rem center;
}
#menuPage ons-list-item  .list-item__center.goRequest {
    background: url(../img/svg/paper-plane.svg) no-repeat .7rem center;
}
#menuPage ons-list-item .list-item__center.goPolicy {
    background: url(../img/svg/caution.svg) no-repeat .7rem center;
}

#newsPage > .page__content {
    padding: 1rem;
}
/* 입점문의 */
#inQuiryPage > .page__content {
    padding: 1rem;
}

#inQuiryPage .check.radio{
    line-height: 35px;
}

#inQuiryPage ons-list-item.list-item {
    height: auto;
    margin-bottom: 10px;
}

#inQuiryPage ons-radio {
    vertical-align: middle;
}

#inQuiryPage ons-list-item.list-item label {
    display: inline-block;
    width: 25%;
    font-size: 13px;
    color: #000;
    line-height: 40px;
}
#inQuiryPage ons-list-item.list-item .check label {
    line-height: normal;
    width: auto;
    margin-right: 1rem;
}
#inQuiryPage ons-list-item.list-item label.error {
    color: #f00;
    font-size: 12px;
    position: relative;
    padding-left: 20px;
    line-height: 20px;
    display:block;
    margin-top: 6px;
}
#inQuiryPage ons-list-item.list-item label.error:before {
    display: block;
    content: '';
    background: url(../img/svg/caution.svg) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
}
#inQuiryPage .list-item__center ons-select {
    height: 40px;
    background: #f5f5f5;
    border-radius: 5px;
}
#inQuiryPage .list-item__center ons-select select {
    height: 100%;
}
#inQuiryPage .list-item__center.listItemTextArea textarea {
    background: #f5f5f5 !important;
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-color:transparent;
    font-size: 14px;
}
#inQuiryPage .list-item__center.listItemTextArea textarea:focus {
    border-color: #ff5e00 !important;
    background: #fff;
}
#inQuiryPage .list-item__center.listItemTextArea textarea[style="background:none"] {
    background: #ffd2d3 !important
}
/* 로그인 */
#loginPage > .page__content {
    padding: 0 1rem;
}
#loginPage .btnLogin {
    margin-top: 10px;
}
#loginPage .find_btn {
    text-align: center;
}



#loginPage .find_btn ons-button {
    background: none;
    color: #31313a;
    padding: .5rem 1rem;
    border: none;
}
#loginPage .btnJoin {
    background: #fff;
    color: #ff5e00;
    border-color: #ff5e00;
    margin-top: 1rem;
}

#loginPage .sns_btn {
    text-align: center;
}

#loginPage .sns_btn ons-button{
    border: none;
    width: 48%;
    display: inline-block;
    height: 50px;
    background: none;
}

#loginPage .sns_btn img {
    height: 40px;
    vertical-align: middle;
}

/* 주문내역 */
#ordrlistPage > .page__content {
    padding: 0;
}
#ordrlistPage .top {
    margin:8px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
#ordrlistPage > .page__content h4.title {
    margin: 0.5rem 1rem;
}

#ordrlistPage .top .list-item__title span {
    display: block;
    margin-top: 2px;
    font-size: 13px;
    color: #898989;
    margin-bottom: 2px;
}

#ordrlistPage .top .list-item__title span.sublabel {
    display: inline-block;
    width: 65;
    text-align: right;
}


.orderDetailInfo > div {
    border-bottom: 1px solid #e0e0e0;
    padding: 3px 0;
}

.orderDetailInfo > div:last-child {
    border-bottom: none;
}

.orderDetailInfo > div span{
    vertical-align: sub;
    font-size: 12px;
}

#ordrlistPage .orderDetailInfo span.subtitle{
    width: 80px;;
}

#ordrlistPage .top .f_right ons-button {
    background: none;
    border: none;
    color: #f00;
    height: auto;
    padding: 0;
    font-size: 14px;
}

#ordrlistPage .top .f_right ons-button i{
    font-size: 20px;
}

#ordrlistPage .bottom {
    text-align: center;
    padding: .5rem 1rem;
    margin-bottom: 0.5rem;
    /* border-top: 1px solid #dedee0; */
    border-bottom: 1px solid #dedee0;
    display: flex;
    justify-content: space-between;
}

#ordrlistPage .dataList {
    font-size:14px;
    border-top: 1px solid #dedee0;
    padding: 0 1rem;
}
#ordrlistPage .dataList:first-of-type {
    border-top-color: transparent;
}
#ordrlistPage .dataList .right {
    display: flex;
    justify-content: space-between;
}
#ordrlistPage .right ons-button {
    background: none;
    border:none;
    color:blue;
    font-size: 13px;
    margin-top: 5px;


}
#ordrlistPage .right ons-button.statusName:before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ffbc00;
    margin-right: 3px;
}
#ordrlistPage .right ons-button.btnOrderMap {
    color: #329ddf;
}

#ordrlistPage .f_right{
    float:right;
    text-align: right;
}


#ordrlistPage h5 {
    font-weight: bold;
    margin: 5px auto 2px;
}

#ordrlistPage .delvAmt, #ordrlistPage .orderDetailInfo {
    background-color: whitesmoke;
    color: black;
}

#ordrlistPage .delvInfo{
    height: auto;
    overflow: auto;
}

#ordrlistPage .delvTel {
    float: right;
    border: 1px solid #ff5e00;
    padding: 2px 7px 0px 7px;
    border-radius: 20px;
    color: #ff5e00 !important;
}

#ordrlistPage .delvTel a{
    text-decoration: none;
}


#ordrlistPage ul.orderSummary {
    list-style: none;
    margin: 0;
    padding: 0;
}


#ordrlistPage ul.orderSummary li {
    min-height: 40px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    /* padding: 5px; */
}


#ordrlistPage ul.orderSummary li:after {
    display: table;
    clear: both;
    content: '';
}
#ordrlistPage ul.orderSummary li .itemName {
    flex: 1;
}
#ordrlistPage ul.orderSummary li .itemName img {
    margin-right: 5px;
    border-radius: 10px;
}
#ordrlistPage ul.orderSummary li .itemQty ons-button {
    background: none;
}
#ordrlistPage ul.orderSummary li .itemQty ons-button svg {
    margin-right: 0;
    margin-left: 5px;
}
#ordrlistPage .bottom ons-button {
    width: 100%;
    padding: 0 5px;
    text-align: center;
    margin: 0 5px;
}
#ordrlistPage .bottom ons-button:first-of-type {
    margin-left: 0;
}
#ordrlistPage .bottom ons-button:last-of-type {
    margin-right: 0;
}

#ordrlistPage .marker {
    color:red;
}

#orderDetailPage ons-list ons-list-title.list-title {
    padding: 5px 0 5px;
    margin: 0.5rem 0;
    font-size: 13px;
    color: #ff5e00;
    border-bottom: 1px solid #ff5e00;
    margin-bottom: 9px;
    font-family: gmarketM;
}

#orderDetailPage > .page__content {
    padding: 1rem;
}
#orderDetailPage .list-item__center {
    padding: 0;
}
#orderDetailPage .list-item__center ons-select,
#orderDetailPage .list-item__center.AddrTime2 #AddrTime2 {
    height: 40px;
    max-width: unset;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    border-radius: 0;
    width:100%;
    text-align: center;
}
#orderDetailPage .list-item__center.AddrTime2 {
    width: 100%;
    display: block;
}

#orderDetailPage .reserv{
    display:none;
    width: 100%;
}

#orderDetailPage .reserv .list-item__center{
    width:98%;
}

#orderDetailPage #AddrTime3 {
    width: 100%;
    height: 30px;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

#orderDetailPage .list-item__center ons-select select {
    width: 100%;
    height: 100%;
}
#orderDetailPage .list-item__center input[type="datetime-local"] {
    width: 100%;
}
#orderDetailPage .listItem div.left,
#orderDetailPage .listItem div.right {
    width: auto;
    min-width: unset;
    display: flex;
}
#orderDetailPage .listItem div.left {
    padding-right: 5px;
}
#orderDetailPage .buttonArea {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#orderDetailPage ons-list-item.selectTime  {
    width: 49%;
    display: inline-flex;
    text-align: center;
}

#orderDetailPage ons-list-item.payWayDiv {
    width: 31%;
    display: inline-flex;
    text-align: center;
}
#orderDetailPage .buttonArea ons-button.btnOrderComplete {
    border-radius: 0;
}

/* 나의 프로필 */
#joinForm .list-item__left, #joinForm .list-item__right {
    min-width: 85px;
    padding: 0;
}

#joinForm .listItem div {
    padding: 5px 0;
    width: auto;
}
#joinForm .listItem div input {
    font-size: 14px;
    min-height: 30px;
}
#joinForm .listItem div ons-button {
    border-radius: 0;
    padding: 8px;
    font-size: 12px;
    min-height: 30px;
    height: 30px;
    width:100%;
}
#joinForm ons-list-item.list-item {
    /* border: none; */
    /* padding: .5rem 0; */
    height: auto;
    border-bottom: 1px solid #e0e0e0;
    margin: 2px auto;
}

#joinForm ons-list-item.list-item ons-label {
    text-align: left;
    line-height: 30px;
    color: #242424;
    font-size: 12px;
}

#joinForm .buttonArea .btnChangPw {
    display: inline;
    background: none;
    padding: 0;
    border-color: transparent;
    color: #329ddf;
    margin: 0 1rem;
}
#joinForm .btn_wrap .change_profile ons-button[disabled] {
    color: #000;
}

/* 회원가입 */
#joinPage #joinForm {
    padding: 0 1rem 3rem;
}
#joinPage #joinForm ons-bottom-toolbar.bottom-bar {
    position: fixed;
}

#joinPage #joinForm label{
    font-size:14px;
}

#joinPage .btnbNone{
    background:none;
}

/* 코인페이지 */
#coinPage .page__content > .card {
    padding: 2rem 1rem;
}
#coinPage .page__content .searchCard {
    display: flex;
    width: 80%;
    padding: 1rem 0;
    justify-content: space-between;
    margin: 0 auto;
}
#coinPage .page__content .searchCard ons-radio {
    margin-right: 5px;
}
#coinPage #all_qty {
    font-size: 16px;
}


#coinPage span.listContent.ellipsis {
    display: inline-block;
    flex: auto;
}

#coinPage span.listContent.ellipsis:first-child {
    width: auto;
    text-align: center;
}

#coinPage span.listContent.ellipsis:nth-child(2) {
    width: 50%;
}

#coinPage span.listContent.ellipsis:last-child {
    width: 30%;
}

.coinListItem .title {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.coinListItem .title span {
    flex: 1;
    font-size: 12px;
    color: #000;
    line-height: 1.5
}
.coinListItem .title span.aRight {
    font-size: 16px;
    font-weight: bold;
}
.coinListItem .title span.blue {
    color: #0010ff;
}
.coinListItem .title span.red {
    color: #f00;
}

/* 장바구니 */
#basketPage > .page__content {
    padding-top: 0;
}
#basketPage .summarycard {
    padding-bottom: 55px;
}
#basketPage ons-button.btnOrder {
    border-radius: 0;
    position: fixed;
    bottom: 0;
    margin-left: -1rem;
}
#basketPage .isServiceProduct{
    font-size: 10px;
    margin-top: 2px;
    color: green;
}

#basketPage .cooking{
    color: darkorange;
    padding-top: 1px;
    width:100%;
}

#list-node ons-list-item.list-item {
    height: auto;
    padding: .3rem 0;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0;
}
#list-node ons-list-item.list-item:first-of-type {
    border-top-color: transparent;
}
#list-node ons-list-item.list-item > div {
    display: inline-block;
    min-width: unset;
    width: auto;
    padding: 0;
}
#list-node ons-list-item.list-item .productInfo {
    display: flex;
    flex-direction: row;
    padding-left: .3rem;
    color:#949494;
}
#list-node ons-list-item.list-item .productInfo div {
    font-size: 11px;
    line-height: normal;
}

#list-node ons-list-item.list-item .productInfo .orderTime {
    margin-top: 1px;
    font-family: initial;
}

#list-node ons-list-item.list-item .productInfo .list-item__title {
    color: #000;
    font-size: 13px;
    word-break: break-all;
}

#list-node ons-list-item.list-item .buttonArea {
    padding-right: 0;
    position: relative;
}
#list-node ons-list-item.list-item .buttonArea > .list-item__subtitle {
    margin-top: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
#list-node ons-list-item.list-item .buttonArea > .list-item__subtitle > * {
    width: 30px;
    min-width: unset;
    min-height:20px;
    line-height: normal;
    margin: 0 1px;
}

#list-node ons-list-item.list-item .buttonArea > .list-item__subtitle > ons-input {
    width: 25px;
}
ons-button.btnRadius {
    width: 30px;
    height: 30px;
    min-width: unset;
    min-height: auto;
}
ons-button.btnMinusQty  {
    border-color: #ccc;
    background: #fff;
    color: #787878;
}
ons-button.btnPlusQty {
    background: #f00;
}
ons-button.btnMinusQty:before,
ons-button.btnPlusQty:before,
ons-button.btnPlusQty:after {
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 25%;
}
ons-button.btnMinusQty:before {
    background: #000;
}
ons-button.btnPlusQty:after {
    width: 1px;
    height: 50%;
    top: 25%;
    left: 50%;
}
ons-input input#qty {
    min-height: unset;
    height: auto;
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    text-align: center;
    margin: 1px 0;
}
#list-node ons-list-item.list-item > .productImg {
    width: 75px;
    min-width: 75px;
    height: 75px;
    padding: 0;
    position: relative;
    overflow: hidden;
}
#list-node ons-list-item .productImg .list-item__thumbnail {
    width: auto;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


ons-list-item.list-item > .productImg.ytb:after{
    background-image: url('../img/logo/youtube_icon25x25.png');
    background-repeat: no-repeat;
    background-position: 95% 100%;
    content: " ";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

ons-list-item.list-item.sale_off > .productImg.ytb:after{
    background-image: url('../img/logo/youtube_icon25x25.png');
    background-repeat: no-repeat;
    background-position: 95% 100%;
    content: "CLOSED";
}

ons-list-item.list-item.st_none > .productImg.ytb:after
{
    background-image: url('../img/logo/youtube_icon25x25.png');
    background-repeat: no-repeat;
    background-position: 95% 100%;
    content: "SOLD OUT";
}

ons-list-item.list-item.sale_off > .productImg:after {
    display: flex;
    content:'CLOSED';
    line-height: 25px;
    white-space: pre-wrap;
    text-align:center;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    align-items: center;
    justify-content: center;
}


/* 유튜브 동영상이 포함된 상품 아이콘 이미지 표시 */
ons-list-item.list-item > .productImg.ytb:after{
    background-image: url('../img/logo/youtube_icon25x25.png');
    background-repeat: no-repeat;
    background-position: 95% 100%;
    content: " ";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

ons-list-item.list-item.st_none > .productImg:after {
    display: flex;
    content:'SOLD OUT';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    align-items: center;
    justify-content: center;
}

ons-list-item.list-item.off > .productImg:after {
    content:'CLOSED';
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    align-items: center;
    justify-content: center;
}

#list-node ons-list-item.list-item .productInfo .pd_price {
    color: #949494;
    display:contents;
}
#list-node ons-list-item.list-item .productInfo .pd_price .cp {
    font-size: 15px;
    color: #000;
    letter-spacing: -1px;
    font-weight: bold;
    margin-right: 10px;
}

#list-node ons-list-item.list-item .productInfo .pd_price .ori_price {
    color:blue;
}

#list-node ons-list-item.list-item .productInfo .pd_price .sale {
    color: #f00 !important;
    padding-left: 0.5em;
}
#list-node ons-list-item.list-item .productInfo .pd_etc .star {
    margin-right: 5px;
    color: #000;
}
#list-node ons-list-item.list-item .productInfo .pd_etc .star i {
    color: #ffc000;
    margin-right: 2px;
}

/* 판매시간종료  */
#list-node ons-list-item.list-item .sale_off {
    pointer-events: none;
}
#list-node ons-list-item.list-item.sale_off .productInfo .pd_price .cp,
#list-node ons-list-item.list-item.sale_off .productInfo .pd_price .sale,
#list-node ons-list-item.list-item.sale_off .productInfo .pd_etc .star,
#list-node ons-list-item.list-item.sale_off .productInfo .pd_etc .star i,
#list-node ons-list-item.list-item.sale_off .productInfo .list-item__title,
#list-node ons-list-item.list-item.sale_off {
    color: #c5c5c5;
}
/*
#list-node ons-list-item.list-item.sale_off .buttonArea > .list-item__subtitle > * {
    opacity: .3;
}
*/


/* 재고없음  */
#list-node ons-list-item.list-item .st_none {
    pointer-events: none;
}
#list-node ons-list-item.list-item.st_none .productInfo .pd_price .cp,
#list-node ons-list-item.list-item.st_none .productInfo .pd_price .sale,
#list-node ons-list-item.list-item.st_none .productInfo .pd_etc .star,
#list-node ons-list-item.list-item.st_none .productInfo .pd_etc .star i,
#list-node ons-list-item.list-item.st_none .productInfo .list-item__title,
#list-node ons-list-item.list-item.st_none {
    color: #c5c5c5;
}
/* #list-node ons-list-item.list-item.st_none .buttonArea > .list-item__subtitle > * {
    opacity: .3;
} */
#orderConfirmPopup .popScroll {
    padding: 1rem;
    padding-bottom: 60px;
    text-align: left;
    color: #000;
    font-size: 14px;
    overflow: auto;
}
#orderConfirmPopup .popScroll .popHead {
    margin: 0;
}
#orderConfirmPopup .popScroll .popBody {
    max-height: unset;
}
#orderConfirmPopup .popScroll .popBody dl,
#orderConfirmPopup .popScroll .popBody .orerList .summaryLi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#orderConfirmPopup .popScroll .popBody .orerList .summaryLi,
#orderConfirmPopup .popScroll .popBody dl {
    margin: 0;
    padding: 2px 0;
    border-bottom: 1px solid #e0e0e0;
    min-height: 20px;
}

/* TODO CSS 추가 */
#orderConfirmPopup .popScroll .popBody .orerList .summaryLi > span.left {
    flex: 0 0 55%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#orderConfirmPopup .popScroll .popBody .orerList .summaryLi > span.left {
    flex: 0 0 55%;
}
#orderConfirmPopup .popScroll .popBody .orerList .summaryLi > span.center {
    flex: 0 0 30%;
    text-align: right;
}
#orderConfirmPopup .popScroll .popBody .orerList .summaryLi > span.right {
    flex: 0 0 15%;
    text-align: right;
}
#orderConfirmPopup .popScroll .popBody dl.summaryTax,
#orderConfirmPopup .popScroll .popBody dl.summaryAddr {
    align-items: flex-start;
}
#orderConfirmPopup .popScroll .popBody dl dt {
    flex: 0 0 34%;
    font-size: 13px;
    padding-right:1%;
}
#orderConfirmPopup .popScroll .popBody dl dd {
    margin-left: 0;
    text-align:right;
}
/* #orderConfirmPopup .popScroll .popBody dl.summaryTax dd {
} */
#orderConfirmPopup .popScroll .popBody dl.summaryTax dd span {
    display: block;
    /* color: #676767; */
    margin-bottom: 5px;
}
#orderConfirmPopup .popScroll .popBody dl.summaryTax dd span:before {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background: #676767;
    float: left;
    margin: 8px 5px;
    margin-left: 0;
}
#orderConfirmPopup .confirming_msg {
    background: #f5f5f5;
    border: 1px solid #dcdcdc;
    padding: 5px;
    font-size: 14px;
    word-break: keep-all;
    margin-bottom: 1rem;
}
#orderConfirmPopup .btnPopBottomArea {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0;
}
#orderConfirmPopup .btnPopBottomArea ons-button {
    width: 48%;
    height: 44px;
    border-radius: 0;
}
#reOrder-dialog .dialog-container {
    padding: 1rem;
    padding-top: 30px;
    position: relative;
}
#reOrder-dialog .dialog-container div ons-button.btnDialogOk {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}

#removeOrder-dialog .dialog-container {
    padding: 1rem;
    padding-top: 30px;
    position: relative;
}

#removeOrder-dialog .dialog-container div ons-button.btnDialogOk {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}

#cancelOrder-dialog .dialog-container {
    padding: 1rem;
    padding-top: 30px;
    position: relative;
}

#reOrder-dialog .dialog-container div ons-button.btnDialogOk {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}

#cancelOrder-dialog .dialog-container div ons-button.btnDialogOk {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}


#orderConfirmPopup ons-button.btnOrd {
    width: 48%;
    display: inline-block;
    font-family:"gmarketM";
    line-height: 30px;
}

#requestPage section {
    padding: 1rem;
    color: #000;
}
#requestPage section.contact_tel {
    padding-top: 0;
}
#requestPage section.text_field textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-color: #dcdcdc;
}
#requestPage section.contact_tel p {
    font-size: 14px;
    margin-top: 0;
}

/* 전화번호 조회 */
#telPage .page__content,
#telListPage .page__content {
    padding: 1rem;
}
#telPage .page__content .list-item__subtitle,
#telListPage .page__content .list-item__subtitle {
    display: block;
}
#telPage #list-node ons-list-item.list-item,
#telListPage #list-node ons-list-item.list-item {
    border-color: #e0e0e0;
    padding: 10px 0;
}
#telPage .search_input,
#telListPage .search_input {
    position: relative;
}
#telPage .search_input ons-search-input,
#telListPage .search_input ons-search-input {
    width: 100%;
}
#telPage .search_input ons-button,
#telListPage .search_input ons-button {
    position: absolute;
    top: 11px;
    right: 10px;
    background: none;
    border: none;
    text-indent: -999em;
    width: 18px;
    height: 18px;
    min-height: auto;
    border-radius: 100%;
    background: #b9b9b9;
    color: #b9b9b9;
    padding: 0;
}
#telPage .search_input ons-button:before,
#telPage .search_input ons-button:after,
#telListPage .search_input ons-button:before,
#telListPage .search_input ons-button:after {
    display: flex;
    content: '';
    width:1px;
    height: 12px;
    transform: rotate(-45deg);
    background: #fff;
    justify-content: center;
    align-items: center;
}
#telPage .search_input ons-button:after,
#telListPage .search_input ons-button:after {
    transform: rotate(45deg);
}
#telPage .keyword_list,
#telListPage .keyword_list {
    margin-top: 10px;
}
#telPage .keyword_list .cookieDiv,
#telListPage .keyword_list .cookieDiv {
    border: 1px solid #e0e0e0;
}
#telPage .keyword_list .cookieDiv:not(.searchItemCookie),
#telListPage .keyword_list .cookieDiv:not(.searchItemCookie) {
    background: #f5f5f5;
    padding: 0 10px;
}
#telPage .keyword_list .searchItemCookie,
#telListPage .keyword_list .searchItemCookie {
    margin-top: -1px;
}
#telPage .keyword_list ons-button,
#telListPage .keyword_list ons-button {
    background: none;
    border: none;
    min-height: auto;
    height: auto;
    justify-content: flex-end;
    padding: 0;
    font-size: 13px;
    color: #555;
}
#telPage .keyword_list ons-list-item.list-item,
#telListPage .keyword_list ons-list-item.list-item {
    margin-bottom: 0;
}
#telPage .keyword_list .searchItemCookie ons-list-item.list-item,
#telListPage .keyword_list .searchItemCookie ons-list-item.list-item {
    height: auto;
    padding: 0px 10px;
}
#telPage .keyword_list .searchItemCookie ons-list-item.list-item *,
#telListPage .keyword_list .searchItemCookie ons-list-item.list-item * {
    font-size: 14px;
}

/*  로그아웃 버튼 */

#my-dialog .dialog-container {
    padding: 1rem;
    position: relative;
}

#my-dialog ons-button.btnDialogOK{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}

/*  장바구니 삭제 버튼 */
#basketRemove-dialog .dialog-container {
    padding: 1rem;
    position: relative;
}
#basketRemove-dialog ons-button.btnDialogRemoveBasketOk{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}
#basketRemove-dialog ons-button.btnDialogRemoveBasketCancel{
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/*  추천인 다이어로그  */
#ref-dialog .dialog-container {
    padding: 1rem;
    position: relative;
}
#ref-dialog ons-button.refDialogOK {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}
#ref-dialog ons-button.refDiagClose {
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#grporderlistPage h5{
    font-weight: bold;
    margin: 5px auto 2px;
}

#grporderlistPage .delvInfo{
    height:25px;
}
#grporderlistPage .delvTel {
    float: right;
    border: 1px solid #ff5e00;
    padding: 2px 7px 0px 7px;
    border-radius: 20px;
    color: #ff5e00 !important;
}

#grporderlistPage .delvAmt, #grporderlistPage .orderDetailInfo {
    background-color: whitesmoke;
    color: black;
}

#grporderlistPage .delvTel a{
    text-decoration: none;
}

#ordrlistPage span.subtitle, 
#grporderlistPage span.subtitle{
    font-family: gmarketM;
}

/* 공구 주문하기 */


#grpOrderDetailPage ons-list ons-list-title.list-title {
    padding: 5px 0 5px;
    margin: 0.5rem 0;
    font-size: 13px;
    color: #ff5e00;
    border-bottom: 1px solid #ff5e00;
    margin-bottom: 20px;
    font-family: gmarketM;
}

#grpOrderDetailPage > .page__content {
    padding: 1rem;
    bottom: 40px;
}
#grpOrderDetailPage .list-item__center {
    padding: 0;
}
#grpOrderDetailPage .list-item__center ons-select,
#grpOrderDetailPage .list-item__center.AddrTime2 #AddrTime2 {
    height: 40px;
    max-width: unset;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    border-radius: 0;
    width:100%;
    text-align: center;
}
#grpOrderDetailPage .list-item__center.AddrTime2 {
    width: 100%;
    display: block;
}

#grpOrderDetailPage .reserv{
    display:none;
    width: 100%;
}

#grpOrderDetailPage .reserv .list-item__center{
    width:98%;
}

#grpOrderDetailPage #AddrTime3 {
    width: 98%;
    height: 30px;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

#grpOrderDetailPage .list-item__center ons-select select {
    width: 100%;
    height: 100%;
}
#grpOrderDetailPage .list-item__center input[type="datetime-local"] {
    width: 100%;
}
#grpOrderDetailPage .listItem div.left,
#grpOrderDetailPage .listItem div.right {
    width: auto;
    min-width: unset;
    display: flex;
}
#grpOrderDetailPage .listItem div.left {
    padding-right: 5px;
}
#grpOrderDetailPage .buttonArea {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}


#grpOrderDetailPage ons-list-item.selectTime  {
    width: 49%;
    display: inline-flex;
    text-align: center;
}

#grpOrderDetailPage ons-list-item.payWayDiv {
    width: 31%;
    display: inline-flex;
    text-align: center;
}
#grpOrderDetailPage .buttonArea ons-button.btnGrpOrderComplete {
    border-radius: 0;
}

#profilePage .cordovaButton{
    margin-top: 10px;
    display: none;
}

#profilePage #service-dialog ons-button{
    width: 40%;
}

.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

