
#tabbarPage ons-toolbar  ons-search-input {
    display: block;
}

#tabbarPage ons-toolbar ons-search-input {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 5px 11px;
    width: 95%;
}

#tabbarPage ons-toolbar .search-input {
    padding: 5px 24px 3px 13px;
    border-radius: 20px;
    min-height: 35px;
}

#tabbarPage ons-toolbar ons-button {
    background: none;
    border: none;
    position: absolute;
    top: 7px;
    right: 50px;
}

img.corpLogo {
    height: 30px;
}