<ons-page id="messageListPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-i18n="LEFTMENU:FCM_MSG">메시지확인</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="card container">
        <ons-list id="list-node" on-infinite-scroll="fn.loadMore" class="dataList">
        
        </ons-list>
        <div class="after-list"><img src="img\button\ajax-loader.gif" /></div>
    </div>
    <ons-modal direction="up" id="detailViewPopup" class="modal viewModal">
        <div class="card popHeightScroll">
            <div class="popHead" style="height:auto;">
                <!-- <div class="right close">
                    <ons-icon class="btnClosePopup" icon="fa-close" size="1.5x"></ons-icon>
                </div> -->
                <h4 class="title">
                    <span class="msgTitle"></span>
                </h4>
            </div>
            <div class="popBody" class="listItem">
                <div class="card" >
                    <div class="list-item__subtitle view_summary">
                        <div class="left" >
                            <span class='ptit'></span>
                            <span class='content'></span>
                        </div>
                    </div>
                </div>
            </div>
            <ons-button class="btnClosePopup"><span data-i18n="COMM:close">닫기</span></ons-button>
        </div>

    </ons-modal>
    <style>

        #messageListPage ul {
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 0;
            margin: 0;
        }

        #messageListPage ul > li {
            border-bottom: 1px solid #ccc;
            list-style: none;
            padding: 18px 16px 16px 16px;
        }

        #messageListPage ul > li:last-child {
            border-bottom: none;
        }

        #messageListPage .title {
            color: #333;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.6;
            padding-top: 5px;
        }

        #messageListPage span.listContent.ellipsis.titleText {
            vertical-align: bottom;
        }

        #messageListPage .txtRight {
            margin-top:0px;
            bottom:5px;
        }

        .title > p {
            width: 95%;
            height: 22px;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            overflow: hidden;
            margin: 0;
        }

        .date {
            color: #999;
            font-size: 12px;
            margin-top: -2px;
        }
        
        .mCt{
            font-size: 15px;
            padding: 5px;
        }

        .viewModal .view_summary {
            height: auto;
            line-height: 25px;
        }
    </style>
</ons-page>