<ons-page id="inQuiryPage">
   
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center algnCenter"><span class="pageTitle">입점문의</span></div>
        <div class="right">
            <!-- <ons-toolbar-button class="btnSearchAll">
                <ons-icon fixed-width="false" size="1x">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="search_1_" x="0px" y="0px" viewBox="0 0 105.1 104.7" style="enable-background:new 0 0 105.1 104.7;" xml:space="preserve">
                        <path id="search" class="st0" d="M103.7,96.8L74.2,67.8c-1.7-1.8-4.6-1.8-6.3,0c0,0,0,0,0,0c-0.9,1-1.8,1.9-2.8,2.7  c-6.5,5.2-14.7,7.9-23,7.5C24.5,77.1,10.4,63.3,9.1,45.9c-1.3-19,13-35.5,32.1-36.8s35.5,13,36.8,32.1c0.2,3.4,0,6.9-0.8,10.3  c-0.4,1.6,0.1,3.2,1.3,4.3c1.2,1.1,2.8,1.5,4.3,1c1.6-0.5,2.8-1.7,3.1-3.3c5.5-23.4-9-46.8-32.3-52.3s-46.8,9-52.3,32.3  s9,46.8,32.3,52.3c13,3.1,26.7,0,37.1-8.3l0.3-0.3l26.5,26.2c0.8,0.8,2,1.3,3.2,1.3h0.2c1.2,0,2.4-0.6,3.2-1.5  C105.6,101.2,105.4,98.5,103.7,96.8z"/>
                    </svg>
                </ons-icon>
            </ons-toolbar-button> -->
        </div>
    </ons-toolbar>
    <div class="card">
        <ons-list>
            <!--<ons-list-title>문의 정보</ons-list-title>-->
            <ons-list-item class="listItem">
                <div class="center check radio" data-label="문의종류" data-length="100" data-class="TEXT" >
                    <ons-radio name="inqInquiry" input-id="inqInquiry-1" checked float value='입점문의'></ons-radio>
                    <label for="inqInquiry-1">입점문의</label>
                    <ons-radio name="inqInquiry" input-id="inqInquiry-2" float value='기타 제휴문의'></ons-radio>
                    <label for="inqInquiry-2">기타 제휴문의</label>
                </div>
            </ons-list-item>
            <ons-list-item class="listItem">
                <label for="name" class="left">문의자명</label>
                <div class="center">
                    <ons-input class="check" id="name" data-label="문의자명" data-class="TEXT" data-length="35" max-length="35" required  ></ons-input>
                </div>    
            </ons-list-item>

            <ons-list-item class="listItem">
                <label for="tel" class="left">연락처</label>
                <div class="center">
                    <ons-input class="check" id="tel" data-label="연락처" data-class="TEL" data-length="35" max-length="14" type="tel" required ></ons-input>
                </div>    
            </ons-list-item>

            <ons-list-item class="listItem">
                <label for="inqJobCatetory" class="left">업종</label>
                <div class="center">
                    <ons-select class="check selectBox" id="inqJobCatetory" data-label="업종" data-class="TEXT" data-length="100" required >
                        <option value="">업종을 선택하세요</option>
                        <option value="유통">유통</option>
                        <option value="판매">판매</option>
						<option value="기타">기타</option>
                    </ons-select>
                </div>    
            </ons-list-item>

            <ons-list-item class="listItem">
                <label for="addr1" class="left">주소</label>
                <div class="center">
                    <ons-input class="check" id="addr1" data-label="사업장 주소(8자 이상)" data-class="ADDRESS" data-length="100" min-length="8"  max-length="50"  required></ons-input>
                </div>    
            </ons-list-item>
            <ons-list-item class="listItem">
                <label for="addr2" class="left">상세주소</label>
                <div class="center">
                    <ons-input class="check" id="addr2" data-label="사업장 상세주소" data-class="ADDRESS" data-length="100" ></ons-input>
                </div>    
            </ons-list-item>

            <ons-list-item class="listItem">
                <label for="inqContent" class="left">문의내용</label>
                <div class="center listItemTextArea">
                    <textarea class="check" data-label="문의 내용" data-class="TEXT" data-length="500" min-length="2"  max-length="250"  id="inqContent" ></textarea>
                </div>    
            </ons-list-item>
        </ons-list>
    </div>
    <div class="card">
        <!-- <div class="center">
            <label for="agree">
                <ons-checkbox id="agree" checked></ons-checkbox>
                 약관 및 동의</label>
        </div> -->
		<div class="center" style="margin-top: 10px;">
            <label for="#agreePrivite">
                <ons-checkbox id="agree_privacy" target-id="agreePrivite"> </ons-checkbox> 
                개인정보 수집 동의 
            </label>
            <p>원활한 문의를 위해 문의자명, 연락처, 주소정보를 보관합니다.</p>
		</div>    
    </div>
    
    <ons-bottom-toolbar class="card buttonArea">
        <ons-button class="btnInquiry" modifier="large" >문의하기</ons-button>
    </ons-bottom-toolbar>

</ons-page>
