<ons-page id="orderDetailPage">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center" data-i18n="ORDD:DO_ORDER">주문하기</div>
    </ons-toolbar>
	<div class="card">
		<form id="orderForm" name="orderForm">
			
			<ons-list>
				<ons-list-title data-i18n="ORDD:ORD_INFO">배송정보(수정가능)</ons-list-title>
				<ons-list-item class="listItem" >
					<div class="center">
						<ons-input type="text" id="dlvaddr" input-id="dlv_addr" placeholder="배송주소" readonly="readonly" required></ons-input>
					</div>    
					<div class="right">
						<ons-button id="goAddr">
							<span class='txtAddr' data-i18n="COMM:SEARCH_ADDR">검색</span>
						</ons-button>
					</div>    
				</ons-list-item>

				<ons-list-item class="listItem" >
					<div class="center">
						<ons-input type="text" id="dlvaddrDetail" input-id="dlv_addr_detail" placeholder="배송상세주소" required ></ons-input>
					</div>    
					<div class="right">
						<ons-button class="goRecent" modifier="" >
							<span data-i18n="ORDD:RCT_ADDR">최근주문주소</span>
						</ons-button>
					</div>
				</ons-list-item>
				<ons-list-item class="listItem" tappable>
					<div class="center">
						<ons-input id="phonenumber" input-id="phone_number" name="phoneNumber"  type="tel" required ></ons-input>
					</div>    
					<div class="right">
						<ons-button id="btnCheckTelNumber" ><i class="fa fa-phone"></i>&nbsp;<span class='txtBtnEmail' data-i18n="COMM:MOD">수정</span></ons-button>
					</div>
				</ons-list-item>

				<ons-list-title data-i18n="ORDD:ORD_INPUT">입력사항</ons-list-title>
				<div class="listItem msgForConfDiv">
					<span class="msgForConfig green"></span>
				</div>
				<ons-list-item class="listItem selectTime now" tappable>
					<div class="left"><ons-radio name="timeway" id="AddrTime1" input-id="radio-time" value="" checked></ons-radio></div>
					<label for="radio-time" class="center" data-i18n="ORDD:ORD_NOW">즉시배송</label>
				</ons-list-item>
				<ons-list-item class="listItem selectTime" tappable>
					<div class="left"><ons-radio name="timeway"  id="AddrTime2" input-id="radio-time_1" value="" ></ons-radio></div>
					<label for="radio-time_1" class="center" data-i18n="ORDD:ORD_RESRV">예약배송</label>
				</ons-list-item>
				<ons-list-item class="listItem reserv" tappable >
					<input type="datetime-local" id="AddrTime3" />
				</ons-list-item>
				<ons-list-item class="listItem" tappable>
					<div class="center">
						<ons-input id="reqtext" input-id="req_text" name="reqtext" type="text" placeholder="요청사항(담배,전화카드는 적립금에 포함되지 않습니다)" ></ons-input>
					</div>    
				</ons-list-item>
				<ons-list-item class="listItem" tappable> 
					<ons-select id="giftItem" >
						<option value="" data-i18n="ORDD:ORD_GIFT"></option>
					</ons-select>
					<span class='giftMessage' data-i18n="ORDD:ORD_GIFT_MSG" >증점품 미선택시 적립금 2% 적립 </span>
				</ons-list-item>

				<ons-list-title data-i18n="ORDD:BILL_WAY">결제방식 선택</ons-list-title>
				
				<ons-list-item class="listItem payWayDiv payCash" tappable>
					<div class="left"><ons-radio name="payway" input-id="radio-cash" value="CASH" required checked></ons-radio></div>
					<label for="radio-cash" class="center" data-i18n="ORD:CASH">현금</label>
				</ons-list-item>
				
				<ons-list-item class="listItem payWayDiv payCard" tappable>
					<div class="left"><ons-radio name="payway" input-id="radio-card"  value="CARD" required></ons-radio></div>
					<label for="radio-card" class="center" data-i18n="ORD:CARD">CARD</label>
				</ons-list-item>

				<ons-list-item class="listItem payWayDiv payEpay" tappable>
					<div class="left"><ons-radio name="payway" input-id="radio-epay" value="EPAY" required disabled ></ons-radio></div>
					<label for="radio-epay" class="center" >E-PAY</label>
				</ons-list-item>

				<ons-list-title data-i18n="ORDD:TAX">세금계산서</ons-list-title>
				<ons-list-item class="listItem noTaxMessage" style="display: none;">
					<span class='red rmk' data-i18n="BSK:NO_TAX">해당 점포에서는 세금계산서 지원을 하지 않습니다</span>
				</ons-list-item>
				<ons-list-item class="listItem" tappable>
					<div class="left"><ons-checkbox name="chkReqTax" id="chkReqTax" input-id="checkbox-tax"></ons-checkbox></div>
					<label for="checkbox-tax" class="center" data-i18n="ORDD:ORD_TAX">세금계산서 신청</label>
				</ons-list-item>	

				<ons-list-item class="listItem taxItem" tappable>
					<div class="center">
						<ons-input id="corpname" input-id="corp_name" name="corpname" placeholder="회사명" type="text"  min-length="2"></ons-input>
					</div>  
				</ons-list-item>

				<ons-list-item class="listItem taxItem" tappable>
					<div class="center">
						<ons-input id="corpemail" input-id="corp_email" name="corpemail" placeholder="회사이메일" type="email" ></ons-input>
					</div>  
				</ons-list-item>
				<ons-list-item class="listItem taxItem" tappable>
					<div class="center">
						<ons-input id="taxnumber" input-id="tax_number" name="taxnumber" placeholder="세금번호" type="text" min-length="10" max-length="13" ></ons-input>
					</div>    
				</ons-list-item>

				<ons-list-item class="listItem taxItem" tappable>
					<div class="center">
						<ons-input id="taxaddr" input-id="tax_addr" name="taxaddr" placeholder="주소" type="text" min-length="10" max-length="200" ></ons-input>
					</div>    
				</ons-list-item>
			</ons-list>

			<div class="card buttonArea">
				<ons-button class="btnOrderComplete" modifier="large"><span data-i18n="ORDD:COMPLEATE">최종주문하기</span></ons-button>
			</div>
		</form>
	 </div>
     <ons-modal direction="up" id="orderConfirmPopup" class="modal viewModal">
        <div class="card popScroll">
            <div class="popHead">
                <div class="right close btnCloseOrderPopup">
					<i class="btnCloseOrderPopup fa fa-close"></i>
                </div>    
				<h4 class="title" data-i18n="ORD:LIST">주문상품목록</h4>
            </div>
            <div class="popBody">
				<div class="confirming_msg">주문을 수정할 경우 <span class='red'>취소하기 버튼</span>을 클릭 후 상품을 다시 추가해주세요
					<strong class='blue' data-i18n="ORDD:REQ_CNFRM">주문완료 하시겠습니까?</strong>
				</div>
				<div class="orerList">
					
				</div>
				<div class="summary">
					<h4 class="title" data-i18n="ORDD:CONFIRM">최종 주문확인</h4>
					<dl class="summaryAmt summaryLi">
						<dt class="slbl sumLbl" data-i18n="BSK:ALL_SUM">전체합계</dt>
						<dd class="sValue sumValue green"></dd>
					</dl>

					<dl class="summaryTime summaryLi">
						<dt class="tlbl sumLbl" data-i18n="ORD:REG_DT">주문시각</dt>
						<dd class="tValue sumValue"></dd>
					</dl>

					<dl class="summaryAddr summaryLi">
						<dt class="albl sumLbl" data-i18n="ORD:DELV_ADDR">배달주소</dt>
						<dd class="aValue sumValue hana_air"></dd>
					</dl>
					
					<dl class="summaryPay summaryLi">
						<dt class="plbl sumLbl" data-i18n="ORDD:BILL_WAY">결제수단</dt>
						<dd class="pValue sumValue"></dd>
					</dl>


					<dl class="summaryPay summaryLi">
						<dt class="coinlbl sumLbl" data-i18n="ORD:AMT">주문합계</dt>
						<dd class="cashValue sumValue"></dd>
					</dl>


					<dl class="summaryPay summaryLi">
						<dt class="plbl sumLbl" data-i18n="ORD:DLV_AMT">기본배송비</dt>
						<dd class="pBaseFee sumValue"></dd>
					</dl>

					<dl class="summaryPay summaryLi addFeeLi">
						<dt class="plbl sumLbl" data-i18n="ORD:ADD_DELV_AMT">추가배송비</dt>
						<dd class="pAddedFee sumValue"></dd>
					</dl>

					<dl class="summaryPay summaryLi">
						<dt class="coinlbl sumLbl" data-i18n="BSK:USE_COIN">적립금사용</dt>
						<dd class="coinValue sumValue"></dd>
					</dl>

					<dl class="summaryPay summaryLi">
						<dt class="coinlbl sumLbl" data-i18n="BSK:CAL_AMT">지불금액</dt>
						<dd class="billValue sumValue green"></dd>
					</dl>

					<dl class="summaryPay summaryLi">
						<dt class="plbl sumLbl">Memo</dt>
						<dd class="pMemo sumValue"></dd>
					</dl>
					
					<dl class="summaryTax summaryLi">
						<dt class="taxlbl sumLbl" data-i18n="ORDD:TAX">세금계산서 정보</dt>
						<dd>
							<span class="taxValue1 sumValue"></span>
							<span class="taxValue2 sumValue"></span>
							<span class="taxValue3 sumValue"></span>
							<span class="taxValue4 sumValue"></span>
						</dd>
					</dl>
				</div>
				
            </div>
        </div>
        <p class="btnPopBottomArea">
			<ons-button class="btnCancelOrder btnOrd"><span data-i18n="COMM:cancel">취소하기</span></ons-button>
            <ons-button class="btnExcuteOrder btnOrd"><span data-i18n="ORDD:COMPLEATE">주문완료하기</span></ons-button>
        </p>
	</ons-modal>

	<ons-dialog id="phonenumber-dialog" cancelable>
		<div style="text-align: center; padding: 1rem;">
			<p>
				<span class='changeTelNum blue'></span> 로 전화번호를 변경 하시겠습니까?
				<div class='blue'>신중히 확인 후 변경바랍니다</div>
			</p>
			<hr/>
			<ons-button modifier="button" class="button btnPop diagTelCancel">취소</ons-button>
			<ons-button modifier="button" class="button btnPop diagTelOk">확인</ons-button>
		</div>
	</ons-dialog>
	<style>
		form[name="orderForm"] ons-list {
			margin-bottom:30px;
		}

		#orderDetailPage #orderForm ons-list ons-button{
			width: 85px;
		}

		ons-button.goRecent, ons-button#goAddr{
			border-radius: 0;
			padding: 2px;
			font-size: 13px;
			min-height: 40px;
			height: 40px;
			margin-top: -4px;
		}

		#orderDetailPage .msgForConfDiv {
			min-height:20px;
			text-align:center;
			padding-bottom:5px;
		}
		#orderDetailPage .msgForConfig {
			font-size: 12px;
		}

		#orderDetailPage ons-button#btnCheckTelNumber {
			padding: 5px;
			margin-top: -4px;
			border-radius: 0;
		}

		#orderDetailPage span.oNumber {
			width: 15px;
			display: inline-block;
		}

		#orderDetailPage .summaryTax dd{
			text-align: left !important;
			/* margin-right: 1em; */
			overflow: hidden;
		}

		#orderDetailPage .rmk {
			font-size: 12px;
		}
		
	</style>
</ons-page>