<ons-page id="requestPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center algnCenter"><span>요청 및 문의사항</span></div>
        <div class="right">
            <!-- <ons-toolbar-button>
                <ons-icon icon="fa-shopping-cart" size="30px"><span class="notification summaryQty">2</span></ons-icon>
            </ons-toolbar-button> -->
        </div>
    </ons-toolbar>
    
    <section class="card text_field">
        <p><ons-input class="check" id="reqEmail" data-label="이메일주소" data-class="TEXT" data-length="100" max-length="100" modifier="underbar" placeholder="이메일주소" float type="email" required ></ons-input></p>
        <p><textarea class="check" id="reqContent" data-label="요청및문의사항" data-class="TEXT" data-length="1000" max-length="1000" class="textarea" placeholder="요청상품 및 문의사항" rows="10" min-length="1" required ></textarea></p>
    </section>

    <section class="card contact_tel">
        <p>원하시는 상품이 앱에 등록되어 있지 않을 경우 요청하시면 가능한 즉시 등록하도록 하겠습니다.</p>
        <div>
            <h4 class="title">문의전화</h4>
            <ul>
                <li><a href="tel:0773017288">VN : 0773-017-288 </a></li>
            </ul>
        </div>
    </section>
    <ons-bottom-toolbar><ons-button modifier="large" class="btnExRequest" >확인</ons-button></ons-bottom-toolbar>
</ons-page>
