<ons-page id="searchAllPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" data-i18n="SEARCH:ALL_P_SEARCH">전체 상품 검색</div>
        <div class="right"></div>
    </ons-toolbar>
    <ons-fab position="bottom center" id="searchFilter">
        <ons-icon>정렬<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.75 86" style="height: 12px">
            <g id="filter">
                <path d="M20.5,47.16V4.5a4.5,4.5,0,0,0-9,0V47.16a16,16,0,0,0,0,30.68V81.5a4.5,4.5,0,0,0,9,0V77.84a16,16,0,0,0,0-30.68Zm0,20.69A7,7,0,1,1,23,62.5,7,7,0,0,1,20.5,67.85Z"/>
                <path d="M57.25,7.66V4.5a4.5,4.5,0,0,0-9,0V7.66a16,16,0,0,0,0,30.68V81.5a4.5,4.5,0,0,0,9,0V38.34a16,16,0,0,0,0-30.68Zm0,20.69A7,7,0,1,1,59.75,23,7,7,0,0,1,57.25,28.35Z"/>
                <path d="M94.25,42.66V4.5a4.5,4.5,0,0,0-9,0V42.66a16,16,0,0,0,0,30.68V81.5a4.5,4.5,0,0,0,9,0V73.34a16,16,0,0,0,0-30.68Zm0,20.69A7,7,0,1,1,96.75,58,7,7,0,0,1,94.25,63.35Z"/>
            </g>
        </svg></ons-icon>
    </ons-fab>
    <ons-fab position="bottom right" id="prodCart">
        <ons-icon class="myCart" fixed-width="false" size="1x">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="cart" x="0px" y="0px" viewBox="0 0 98 104.2" style="enable-background:new 0 0 98 104.2; stroke: #ff5e00; fill: #fff;" xml:space="preserve">
                <path id="wheel2" class="st0" d="M38.7,77.2c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5s13.5-6,13.5-13.5  C52.2,83.3,46.1,77.3,38.7,77.2z M38.7,95.2c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5s4.5,2,4.5,4.5C43.2,93.2,41.2,95.2,38.7,95.2z"/>
                <path id="wheel1" class="st0" d="M76.3,77.2c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5s13.5-6,13.5-13.5  C89.7,83.3,83.7,77.3,76.3,77.2z M76.3,95.2c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5s4.5,2,4.5,4.5C80.8,93.2,78.7,95.2,76.3,95.2z"/>
                <path id="cartBody" class="st0" d="M96.4,25.9c-1.2-1.4-2.9-2.2-4.7-2.2h-67L20.9,3.7C20.5,1.5,18.7,0,16.5,0h-12C2,0,0,2,0,4.5  S2,9,4.5,9h8.3l5.7,30.2l5,29.1c0.5,3.1,3.1,5.4,6.2,5.5h55.7c3.1-0.1,5.8-2.4,6.2-5.4l6.4-37.1C98.2,29.3,97.6,27.4,96.4,25.9z   M83,64.8H32L27.7,40c0-0.1,0-0.2,0-0.2c0,0,0-0.1,0-0.2l-0.4-2.2l-0.8-4.7h62L83,64.8z"/>
            </svg>
            <span class="notification summaryQty innerBasket">0</span>
        </ons-icon>
    </ons-fab>
    <div class="card searchAreaAll">
        <ons-search-input class="searchItem" id="searchItem" placeholder="찾으시는 상품을 검색하세요" ></ons-search-input>
        <ons-button modifier="outline" class="search btnSearch">
            <svg version="1.1" id="search_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 105.1 104.7" style="enable-background:new 0 0 105.1 104.7;" xml:space="preserve">
            <path id="search" class="st0" d="M103.7,96.8L74.2,67.8c-1.7-1.8-4.6-1.8-6.3,0c0,0,0,0,0,0c-0.9,1-1.8,1.9-2.8,2.7
                c-6.5,5.2-14.7,7.9-23,7.5C24.5,77.1,10.4,63.3,9.1,45.9c-1.3-19,13-35.5,32.1-36.8s35.5,13,36.8,32.1c0.2,3.4,0,6.9-0.8,10.3
                c-0.4,1.6,0.1,3.2,1.3,4.3c1.2,1.1,2.8,1.5,4.3,1c1.6-0.5,2.8-1.7,3.1-3.3c5.5-23.4-9-46.8-32.3-52.3s-46.8,9-52.3,32.3
                s9,46.8,32.3,52.3c13,3.1,26.7,0,37.1-8.3l0.3-0.3l26.5,26.2c0.8,0.8,2,1.3,3.2,1.3h0.2c1.2,0,2.4-0.6,3.2-1.5
                C105.6,101.2,105.4,98.5,103.7,96.8z"/>
            </svg>
        </ons-button>
    </div>

    <div class="card listcard searchList">
        <ons-list id="list-node" on-infinite-scroll="fn.loadMore" class="imageList" data-corp_cd="corp_withu"></ons-list>
        <div class="after-list" style="display:none;"><img src="img\button\ajax-loader.gif" /></div>
    </div>

    <ons-modal direction="up" id="detailViewPopup" class="modal viewModal">
        <div class="card popHeightScroll">
            <div class="popHead">
                <h4 class="title">
                    <span class="brandNm"></span>
                    <span class="productNm"></span>
                </h4>
            </div>
            <div class="popBody" class="listItem">
                <div class="swiper-container">
                    <div class="swiper-wrapper bottomBanner"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="card" >
                    <div class="list-item__subtitle view_summary">
                        <div class="left">
                            <span class="star">4<i class="fa fa-star"></i></span>
                            <span class="heart"><i class="fa fa-heart-o"></i></span>
                        </div>
                        <div class="left">
                            <span class='ptit'>가격 : </span><span class='currancy'></span>
                        </div>
                        <div class="left">
                            <span class='ptit'>주문시간 : </span> <span class="dlvTimeSt"></span> ~ <span class="dlvTimeEnd"></span>
                        </div>
                        <div class="left" >
                            <span class='ptit'>상품설명 : </span>
                            <span class='content'>상품설명 준비중입니다.</span>
                        </div>
                    </div>
                    <div class="qtyCtrlArea">
                        <ons-button class="btnRadius btnMinusQty"></ons-button>
                        <ons-input input-id="qty" class="qty" type="number" value="0" readonly ></ons-input>
                        <ons-button class="btnRadius btnPlusQty"></ons-button>
                    </div>
                </div>
            </div>
            <div class="star_assess card">
                <ons-button class="btnSetpointer right">별점평가</ons-button>
                <div class="comment_form _comment_wrap">
                    <div class="star_select_area">
                        <p class="star_description">별점을 선택해주세요</p>
                        <div class="star_list _star_wrap starRev">
                            <ons-icon class="starR on"><i class="fa fa-star"></i></ons-icon>
                            <ons-icon class="starR"><i class="fa fa-star"></i></ons-icon>
                            <ons-icon class="starR"><i class="fa fa-star"></i></ons-icon>
                            <ons-icon class="starR"><i class="fa fa-star"></i></ons-icon>
                            <ons-icon class="starR"><i class="fa fa-star"></i></ons-icon>
                        </div>
                        <div class="input_commnet _input_wrap">
                            <div class="text_area">
                                <textarea class="textarea_box" id="PRODUCT_COMMENT" placeholder="한줄평을 등록해주세요."></textarea>
                                <ons-button class="btnAddComment">등록</ons-button>
                            </div>
                            <div class="count_box"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card listcard">
                <ons-list id="list-comment" class="dataList" ></ons-list>

                <div class="after-list">
                    <ons-icon icon="fa-spinner" size="26px" spin></ons-icon>
                </div>
            </div>
            <ons-button class="btnClosePopup">닫기</ons-button>
        </div>

    </ons-modal>
    <ons-dialog id="comment-dialog" cancelable>
        <div>
            <p>
                <span class="dialogMessage">본인이 작성한 댓글과 별점을 삭제하시겠습니까?</span>
            </p>
            <p>
                <ons-button class="btnDialogCancelComment" icon="fa-close">&nbsp;<span data-i18n="COMM:close"></span></ons-button>
                <ons-button class="btnDialogRemoveComment" icon="fa-send-o">&nbsp;<span data-i18n="COMM:ok"></span></ons-button>
            </p>
        </div>
    </ons-dialog>
    <style>

        .slideMenu img {
            height:40px;
        }

        #searchAllPage .searchAreaAll{
            position: fixed;
            left: 0;
            right: 0;
            z-index: 1;
        }

        #searchAllPage .searchList{
            top: 50px;
            position: relative;

        }

        #searchAllPage .showTitleProduct .searchIcon{

            right: 60px;
            position: absolute;
        }

        #searchAllPage .card ons-search-input {
            display: block;
        }

        #searchAllPage ons-search-input {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            display: inline-block;
            margin: 5px;
        }

        #searchAllPage ons-button.btnSearch {
            background: none;
            border: none;
            position: absolute;
            right: 10px;
            top: 5px;
        }

        #searchAllPage .showSearchProduct ons-search-input .search-input{
            min-height: 35px;
            width: 90%;
            border-radius: 20px;
        
        }

        #list-node ons-list-item.list-item .orderTime.green {
            margin-top: 1px;
            font-family: initial;
        }

        #searchAllPage .new{
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 998;
            font-size: 9px;
            border-radius : 10px;
        }

        .anuance {
            text-align: center;
            background-color: rgba(255, 255, 255, 1);
            font-family: dohyun;
        }

        .anuance h3 {
            font-size: 22px;
            font-family: dohyun;
        }
        .anuance img{
            width:50%;
        }

        .anuance span {
            display: block;
        }

        .timeArea {
            font-size:18px;
        }

        span.holydays {
            display: inline;
            color: red;
        }

        #detailViewPopup .swiper-pagination{
            width: 25px;
            right: 0;
            left: auto;
        }

        
    </style>

</ons-page>