<ons-page id="grpOrderDetailPage">

    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center" data-i18n="ORDD:DO_ORDER">주문하기</div>
    </ons-toolbar>
	<div class="card">
		<form id="orderForm" name="orderForm">
			
			<ons-list>
				<ons-list-title  data-i18n="ORDD:ORD_INFO">배송정보(수정가능)</ons-list-title>
				<ons-list-item class="listItem" >
					<div class="center">
						<ons-input id="dlvaddr" input-id="dlv_addr" placeholder="배송주소" float  readonly="readonly" required></ons-input>
					</div>    
					<div class="right">
						<ons-button id="goAddr">
							<span class='txtAddr' data-i18n="COMM:searchAddr">검색</span>
						</ons-button>
					</div>    
				</ons-list-item>

				<ons-list-item class="listItem" >
					<div class="center">
						<ons-input id="dlvaddrDetail" input-id="dlv_addr_detail" placeholder="배송상세주소" required ></ons-input>
					</div>    
				</ons-list-item>
				<ons-list-item class="listItem" tappable>
					<div class="center">
						<ons-input id="phonenumber" input-id="phone_number" name="phoneNumber"  type="tel" required  readonly="readonly" ></ons-input>
					</div>    
				</ons-list-item>

				<ons-list-title data-i18n="ORDD:ORD_INPUT">입력사항</ons-list-title>

				<ons-list-item class="listItem reserv" tappable >
					<input id="AddrTime3" type="text" name='AddrTime3' float required placeholder="원하시는 배송일자를 입력해주세요" readonly />
					<span class='giftMessage green' data-i18n="GB:TIME_RMK">시간대별로 정해진 배송건수가 설정되어 있으므로 비활성된 시간대에는 예약배송신청이 완료된 시간대입니다.</span>
				</ons-list-item>

				<ons-list-item class="listItem" tappable>
					<div class="center">
						<ons-input id="reqtext" input-id="req_text" name="reqtext" type="text" placeholder="필요시 요청사항을 남겨주세요"></ons-input>
					</div>    
				</ons-list-item>
				<ons-list-item class="listItem" tappable> 
					<ons-select id="giftItem" >
						<option value="">증정품 선택</option>
					</ons-select>
					<!-- <span class='giftMessage green'>증점품 미선택시 적립금 2% 적립 </span> -->
				</ons-list-item>

				<ons-list-title data-i18n="ORDD:BILL_WAY">결제방식 선택</ons-list-title>
				
				<ons-list-item class="listItem payWayDiv" tappable>
					<div class="left"><ons-radio name="payway" input-id="radio-cash" value="CASH" required checked></ons-radio></div>
					<label for="radio-cash" class="center" data-i18n="ORD:CASH">현금</label>
				</ons-list-item>
				
				<ons-list-item class="listItem payWayDiv" tappable>
					<div class="left"><ons-radio name="payway" input-id="radio-card"  value="CARD" required></ons-radio></div>
					<label for="radio-card" class="center" data-i18n="ORD:CARD">CARD</label>
				</ons-list-item>

				<ons-list-item class="listItem payWayDiv" tappable>
					<div class="left"><ons-checkbox name="payway" id="epay" input-id="radio-epay" value="EPAY"  disabled></ons-checkbox></div>
					<label for="radio-epay" class="center">E-Pay</label>
				</ons-list-item>

				<ons-list-title data-i18n="ORDD:TAX">세금계산서</ons-list-title>

				<ons-list-item class="listItem" tappable>
					<div class="left"><ons-checkbox name="chkReqTax" id="chkReqTax" input-id="checkbox-tax"></ons-checkbox></div>
					<label for="checkbox-tax" class="center" data-i18n="ORDD:ORD_TAX">세금계산서 신청</label>
				</ons-list-item>	

				<ons-list-item class="listItem taxItem" tappable>
					<div class="center">
						<ons-input id="corpname" input-id="corp_name" name="corpname" placeholder="회사명" type="text"  min-length="2"></ons-input>
					</div>  
				</ons-list-item>

				<ons-list-item class="listItem taxItem" tappable>
					<div class="center">
						<ons-input id="corpemail" input-id="corp_email" name="corpemail" placeholder="회사이메일" type="email" ></ons-input>
					</div>  
				</ons-list-item>
				<ons-list-item class="listItem taxItem" tappable>
					<div class="center">
						<ons-input id="taxnumber" input-id="tax_number" name="taxnumber" placeholder="세금번호" type="text" min-length="10" max-length="13" ></ons-input>
					</div>    
				</ons-list-item>

				<ons-list-item class="listItem taxItem" tappable>
					<div class="center">
						<ons-input id="taxaddr" input-id="tax_addr" name="taxaddr" placeholder="주소" type="text" min-length="10" max-length="200" ></ons-input>
					</div>    
				</ons-list-item>
			</ons-list>

			<div class="card buttonArea">
				<ons-button class="btnGrpOrderComplete" modifier="large"><span data-i18n="ORDD:COMPLEATE">최종주문하기</span></ons-button>
			</div>
		</form>
	 </div>
     <ons-modal direction="up" id="orderConfirmPopup" class="modal viewModal">
        <div class="card popScroll">
            <div class="popHead">
                <div class="right close btnCloseOrderPopup">
                    <i class="btnCloseOrderPopup fa fa-close"></i>
                </div>    
				<h4 class="title" data-i18n="ORD:LIST">주문상품</h4>
            </div>
            <div class="popBody">
				<div class="confirming_msg">주문을 수정할 경우 <span class='red'>취소하기 버튼</span>을 클릭 후 상품을 다시 추가해주세요
					<strong class='blue' data-i18n="ORDD:REQ_CNFRM">주문완료 하시겠습니까?</strong>
				</div>
				<div class="orerList">
					
				</div>
				<div class="summary">
					<h4 class="title" data-i18n="ORDD:CONFIRM">최종 주문확인</h4>
					<dl class="summaryAmt summaryLi">
						<dt class="slbl sumLbl" data-i18n="BSK:ALL_SUM">전체합계</dt>
						<dd class="sValue sumValue green"></dd>
					</dl>

					<dl class="summaryTime summaryLi">
						<dt class="tlbl sumLbl" data-i18n="GB:ARR_TIME">배달시간</dt>
						<dd class="tValue sumValue red"></dd>
					</dl>

					<dl class="summaryAddr summaryLi">
						<dt class="albl sumLbl" data-i18n="ORD:DELV_ADDR">배달주소</dt>
						<dd class="aValue sumValue hana_air"></dd>
					</dl>
					
					<dl class="summaryPay summaryLi">
						<dt class="coinlbl sumLbl" data-i18n="ORD:CASH">현금</dt>
						<dd class="cashValue sumValue"></dd>
					</dl>

					<dl class="summaryPay summaryLi">
						<dt class="coinlbl sumLbl">E-Pay</dt>
						<dd class="coinValue sumValue"></dd>
					</dl>

					<dl class="summaryPay summaryLi">
						<dt class="plbl sumLbl" data-i18n="ORDD:BILL_WAY">결제수단</dt>
						<dd class="pValue sumValue"></dd>
					</dl>

					<dl class="summaryPay summaryLi">
						<dt class="plbl sumLbl">Memo</dt>
						<dd class="pMemo sumValue"></dd>
					</dl>
					

					<dl class="summaryTax summaryLi">
						<dt class="taxlbl sumLbl" data-i18n="ORDD:TAX">세금계산서 정보</dt>
						<dd>
							<span class="taxValue1 sumValue"></span>
							<span class="taxValue2 sumValue"></span>
							<span class="taxValue3 sumValue"></span>
							<span class="taxValue4 sumValue"></span>
						</dd>
					</dl>
				</div>
				
            </div>
        </div>
        <p class="btnPopBottomArea">
			<!-- <ons-button class="btnCloseOrderPopup">닫기</ons-button> -->
			<ons-button class="btnCancelOrder btnOrd"><span data-i18n="COMM:cancel">취소하기</span></ons-button>
            <ons-button class="btnExcuteOrder btnOrd"><span data-i18n="ORDD:COMPLEATE">주문완료하기</span></ons-button>
        </p>
	</ons-modal>
	<style>

		.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month,
        .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled,
        .xdsoft_datetimepicker .xdsoft_time_box >div >div.xdsoft_disabled {
            color:#666;
        }   

        .xdsoft_datetimepicker .xdsoft_calendar td{
            color:#ff5e00;
        }

		/* .xdsoft_datetimepicker{
			width:auto;
			right: calc(1em + 5px);

		}

		.xdsoft_datetimepicker .xdsoft_datepicker {
			width: 75%;
    		right: 5px;	
		}

		.xdsoft_datetimepicker .xdsoft_timepicker {
			width: 20%;
		} */

		.warning {
			border: 2px solid red;
		}
	</style>

</ons-page>