<ons-page id="grpProductViewPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center algnCenter"><span class="categoryTitle" data-i18n="TABMENU:GB">공동구매</span></div>
        <div class="right"></div>
    </ons-toolbar>
    
    <ons-fab position="bottom right" class="kakao_share">
        <ons-icon>
            <a href="#" >
                <img src='img/svg/kakao-talk.svg'/>
                <span data-i18n="SYS:KAKAO_SHARE">카카오 공유</span>
            </a>
        </ons-icon>
    </ons-fab>

    <div>
        <div class='pageLoading'>
            <img src="img\button\ajax-loader.gif" />
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper"></div>
            
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    
        <div class="card detail" >
            <span class="list-item__title mTitle"></span>
            <span class="list-item__subtitle sTitle"></span>
            <hr/>
            <ons-list class="grpViewList">
                <ons-list-item >
                    <div class="center" style="width:60%;">
                        <span class="list-item__title productName"></span>
                    </div>
                    <div class='buttonArea right'>
                        <div class='list-item__subtitle qtyCtrlArea'>
                            <ons-button class='btnRadius btnMinusQty' data-minqty=1></ons-button>
                            <ons-input input-id='qty' class='qty' type='number' value='0' readonly ></ons-input>
                            <ons-button class='btnRadius btnPlusQty' data-minqty=1></ons-button>
                        </div>
                        <!-- <div class='isServiceProduct'>최소주문금액<br/>미포함</div> -->
                    </div>
                </ons-list-item>
                <ons-list-item class="gProductInfo">
                    <div class="left">
                        <span class='dday' data-i18n="GB:REMAIN_DT">남은신청시간</span>
                    </div>
                    <div class="center">
                        <table class="tblreminTime">
                            <tr>
                                <th>Days</th>
                                <th>Hours</th>
                                <th>Minutes</th>
                                <th>Seconds</th>
                            </tr>
                            <tr>
                                <td><span class="rDt ctDay"></span></td>
                                <td><span class="rDt ctTime"></span></td>
                                <td><span class="rDt ctMin"></span></td>
                                <td><span class="rDt ctSec"></span></td>
                            </tr>    
                        </table>
                        
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="left">
                        <span data-i18n="GB:ABLE_DT">신청가능기간</span>
                    </div>
                    <div class="center endDate">
                        <span></span>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="left">
                        <span data-i18n="GB:DELV_DT">배송가능기간</span>
                    </div>
                    <div class="center delvDate">
                        <span></span>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="left">
                        <span data-i18n="GB:GOAL_AMT">목표금액</span>
                    </div>
                    <div class="center">
                        <span class="sum"></span>
                    </div>
                </ons-list-item>
                
                <ons-list-item>
                    <div class="left">
                        <span data-i18n="GB:GOAL_RATE">달성률</span>
                    </div>
                    <div class="center">
                        <span class="percent">%</span>
                    </div>
                    <div class="right">
                        <span class="number"></span>
                    </div>
                </ons-list-item>
                <ons-list-item class='barArea'>
                    
                </ons-list-item>
                <!-- <ons-list-item>
                    <div>상품정보 상세보기 </div>
                    <div class="expandable-content">
                        <ons-list class="detailInfoList"> -->
                            <ons-list-item>
                                <div class="left"><span data-i18n="GB:ORGIN">원산지</span></div>
                                <div class="center origin"></div>
                            </ons-list-item>

                            <ons-list-item>
                                <div class="left"><span data-i18n="GB:CUSTOM">공급처</span></div>
                                <div class="center cust"></div>
                            </ons-list-item>

                            <ons-list-item>
                                <div class="left"><span data-i18n="GB:COLORS">색상</span></div>
                                <div class="center color"></div>
                            </ons-list-item>

                            <ons-list-item>
                                <div class="left"><span data-i18n="GB:SIZES">사이즈</span></div>
                                <div class="center size"></div>
                            </ons-list-item>

                            <ons-list-item>
                                <div class="left"><span data-i18n="GB:FOOD_RMK">음식비고</span></div>
                                <div class="center food"></div>
                            </ons-list-item>
                            
                            <ons-list-header data-i18n="GB:PROD_RMK">상품설명</ons-list-header>
                            <ons-list-item id="gContent" class="content subText">
                                
                            </ons-list-item>                               
                        <!-- </ons-list>
                    </div>
                </ons-list-item> -->
                
                <ons-list-item expandable class="noticeFundItem">
                    <div class="notice fund">
                        <span data-i18n="GB:RMK_SM">'신청하기' 즉시 결제가 진행되지 않습니다.</span>&nbsp;
                        <span class='red' data-i18n="GB:DETAIL_VW">자세히 보기</span></div>
                    <div class="expandable-content notice">
                        <h6 data-i18n="GB:RMK_SM"> '신청하기' 즉시 결제가 진행되지 않습니다.</h6>
                        <div>
                            <div class='subText' data-i18n="GB:RMK_MD">
                                상품의 목표금액과 마감일이 있어 해당 상품의 목표금액을 달성했을때만 마감일 다음날 입력하신 일자에 따라 순차적으로 배송이 됩니다.
                            </div>

                            <!-- <h6>2. 배송이 바로 진행되지 않습니다.</h6>
                            <div class='subText'>
                                위의 즉시 결재와 마찬가지로 마감 후 펀딩의 달성여부에 따라 입력하신 날짜와 주소로 순차적으로 배송됩니다.
                            </div> -->

                            <!-- <h6>3. 메이커의 사정으로 리워드 발송이 지연 또는 불가할 수도 있습니다.</h6>
                            <div class='subText'>
                                펀딩금액을 전달받아 리워드 제작을 시작하는 펀딩의 특성상 약속한 리워드 발송이 지연 또는 불가할 수 있습니다. 
                                다만, 펀딩상품선정에 대해서 사전에 위드유에서 확실한 확인과 검증작업 후 진행드림을 알려드립니다.
                            </div> -->
                        </div>
                    </div>
                </ons-list-item>
            </ons-list>
        </div>
        <div class="card buttonBottom">
            <ons-button modifier="large" class="btnGrpOrder" disabled>
                <span data-i18n="ORDD:DO_ORDER">신청하기</span>
            </ons-button>
        </div>
    </div>
    
    <style>

        #grpProductViewPage .summarycard {
            padding-bottom: 29px;
        }

        #grpProductViewPage div.buttonBottom {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            padding:0;
        }
        #grpProductViewPage ons-button.btnGrpOrder{ 
            border-radius: 0;
            position: fixed;
            bottom: 0;
            
        }

        #grpProductViewPage .swiper-container {
            width: 100%;
            height: 100%;
        }

        #grpProductViewPage .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        #grpProductViewPage ons-list-item.list-item{
            height:auto;
            margin-bottom: 0px;
        }

        ons-list-item.list-item.sale_off > .productImg:after {
            content: '판매기간 종료';
            text-align: center;
            line-height: 30px;
        }

        #grpProductViewPage .card{
            padding: 0.5em;
        }

        #grpProductViewPage .mTitle {
            line-height: 25px;   
        }

        #grpProductViewPage .sTitle {
            text-align: left;
            text-indent: 2px;
            line-height: 20px;
            margin-top: 0.5em;
            font-size:13px;
        }

        #grpProductViewPage ons-list-item > div {
            min-height:22px;
            margin-bottom: 5px;
            font-size:12px;
            padding: 0 0 0 0.3em;
        }

        #grpProductViewPage .tblreminTime{
            width:100%;
        }

        #grpProductViewPage .list-header{
            background-color: orange;
            color: white;
            font-size: 16px;
            /* font-weight: bold; */
            padding: 0px 10px;
            font-size: 17px;
            font-weight: normal;
        }

        #grpProductViewPage .tblreminTime th{
            color:green;
            text-align: center;
            font-size: 13px;
            font-weight: 100;
        }
        #grpProductViewPage .tblreminTime span{
            width:100%;
            display: inline-block;
            text-align: center;
            /* background-color: beige; */
            padding: 5px 0;
            color:#FF5E00;
            font-size: 19px;
        }


        #grpProductViewPage .card.detail{
            padding: 0.5em;
        }

        #grpProductViewPage ons-list-item .content{
            font-size:13px;
            padding:0.5em;
        }

        #grpProductViewPage ons-list-item.gProductInfo{
            margin-top:1em;
        }

        #grpProductViewPage ons-list-item .content > div{
            padding-left:5px;
            padding-top:1em;
            font-size:13px;
            line-height: 22px;
            
        }


        #grpProductViewPage span.list-item__subtitle {
            position: relative;
            width: 100%;
            display: inline-block;
        }

        #grpProductViewPage .detailInfoList{
            margin-left: 1em;
            /* border: 2px solid #FF5E00; */
            /* background-color: beige; */
        }

        #grpProductViewPage .detailInfoList .left{
            color: darkgray;
            width: 75px;
            text-align: right;
            display: inline-block;
            line-height: 22px;
        }

        #grpProductViewPage ons-button.btnOrder {
            border-radius: 0;
            position: fixed;
            bottom: 0;
            margin-left: -1rem;
        }


        #grpProductViewPage .progress-bar__secondary {
            background-color: antiquewhite;
            z-index: 0;
        }

        #grpProductViewPage .progress-bar__primary{
            background-color:#FF5E00;
        }

        #grpProductViewPage .isServiceProduct {
            font-size: 10px;
            margin-top: 10px;
            color: green;
        }
        #grpProductViewPage .productName{
            line-height: 25px;
            color:#FF5E00;
            font-size:16px;
        }

        #grpProductViewPage span.pPrice {
            display: block;
            /* position: absolute; */
            color: black;
            top: 22px;
        }

        #grpProductViewPage .grpViewList{
            margin-bottom: 50px;
        }

        #grpProductViewPage .grpViewList > ons-list-item > .left{
            width:80px;
        }

        #grpProductViewPage .list-item__right{
            justify-content: center;
        }
        

        #grpProductViewPage .grpViewList > ons-list-item > .left span{

            text-align: right;
            width:100%;
            color: darkgray;
        }

        #grpProductViewPage .sum{
            font-size:14px;
        }

        #grpProductViewPage .percent{
            color:#FF5E00;
        }

        #grpProductViewPage .now {
            color: blue;
            font-size: 13px;
        }

        #grpProductViewPage .notice.fund {
            font-size: 12px;
            color: green;
            
        }

        #grpProductViewPage .swiper-button-next, #grpProductViewPage .swiper-button-prev {
            display:inline-block;
        }

        .noticeFundItem.list-item.expanded > .list-item__expandable-content {
            display: block;
            height: auto;
            margin: 0 1.5em;
        }

        .expandable-content.notice {
            padding-left: 20px;
            font-size: 14px;
            line-height: 20px;
        }

        #grpProductViewPage h6 {
            margin: 1em;;
        }

        #grpProductViewPage .subText {
            padding-left: 15px;
            font-size: 13px;
        }

        #gContent p {
            line-height: 23px;
            overflow: auto;
        }

        #grpProductViewPage ons-fab a span {
            height: 12px;
        }

    </style>
</ons-page>
