<ons-page id="grpProductlistPage">
    <h4 class="title">
        
        <span data-i18n="TABMENU:GB" class="titleTab">공동구매</span>
    </h4>
    <div class="card">
        <div>
            <ons-list class="grpList" on-infinite-scroll="fn.loadMore" ></ons-list>
            <div class="after-list">
                <img src="img\button\ajax-loader.gif" />
            </div>
        </div>
    </div>
    <style>
        #grpProductlistPage ons-list-item.list-item {
            height: auto;
            padding: .3rem 0;
            border-bottom: 1px solid #f5f5f5;
            margin-bottom: 0;
        }

        #grpProductlistPage ons-list-item.list-item > .productImg.ytb:after{
            background-image: url('img/logo/youtube_icon25x25.png');
            background-repeat: no-repeat;
            background-position: 95% 80%;
            content: " ";
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #grpProductlistPage ons-list-item.list-item.sale_off > .productImg.ytb:after{
            background-image: url('img/logo/youtube_icon25x25.png');
            background-repeat: no-repeat;
            background-position: 95% 80%;
            content: "CLOSED";
        }


        #grpProductlistPage .list-item__left {
            position: relative;
            min-width: 120px;
            min-height: 120px;
            padding: 0;
            border: 1px solid #f2ebe4;
        }

        #grpProductViewPage .center.list-item__center.list-item--material__center {
            width: 60%;
        }

        #grpProductlistPage .list-item__thumbnail {
            width: 130px;
            height: auto;
            border-radius: 6px;
            display: block;
            margin: 0;
        }

        

        #grpProductlistPage > .page__content {
            padding: 0;
            
        }

        
        #grpProductlistPage > .page__content h4.title{
            margin: 0.5rem 1rem;
        }

        #grpProductlistPage .grpList {
            margin: 0 1rem;
        }


        #grpProductlistPage .progressbar{
            position:relative;
            width:100%;
            margin: 0.5em 0;
        }

        #grpProductlistPage .list-item__title{
            font-size:14px;
            display: block;
            margin-bottom: 4px;
        }

        
        #grpProductlistPage .list-item__subtitle{
            font-size:12px;
            margin-top: 0;
        }

        #grpProductlistPage .innerSubTitle {
            position: relative;
            width: 100%;
        }

        span.subSummary {
            display: inline-block;
            width:auto;
            text-align:left;
            font-size:12px;
        }

        span.subSummary:first-child {
            color:#FF5E00;
            font-weight: bold;
            font-size:13px;
        }

        span.subSummary:last-child {
            width: auto;
            text-align: right;
            color:green;
            float:right;
        }
        .progress-bar--material__secondary {
            background-color: antiquewhite;
            z-index: 0;
        }

        #grpProductlistPage .progress-bar__primary{
            background-color:#FF5E00;
        }
        #grpProductlistPage .new{
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 998;
            font-size: 9px;
            border-radius : 10px;
        }

        .grpProductlistPage {
            width: 100%;
            text-align: center;
            height: 50px;
            line-height: 65px;
        }

        #grpProductlistPage .orderTip{
            position: absolute;
            bottom: 0px;
            background: green;
            /* top: 105px; */
            width: 100%;
            border-radius: initial;
            padding: 0.1em 0;
            line-height: 15px;
            color: white;
            font-size: 12px;
            z-index: 999;
            text-align: center;
        }

        #grpProductlistPage ons-list-item.list-item.gready_on > .productImg:after {
            display: flex;
            content: '상품\A준비중';
            line-height: 25px;
            white-space: pre-wrap;
            text-align: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            color: #fff;
            align-items: center;
            justify-content: center;
        }
    </style>
</ons-page>