<ons-page id="basketPage" class="basketPage">
    <div class="card listcard noTop">
        <ons-list id="list-node" class="imageList">
            <ons-list-title>
                <span data-i18n="TABMENU:BASKET" class="titleTab">장바구니</span>
                <div class="totTop">
                    <span data-i18n="BSK:ALL_SUM">전체합계</span>
                    <span class='topTopAmt green'>0</span>
                </div>
                <input type="hidden" name="CONFIG_START" />
                <input type="hidden" name='NEXT_DT' />
            </ons-list-title>
            <div class="after-list">
                <img src="img\button\ajax-loader.gif" />
            </div>
        </ons-list>
        
    </div>
    <div class="card">
        <ons-button modifier="large" class="btnOrder" disabled>
            <span data-i18n="BSK:STT_ORD">주문 시작하기</span>
            <span class='minOrderMsg'>&nbsp;(<span class='min_amt'>20</span> <span data-i18n="BSK:MORE_HIGH"> 만동 이상 구매 </span> )</span>
        </ons-button>
    </div>
    <div class="card summarycard">
        <ons-list>
            <ons-list-title>
                <span data-i18n="BSK:SUM">합계</span>
                <ons-button class='btnRemoveAll right' modifier='button'><span data-i18n="BSK:ALL_DEL">전체 삭제</span></ons-button>
            </ons-list-title>
            <ons-list-item class="listItem">
                <div class="left">
                    <ons-label><i class='fa fa-angle-right'></i><span data-i18n="BSK:COM_SUM">일반상품 합계</span></ons-label>
                </div>
                <div class="right">
                    <ons-label class="sumAll">0</ons-label>
                </div>
            </ons-list-item>
            <ons-list-item class="listItem">
                <div class="left">
                    <ons-label><i class='fa fa-angle-right'></i><span data-i18n="BSK:SVC_SUM">서비스상품 합계</span></ons-label>
                </div>
                <div class="right">
                    <ons-label class="sumEtc">0</ons-label>
                </div>
            </ons-list-item>
            <ons-list-item class="listItem">
                <div class="left">
                    <ons-label>
                        <i class='fa fa-angle-right'></i><span data-i18n="BSK:BS_DELV_AMT">기본 배송비</span>
                    </ons-label>
                </div>
                <div class="right">
                    <ons-label class="baseDelvAmt">0</ons-label>
                </div>
            </ons-list-item>
            <ons-list-item class="listItem">
                <div class="left">
                    <ons-label><i class='fa fa-angle-right'></i><span data-i18n="BSK:MY_COIN">보유중인 적립금</span></ons-label>
                </div>
                <div class="right">
                    <ons-label class="myCoin">0</ons-label>
                </div>
            </ons-list-item>
            <ons-list-item class="listItem">
                <div class="left">
                    <ons-label><i class='fa fa-angle-right'></i><span class='blue useCoin' data-i18n="BSK:USE_COIN">적립금 사용하기</span></i> <i class='fa fa-pencil-square-o'></i></ons-label>
                </div>
                <div class="right">
                    <div class='coinCtrlArea'>
                        <!-- <ons-button class='btnRadius1 btnMinusCoin'></ons-button> -->
                        <ons-input input-id='coin' class='coin' id="useCoin" type='number' placeholder="수량 입력"></ons-input>
                        <!-- <ons-button class='btnRadius1 btnPlusCoin'></ons-button> -->
                    </div>
                </div>
            </ons-list-item>
            <ons-list-item class="listItem">
                <div class="left">
                    <ons-label><i class='fa fa-angle-right'></i><span data-i18n="BSK:CAL_AMT">계산금액</span></ons-label>
                </div>
                <div class="right">
                    <ons-label class="total">0</ons-label>
                </div>
            </ons-list-item>
        </ons-list>
        <div class="msgWarning" style="display:none;">
            <i class="fa fa-angle-right"></i>
            <span class="rmk red" data-i18n="BSK:NO_USE_POINT">해당 점포는 적립금을 취급하지 않습니다 </span> 
        </div>

        <div>
            <i class="fa fa-angle-right"></i>
            <span class="freetip" data-i18n="BSK:FREE">무료배달 : </span><i class="fa fa-arrow-circle-o-up"></i> <span class="freetip green"> </span> 
                        
        </div>
        <div>
            <i class="fa fa-angle-right"></i>
            <span class="rmk" data-i18n="BSK:REMARK"></span>
            <div style="display:none;">
                <span class="addedFee" > </span>
                <span class="addedDist" ></span>
            </div>
            
        </div>
        <div>
            <i class="fa fa-angle-right"></i>
            <span class="rmk" data-i18n="BSK:WPAY_RATE">적립금 이용 가능 비율 : </span> <span class="wpayRate green"> </span> 
        </div>
    </div>

    <ons-dialog id="comment-dialog" cancelable>
        <div>
            <p>
                <span class="dialogMessage">본인이 작성한 댓글과 별점을 삭제하시겠습니까?</span>
            </p>
            <p>
                <ons-button class="btnDialogCancelComment"></ons-button><i class="fa fa-close"></i>&nbsp;<span data-i18n="COMM:close"></span></ons-button>
                <ons-button class="btnDialogRemoveComment"><i class="fa fa-trash-o"></i>&nbsp;<span data-i18n="COMM:ok"></span></ons-button>
            </p>
        </div>
    </ons-dialog>

    <style>

        #basketPage .titleTab{
            font-size: 16px;
            font-weight: bold;
        }

        #basketPage ons-button.btnClosePopup{
            position: absolute;
        }

        #basketPage .totTop {
            text-align: right;
            float: right;
        }

        #basketPage .new{
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 998;
            font-size: 9px;
            border-radius : 10px;
        }

        #basketPage .btnRmBasket{
            top: 46px;
            padding: 0;
            margin: 0;
            height: 20px;
            right: 5px;
        }

        #basketPage .fa.fa-heart-o, #basketPage .fa.fa-heart{
            font-size: 18px;
        }

        #basketPage .btnRmBasket i{
            font-size: 20px;
        }

        #basketPage .summarycard ons-label i {
            padding-right: 5px;
        }
        
        #basketPage .btnRemoveAll{
            background: none;
            color: red;
            margin: -0.2em 0 0 0;
            position: absolute;
            right: 1em;
            padding-top: 0;
            font-size: 13px;
        }

        #basketPage ons-input#useCoin {
            width: 50%;
            height: 20px;
            text-align: right;
        }

        #basketPage input#coin {
            color: red;
            font-weight: bold;
            min-height: 20px;
            border: 1px solid gray;
            height: 20px;
            padding-right: 5px;
        }

        #basketPage .rmk{
            font-size: 12px;
            color: green;
        }

        #basketPage .freetip, #basketPage .wpayRate{
            font-size: 12px;
        }

        #basketRemoveAll-dialog .dialog-container{
            padding: 1rem;
            position: relative;
        }

        #basketRemoveAll-dialog ons-button.btnDialogRemoveAllBasketOk  {
            position: absolute;
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 0;
        }

    </style>
</ons-page>
