<ons-page id="categoryPage">
    
    <div class="card" style="padding-bottom: 50px;">
        <div class='pageLoading'>
            <img src="img\button\ajax-loader.gif" />
        </div>

        <div class="CateMenu categoryBody">
            
        </div>
    </div>
    <style>
        #categoryPage .new{
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 998;
            font-size: 9px;
            border-radius : 10px;
        }

        .pageLoading {
            width: 100%;
            text-align: center;
            height: 50px;
            line-height: 65px;
        }
    </style>
 </ons-page>


