<ons-page id="favoritePage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center"><span data-i18n="LEFTMENU:FOVORITE">즐겨찾기</span></div>
        <div class="right"></div>
    </ons-toolbar>
    <ons-fab position="bottom right" id="prodCart">
        <ons-icon class="myCart" fixed-width="false" size="1x">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="cart" x="0px" y="0px" viewBox="0 0 98 104.2" style="enable-background:new 0 0 98 104.2; stroke: #ff5e00; fill: #fff;" xml:space="preserve">
                <path id="wheel2" class="st0" d="M38.7,77.2c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5s13.5-6,13.5-13.5  C52.2,83.3,46.1,77.3,38.7,77.2z M38.7,95.2c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5s4.5,2,4.5,4.5C43.2,93.2,41.2,95.2,38.7,95.2z"/>
                <path id="wheel1" class="st0" d="M76.3,77.2c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5s13.5-6,13.5-13.5  C89.7,83.3,83.7,77.3,76.3,77.2z M76.3,95.2c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5s4.5,2,4.5,4.5C80.8,93.2,78.7,95.2,76.3,95.2z"/>
                <path id="cartBody" class="st0" d="M96.4,25.9c-1.2-1.4-2.9-2.2-4.7-2.2h-67L20.9,3.7C20.5,1.5,18.7,0,16.5,0h-12C2,0,0,2,0,4.5  S2,9,4.5,9h8.3l5.7,30.2l5,29.1c0.5,3.1,3.1,5.4,6.2,5.5h55.7c3.1-0.1,5.8-2.4,6.2-5.4l6.4-37.1C98.2,29.3,97.6,27.4,96.4,25.9z   M83,64.8H32L27.7,40c0-0.1,0-0.2,0-0.2c0,0,0-0.1,0-0.2l-0.4-2.2l-0.8-4.7h62L83,64.8z"/>
            </svg>
            <span class="notification summaryQty innerFavorite">0</span>
        </ons-icon>
    </ons-fab>

    <div class="card listcard searchList">
        <ons-list id="list-node" on-infinite-scroll="fn.loadMore" class="imageList" data-corp_cd="corp_withu">
            <ons-list-title>
                <span data-i18n="LEFTMENU:FOVORITE" class="titleTab">즐겨찾기</span>
                <div class="totTop">
                    <ons-button class='btnRemoveAll right' modifier='button'><span data-i18n="BSK:ALL_DEL"></span></ons-button>
                </div>
            </ons-list-title>
        </ons-list>
        <div class="after-list" style="display:none;"><img src="img\button\ajax-loader.gif" /></div>
    </div>

    <ons-modal direction="up" id="detailViewPopup" class="modal viewModal">
        <div class="card popHeightScroll">
            <div class="popHead">
                <h4 class="title">
                    <span class="brandNm"></span>
                    <span class="productNm"></span>
                </h4>
            </div>
            <div class="popBody" class="listItem">
                <div class="swiper-container">
                    <div class="swiper-wrapper bottomBanner"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="card" >
                    <div class="list-item__subtitle view_summary">
                        <div class="left">
                            <span class="star">4<i class="fa fa-star"></i></span>
                        </div>
                        <div class="left">
                            <span class='ptit' data-i18n="PRD:AMT">가격</span> : <span class='currancy'></span>
                        </div>
                        <div class="left">
                            <span class='ptit' data-i18n="PRD:ORD_TIMES">주문시간</span> : <span class="dlvTimeSt"></span> ~ <span class="dlvTimeEnd"></span>
                        </div>
                        <div class="left" >
                            <span class='ptit' data-i18n="PRD:REMARK">상품설명</span> : 
                            <span class='content'>상품설명 준비중입니다.</span>
                        </div>
                    </div>
                    <div class="qtyCtrlArea">
                        <ons-button class="btnRadius btnMinusQty"></ons-button>
                        <ons-input input-id="qty" class="qty" type="number" value="0" readonly ></ons-input>
                        <ons-button class="btnRadius btnPlusQty"></ons-button>
                    </div>
                </div>
            </div>
            <div class="star_assess card">
                <ons-button class="btnSetpointer right"><span data-i18n="PRD:STAR">별점평가</span></ons-button>
                <div class="comment_form _comment_wrap">
                    <div class="star_select_area">
                        <p class="star_description" data-i18n="PRD:STAR_MSG">별점을 선택해주세요</p>
                        <div class="star_list _star_wrap starRev">
                            <ons-icon class="starR on"><i class="fa fa-star"></i></ons-icon>
                            <ons-icon class="starR"><i class="fa fa-star"></i></ons-icon>
                            <ons-icon class="starR"><i class="fa fa-star"></i></ons-icon>
                            <ons-icon class="starR"><i class="fa fa-star"></i></ons-icon>
                            <ons-icon class="starR"><i class="fa fa-star"></i></ons-icon>
                        </div>
                        <div class="input_commnet _input_wrap">
                            <div class="text_area">
                                <textarea class="textarea_box" id="PRODUCT_COMMENT" placeholder="한줄평을 등록해주세요."></textarea>
                                <ons-button class="btnAddComment"><span data-i18n="PROFILE:SAVE">등록</span></ons-button>
                            </div>
                            <div class="count_box"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card listcard">
                <ons-list id="list-comment" class="dataList" ></ons-list>

                <div class="after-list">
                    <ons-icon icon="fa-spinner" size="26px" spin></ons-icon>
                </div>
            </div>
            <ons-button class="btnClosePopup"><span data-i18n="COMM:CLS">닫기</span></ons-button>
        </div>

    </ons-modal>
    <ons-dialog id="comment-dialog" cancelable>
        <div>
            <p>
                <span class="dialogMessage">본인이 작성한 댓글과 별점을 삭제하시겠습니까?</span>
            </p>
            <p>
                <ons-button class="btnDialogCancelComment" ><i class="fa fa-close"></i>&nbsp;<span data-i18n="COMM:close">닫기</span></ons-button>
                <ons-button class="btnDialogRemoveComment" ><i class="fa fa-trash-o"></i>&nbsp;<span data-i18n="COMM:ok">삭제</span></ons-button>
            </p>
        </div>
    </ons-dialog>
    <ons-dialog id="favoriteRemove-dialog" cancelable>
        <ons-button class="btnDialogCancel" ></ons-button>
        <p>
            <span class="dialogMessage" data-i18n="DIAG:DEL_FAV_CART">선택한 제품을 즐겨찾기에서 삭제하시겠습니까? </span>
        </p>
        <ons-button class="btnDialogRemoveFavoriteOk"><i class="fa fa-trash-o"></i>&nbsp;<span data-i18n="COMM:ok">삭제</span></ons-button>
    </ons-dialog>

    <ons-dialog id="favoriteRemoveAll-dialog" cancelable>
        <ons-button class="btnDialogCancelAll"></ons-button>
        <p>
            <span class="dialogMessage" data-i18n="DIAG:DEL_FAV_CART_ALL">즐겨찾기에 담긴 상품 모두 삭제하시겠습니까? </span>
        </p>
        <ons-button class="btnDialogRemoveAllFavoriteOk"><i class="fa fa-trash-o"></i>&nbsp;<span data-i18n="COMM:ok">삭제</span></ons-button>
    </ons-dialog>

    <link rel="stylesheet"  href="css/favorite.css" />
    <style>

        #favoritePage .titleTab{
            font-size: 16px;
            font-weight: bold;
        }

        #favoritePage .totTop {
            width: calc( 100% - 70px);
            display: inline-block;
            text-align: right;
        }

        .slideMenu img {
            height:40px;
        }

        #favoritePage .searchAreaAll{
            position: fixed;
            left: 0;
            right: 0;
            z-index: 1;
        }

        #favoritePage .searchList{
            top: 5px;
            position: relative;
        }

        #favoritePage .showTitleProduct .searchIcon{
            right: 60px;
            position: absolute;
        }

        #favoritePage .btnRmFavorite i {
            font-size: 20px;
        }

        #favoritePage .card ons-search-input {
            display: block;
        }

        #favoritePage ons-search-input {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            display: inline-block;
            margin: 5px;
        }

        #favoritePage ons-button.btnSearch {
            background: none;
            border: none;
            position: absolute;
            right: 10px;
            top: 5px;
        }

        #favoritePage .showSearchProduct ons-search-input .search-input{
            min-height: 35px;
            width: 90%;
            border-radius: 20px;
        
        }

        #list-node ons-list-item.list-item .orderTime.green {
            margin-top: 1px;
            font-family: initial;
        }

        #favoritePage .new{
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 998;
            font-size: 9px;
            border-radius : 10px;
        }

        .anuance {
            text-align: center;
            background-color: rgba(255, 255, 255, 1);
            font-family: dohyun;
        }

        .anuance h3 {
            font-size: 22px;
            font-family: dohyun;
        }
        .anuance img{
            width:50%;
        }

        .anuance span {
            display: block;
        }

        .timeArea {
            font-size:18px;
        }

        span.holydays {
            display: inline;
            color: red;
        }

        #detailViewPopup .swiper-pagination{
            width: 25px;
            right: 0;
            left: auto;
        }

        
    </style>

</ons-page>