<ons-page id="grporderlistPage">

	<div class="card listcard noTop grpList">
		
	</div>
	<div class="after-list"><img src="img\button\ajax-loader.gif" /></div>

	<style>
				
		/* 주문내역 */
		#grporderlistPage > .page__content {
			padding: 0;
		}
		#grporderlistPage .top {
			margin:8px 0;
			font-size: 16px;
			display: flex;
			justify-content: space-between;
		}
		#grporderlistPage > .page__content h4.title {
			margin: 0.5rem 1rem;
		}

		#grporderlistPage .top .list-item__title span {
			display: block;
			margin-top: 2px;
			font-size: 13px;
			color: #898989;
			margin-bottom: 2px;
		}

		#grporderlistPage .top .list-item__title span.sublabel {
			display: inline-block;
			width: 65;
			text-align: right;
		}

		#grporderlistPage .top .f_right ons-button {
			background: none;
			border: none;
			color: #f00;
			height: auto;
			padding: 0;
			font-size: 14px;
		}
		#grporderlistPage .bottom {
			text-align: center;
			padding: .5rem 1rem;
			margin-bottom: 0.5rem;
			/* border-top: 1px solid #dedee0; */
			/* border-bottom: 1px solid #dedee0; */
			display: flex;
			justify-content: space-between;
		}

		#grporderlistPage .dataList {
			font-size:14px;
			border-top: 1px solid #dedee0;
			padding: 0 1rem;
		}
		#grporderlistPage .dataList:first-of-type {
			border-top-color: transparent;
		}
		#grporderlistPage .dataList .right {
			display: flex;
			justify-content: space-between;
		}
		#grporderlistPage .right ons-button {
			background: none;
			border:none;
			color:blue;
			font-size: 13px;
			margin-top: 5px;


		}
		#grporderlistPage .right ons-button.statusName:before {
			display: inline-block;
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background: #ffbc00;
			margin-right: 3px;
		}
		#grporderlistPage .right ons-button.btnOrderMap {
			color: #329ddf;
		}

		#grporderlistPage .f_right{
			float:right;
			text-align: right;
		}

		#grporderlistPage ul.orderSummary {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		#grporderlistPage ul.orderSummary li {
			min-height: 40px;
			color: #000;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 13px;
			/* padding: 5px; */
		}
		#grporderlistPage ul.orderSummary li:after {
			display: table;
			clear: both;
			content: '';
		}
		#grporderlistPage ul.orderSummary li .itemName {
			flex: 1;
		}
		#grporderlistPage ul.orderSummary li .itemName img {
			margin-right: 5px;
			border-radius: 10px;
		}
		#grporderlistPage ul.orderSummary li .itemQty ons-button {
			background: none;
		}
		#grporderlistPage ul.orderSummary li .itemQty ons-button svg {
			margin-right: 0;
			margin-left: 5px;
		}
		#grporderlistPage .bottom ons-button {
			width: 100%;
			padding: 0 5px;
			text-align: center;
			margin: 0 5px;
		}
		#grporderlistPage .bottom ons-button:first-of-type {
			margin-left: 0;
		}
		#grporderlistPage .bottom ons-button:last-of-type {
			margin-right: 0;
		}

		#grporderlistPage .marker {
			color:red;
		}


		.item_corpInfo{
			display:block;
			font-size:13px;
		}
		
		.saleCorpNm {
			/* opacity: 0.7; */
			color:#898989;
			font-size:11px;
			font-family: none;
		}

		.reloadArea {
			text-align: center;
		}

		#grporderlistPage .segment {
			width: 100%;
			height: 35px;
			text-align: center;
			margin:8px auto 0 auto;
		}


		#grporderlistPage .segment ons-button{
			color: gray;
			width: 32%;
			font-size: 12px;
			margin: 0;
			/* background: #fffe00; */
			/* opacity: 0.4; */
			margin: 0 auto;
			border: 1px solid;
			padding: 0;
			height: 35px;
		}

		#grporderlistPage .segment ons-button:disabled{
			font-weight: normal;
			color:inherit;
		}

		#grporderlistPage .segment .chLine{
			color: #ff5e00;
		}

		#grporderlistPage .segment.menu {
			color: gray;
			width: 100%;
			font-size: 12px;
			margin: 0 auto;
			
			padding: 0;
			height: 35px;
			background: none;
		}

		#grporderlistPage .segment.menu ons-button{
			width:43%;
			background: none;
			border: 1px solid;
		}

		#grporderlistPage .segment.menu ons-button.checked{
			background:green;
			color:white;
		}


		#grporderlistPage span.subtitle {
			min-width: 50px;
			display: inline-block;
			text-align: right;
			font-size: 12px;
			width: 63px;
			padding-right:5px;
			color: #898989;
		}

		#grporderlistPage .delvddr{
			display: inline-block;
			color: black;
			text-align: left;
			width: calc(100% - 85px);
			word-break: break-word;
			margin-top: 5px;
		}

		#grporderlistPage .delvTel{
			float: right;
		}

		#grporderlistPage .top {
			border-bottom: 1px dashed gray;
		}

		#grporderlistPage .center{
			border-bottom: 1px dashed gray;
		}
		#grporderlistPage .center div {
			min-height: 20px;
		}

		#grporderlistPage ul.orderSummary {
			padding-top: 5px;
			border-top: 1px solid #dedee0;
		}

		#grporderlistPage span.amtOption {
			min-width: 27%;
			display: inline-block;
			text-align: right;
			/* overflow: hidden; */
			width: auto;
			font-size: 11px;
		}

		#grporderlistPage hr {
			margin: 0px 0 6px 0;
    		border: 0.5px dashed darkgray;
		}

	</style>
</ons-page>