<ons-page id="locationMapPage">

	<ons-toolbar>
		<div class="left">
			<ons-back-button>Back</ons-back-button>
		</div>
		<div class="center">배달원 위치</div>
	</ons-toolbar>

	<div class="card mapArea">
		<ons-progress-circular indeterminate></ons-progress-circular>
		<div id="dlvMap" class="map_canvas" ></div>
	</div>

	<div class="card">
		<ons-input class="addr1" placeholder="현재위치" float readonly="readonly"></ons-input>
	</div>
	<style>
        #locationMapPage .card{
            padding:0 5px 0 5px ;
            border-radius:0;
            margin-top:10px;
        }

        ons-progress-circular{
            display:block;
            margin:0 auto;
            text-align:center;
        }

        /* #locationMapPage #dlvMap {
            height:500px;
        } */


        /* 구글맵은 구글맵객체의 div의 상단 높이 영향을 받음 */
        #locationMapPage .mapArea{
            height: calc(100% - 70px);
            margin-bottom: 10px;
        }

        #locationMapPage .map_canvas{
            width: 100%;
            /* 최소 높이는 Gallaxy 5S  기준임 */
            min-height: 320px;
            height: 100%;
        }


    </style>

</ons-page>
