<ons-page id="orderIndexPage">
    <ons-tabbar id="orderTabbar" position="top" animation="none">
        <ons-tab label="일반주문" class="tabCm" page="html/product/orderlist.html" active></ons-tab>
        <ons-tab label="공동구매" class="tabGB" page="html/product/gporderlist.html" ></ons-tab>
    </ons-tabbar>
    <style>

        #orderTabbar {
            top:0 !important;
        }
        #orderTabbar .tabbar__content{
            bottom:0px;
        }
    </style>
</ons-page>