<ons-page id="ordrlistPage">

	<div class="card listcard noTop commonList"></div>
	<div class="after-list"><img src="img\button\ajax-loader.gif" /></div>

	<style>

		.top > .list-item__title{
			color:#ff5e00;
		}
		.item_corpInfo{
			display:block;
			font-size:13px;
		}
		.saleCorpNm {
			/* opacity: 0.7; */
			color:#898989;
			font-size:11px;
			font-family: none;
		}

		.reloadArea {
			text-align: center;
		}

		#ordrlistPage .segment {
			width: 100%;
			height: 35px;
			text-align: center;
			margin:8px auto 0 auto;
		}

		#ordrlistPage .segment ons-button{
			color: gray;
			width: 32%;
			font-size: 12px;
			margin: 0;
			/* background: #fffe00; */
			/* opacity: 0.4; */
			margin: 0 auto;
			border: 1px solid;
			padding: 0;
			height: 35px;
		}

		#ordrlistPage .segment ons-button:disabled{
			font-weight: normal;
			color:inherit;
		}

		#ordrlistPage .segment .chLine{
			color: #ff5e00;
		}

		#ordrlistPage .segment.menu {
			color: gray;
			width: 100%;
			font-size: 12px;
			margin: 0 auto;
			
			padding: 0;
			height: 35px;
			background: none;
		}

		#ordrlistPage .segment.menu ons-button{
			width:43%;
			background: none;
			border: 1px solid;
		}

		#ordrlistPage .segment.menu ons-button.checked{
			background:green;
			color:white;
		}

		#ordrlistPage .grpList{
			display:none;
		}
	

		#ordrlistPage span.subtitle {
			min-width: 50px;
			display: inline-block;
			text-align: right;
			font-size: 12px;
			width: 63px;
			padding-right:5px;
			color: #898989;
		}

		#ordrlistPage .delvddr{
			display: inline-block;
			color: black;
			/* text-align: right; */
			width: calc(100% - 95px);
			word-break: break-word;
			margin-top: 5px;
		}

		#ordrlistPage .delvTel{
			float: right;
		}

		#ordrlistPage .top {
			border-bottom: 1px dashed gray;
		}

		#ordrlistPage .center{
			border-bottom: 1px dashed gray;
		}
		#ordrlistPage .center div {
			min-height: 20px;
		}

		#ordrlistPage ul.orderSummary {
			padding-top: 5px;
			border-top: 1px solid #dedee0;
		}

		#ordrlistPage span.amtOption {
			min-width: 27%;
			display: inline-block;
			text-align: right;
			/* overflow: hidden; */
			width: auto;
			font-size: 11px;
		}

		#ordrlistPage hr {
			margin: 0px 0 6px 0;
    		border: 0.5px dashed darkgray;
		}
	</style>
</ons-page>
