<ons-page id="productListPage">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center algnCenter searchProduct">
            <div class="showTitleProduct">
                <img class="corpLogo" src="img/404.PNG" />
                <span></span>
                <ons-button modifier="outline" class="btnSearch">
                    <svg version="1.1" id="search_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 105.1 104.7" style="enable-background:new 0 0 105.1 104.7;" xml:space="preserve">
                    <path id="search" class="st0" d="M103.7,96.8L74.2,67.8c-1.7-1.8-4.6-1.8-6.3,0c0,0,0,0,0,0c-0.9,1-1.8,1.9-2.8,2.7
                        c-6.5,5.2-14.7,7.9-23,7.5C24.5,77.1,10.4,63.3,9.1,45.9c-1.3-19,13-35.5,32.1-36.8s35.5,13,36.8,32.1c0.2,3.4,0,6.9-0.8,10.3
                        c-0.4,1.6,0.1,3.2,1.3,4.3c1.2,1.1,2.8,1.5,4.3,1c1.6-0.5,2.8-1.7,3.1-3.3c5.5-23.4-9-46.8-32.3-52.3s-46.8,9-52.3,32.3
                        s9,46.8,32.3,52.3c13,3.1,26.7,0,37.1-8.3l0.3-0.3l26.5,26.2c0.8,0.8,2,1.3,3.2,1.3h0.2c1.2,0,2.4-0.6,3.2-1.5
                        C105.6,101.2,105.4,98.5,103.7,96.8z"/>
                    </svg>
                </ons-button>
            </div>

            <div class="showSearchProduct" style="display:none">
                <ons-search-input class="searchItem" id="searchItem" placeholder="검색어를 입력하세요" ></ons-search-input>
                <ons-button modifier="outline" class="search btnSearch">
                    <svg version="1.1" id="search_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 105.1 104.7" style="enable-background:new 0 0 105.1 104.7;" xml:space="preserve">
                    <path id="search" class="st0" d="M103.7,96.8L74.2,67.8c-1.7-1.8-4.6-1.8-6.3,0c0,0,0,0,0,0c-0.9,1-1.8,1.9-2.8,2.7
                        c-6.5,5.2-14.7,7.9-23,7.5C24.5,77.1,10.4,63.3,9.1,45.9c-1.3-19,13-35.5,32.1-36.8s35.5,13,36.8,32.1c0.2,3.4,0,6.9-0.8,10.3
                        c-0.4,1.6,0.1,3.2,1.3,4.3c1.2,1.1,2.8,1.5,4.3,1c1.6-0.5,2.8-1.7,3.1-3.3c5.5-23.4-9-46.8-32.3-52.3s-46.8,9-52.3,32.3
                        s9,46.8,32.3,52.3c13,3.1,26.7,0,37.1-8.3l0.3-0.3l26.5,26.2c0.8,0.8,2,1.3,3.2,1.3h0.2c1.2,0,2.4-0.6,3.2-1.5
                        C105.6,101.2,105.4,98.5,103.7,96.8z"/>
                    </svg>
                </ons-button>

            </div>

        </div>
        <div class="right">
            <div class="card btnMenuCategory">
                <ons-button class="btnCollapseMenu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.85 81.12">
                        <g id="all_view"><path id="view1" d="M29.21.06,7.21,0h0a7,7,0,0,0-7,7L.13,29a7,7,0,0,0,7,7l22,.06h0a7,7,0,0,0,7-7l.06-22a7,7,0,0,0-7-7Zm-1.08,28L8.13,28,8.19,8l20,.06Z"/><path id="view2" d="M78.81,2.25A7,7,0,0,0,73.87.19l-22-.06h0a7,7,0,0,0-7,7l-.07,22a7,7,0,0,0,7,7l22,.06h0a7,7,0,0,0,7-7l.07-22A7,7,0,0,0,78.81,2.25Zm-6,25.93-20-.05.05-20,20,0Z"/><path id="view3" d="M29.08,45l-22-.06h0a7,7,0,0,0-7,7L0,73.91a7,7,0,0,0,7,7L29,81h0a7,7,0,0,0,7-7l.06-22a7,7,0,0,0-7-7ZM28,73,8,72.93l.06-20,20,.06Z"/><path id="view4" d="M73.74,45.12l-22-.06a7,7,0,0,0-7,7l-.07,22a7,7,0,0,0,7,7l22,.06h0a7,7,0,0,0,7-7l.07-22A7,7,0,0,0,73.74,45.12Zm-1.08,28-20-.06.05-20,20,.06Z"/></g></svg>
                </ons-button>
            </div>
          
        </div>
    </ons-toolbar>
    <ons-fab position="bottom center" id="searchFilter">
        <ons-icon>
            <span data-i18n="PRD:LINEUP">정렬</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.75 86" style="height: 12px">
                <g id="filter">
                    <path d="M20.5,47.16V4.5a4.5,4.5,0,0,0-9,0V47.16a16,16,0,0,0,0,30.68V81.5a4.5,4.5,0,0,0,9,0V77.84a16,16,0,0,0,0-30.68Zm0,20.69A7,7,0,1,1,23,62.5,7,7,0,0,1,20.5,67.85Z"/>
                    <path d="M57.25,7.66V4.5a4.5,4.5,0,0,0-9,0V7.66a16,16,0,0,0,0,30.68V81.5a4.5,4.5,0,0,0,9,0V38.34a16,16,0,0,0,0-30.68Zm0,20.69A7,7,0,1,1,59.75,23,7,7,0,0,1,57.25,28.35Z"/>
                    <path d="M94.25,42.66V4.5a4.5,4.5,0,0,0-9,0V42.66a16,16,0,0,0,0,30.68V81.5a4.5,4.5,0,0,0,9,0V73.34a16,16,0,0,0,0-30.68Zm0,20.69A7,7,0,1,1,96.75,58,7,7,0,0,1,94.25,63.35Z"/>
                </g>
            </svg>
        </ons-icon>
    </ons-fab>
    <ons-fab position="bottom right" id="prodCart">
        <ons-icon class="myCart" fixed-width="false" size="1x">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="cart" x="0px" y="0px" viewBox="0 0 98 104.2" style="enable-background:new 0 0 98 104.2; stroke: #ff5e00; fill: #fff;" xml:space="preserve">
                <path id="wheel2" class="st0" d="M38.7,77.2c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5s13.5-6,13.5-13.5  C52.2,83.3,46.1,77.3,38.7,77.2z M38.7,95.2c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5s4.5,2,4.5,4.5C43.2,93.2,41.2,95.2,38.7,95.2z"/>
                <path id="wheel1" class="st0" d="M76.3,77.2c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5s13.5-6,13.5-13.5  C89.7,83.3,83.7,77.3,76.3,77.2z M76.3,95.2c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5s4.5,2,4.5,4.5C80.8,93.2,78.7,95.2,76.3,95.2z"/>
                <path id="cartBody" class="st0" d="M96.4,25.9c-1.2-1.4-2.9-2.2-4.7-2.2h-67L20.9,3.7C20.5,1.5,18.7,0,16.5,0h-12C2,0,0,2,0,4.5  S2,9,4.5,9h8.3l5.7,30.2l5,29.1c0.5,3.1,3.1,5.4,6.2,5.5h55.7c3.1-0.1,5.8-2.4,6.2-5.4l6.4-37.1C98.2,29.3,97.6,27.4,96.4,25.9z   M83,64.8H32L27.7,40c0-0.1,0-0.2,0-0.2c0,0,0-0.1,0-0.2l-0.4-2.2l-0.8-4.7h62L83,64.8z"/>
            </svg>
            <span class="notification summaryQty innerBasket">0</span>
        </ons-icon>
    </ons-fab>
    <div class="lnb card ">
        <!-- <div class="left" >
            <img width="" src="img/main/withu.png" class="goWithUCategory" />
        </div> -->
        <div class="card slideMenu">
            <div class="swiper-container_lnb">
                <div class="swiper-wrapper cateMenu"></div>
            </div>
        </div>
    </div>

    <div class="card listcard listProduct">
        <h4 class="cateName">소메뉴</h4>
        <div class='anuance'></div>
        <ons-list id="list-node" on-infinite-scroll="fn.loadMore" class="imageList" data-corp_cd="corp_withu"></ons-list>
        <div class="after-list"><img src="img\button\ajax-loader.gif" /></div>
    </div>
    
    <ons-dialog id="comment-dialog" cancelable>
        <div>
            <p>
                <span class="dialogMessage">본인이 작성한 댓글과 별점을 삭제하시겠습니까?</span>
            </p>
            <p>
                <ons-button class="btnDialogCancelComment" icon="fa-close">&nbsp;<span data-i18n="COMM:close"></span></ons-button>
                <ons-button class="btnDialogRemoveComment" icon="fa-send-o">&nbsp;<span data-i18n="COMM:ok"></span></ons-button>
            </p>
        </div>
    </ons-dialog>
    <ons-modal direction="up" id="menuViewPopup" class="modal viewModal">
        <div class="card popScroll">
            <div class="popHead">
                <h4 class="title">
                    <img class="corpLogo" src="img/404.PNG" />
                    <span class="corpName">위드유 마트</span><small data-i18n="PRD:CLASSIFY">상품 분류</small>
                </h4>
            </div>

            <div class="popBody CateMenu"></div>
        </div>
        <p class="btnPopBottomArea">
            <ons-button class="btnCloseCollapseMenu">
                <span data-i18n="COMM:CLS">닫기</span>
            </ons-button>
        </p>
    </ons-modal>
    <style>
        .slideMenu img {
            height:40px;
        }

        #productListPage ons-toolbar .center span {
            vertical-align: baseline;
        }

        #productListPage ons-search-input {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            display: inline-block;
            margin: 5px;
            width: 100%;
        }

        #productListPage h4.cateName{
            font-size: 16px !important;
            color: #FF5E00;
            width: auto;        
            margin: 10px 10px 0 16px;
            border-bottom: 1px solid #FF5E00;
            font-weight: bold;
        }
        #productListPage ons-button.btnSearch {
            background: none;
            border: none;
            position: fixed;
            right: 45px;
            top:8px;
        }

        #productListPage .showSearchProduct ons-search-input .search-input{
            min-height: 35px;
            width: 90%;
            border-radius: 20px;
        
        }

        #list-node ons-list-item.list-item .orderTime.green {
            margin-top: 1px;
            font-family: initial;
        }

        #productListPage .new{
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 998;
            font-size: 9px;
            border-radius : 10px;
        }

        .anuance {
            text-align: center;
            background-color: rgba(255, 255, 255, 1);
            font-family: dohyun;
        }

        .anuance h3 {
            font-size: 22px;
            margin: 5px 0;
        }
        .anuance img{
            width:40%;
        }

        .anuance span {
            display: block;
        }

        .timeArea {
            font-size:18px;
        }

        span.holydays {
            display: inline;
            color: red;
        }

    </style>

</ons-page>
