<ons-page id="productIndexPage">

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center algnCenter"><span class="categoryTitle">각 과자</span></div>
        <div class="right"></div>
    </ons-toolbar>
    <div id="categoryWapper">
       
    </div>
 </ons-page>
